nodered
[{"id":"7f81ae20.61519","type":"tab","label":"SIP Flow","disabled":false,"info":""},{"id":"144049cb.459d96","type":"tab","label":"Page Rendering","disabled":false,"info":""},{"id":"8947e16a.c645f8","type":"websocket-listener","z":"","path":"/ws/listener","wholemsg":"true"},{"id":"759a025.71509fc","type":"dashDB","z":"","hostname":"dashdb-entry-yp-dal10-01.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DB2"},{"id":"43d08a57.f16084","type":"wml-config","z":"","host":"https://ibm-watson-ml.mybluemix.net","accesskey":"1","instanceid":"5302c7dc-ff05-4ff2-be2a-1b2f67e8ca76","name":""},{"id":"5f4d33f1.d7c54c","type":"http response","z":"7f81ae20.61519","name":"","statusCode":"","headers":{},"x":970,"y":320,"wires":[]},{"id":"263063ed.6a098c","type":"watson-conversation-v1","z":"7f81ae20.61519","name":"Watson Assistant","workspaceid":"b253b587-a51c-45b7-b115-99b9433a9c48","multiuser":true,"context":false,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":470,"y":100,"wires":[["8752362e.e48bc8"]]},{"id":"c50680.3928798","type":"websocket out","z":"7f81ae20.61519","name":"ws","server":"8947e16a.c645f8","client":"","x":1070,"y":120,"wires":[]},{"id":"9abc7e6f.29d868","type":"function","z":"7f81ae20.61519","name":"","func":"msg2 = {};\nmsg2.chat = msg.chat;\nmsg2.user = msg.user;\n\nreturn msg2;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["c50680.3928798"]]},{"id":"53c3ab64.6e183c","type":"http in","z":"7f81ae20.61519","name":"","url":"/sip","method":"post","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["68970a33.7e8b0c"]]},{"id":"68970a33.7e8b0c","type":"function","z":"7f81ae20.61519","name":"SIP Input","func":"var ucontext = flow.get('ucontext');\nvar agents = flow.get('agents');\nif (typeof(ucontext) == \"undefined\"){\n    ucontext = [];\n}\nmsg.user = msg.payload.context.vgwSIPFromURI.match(/\\d*(?=@)/)[0];\n    \n\nif (typeof(ucontext[msg.user]) == \"undefined\"){\n    ucontext[msg.user] = {};\n}\nmsg.params = {};\nmsg.params.context = ucontext[msg.user];\nmsg.params.context.agent = false;\nmsg.params.context.vgwPostResponseTimeoutCount = 20000;\n\nmsg.payload = msg.payload.input.text;\n\nvar index = agents.indexOf(msg.user);\nif (index > -1) \n    return [msg, null];\nelse\n    return [null,msg];\n","outputs":2,"noerr":0,"x":260,"y":360,"wires":[["2c2c794.65dde86","6df7c4a6.e48114"],["a6382c00.4a7688","44a6f523.22f824","6df7c4a6.e48114"]]},{"id":"8752362e.e48bc8","type":"function","z":"7f81ae20.61519","name":"Assemble","func":"var ucontext = flow.get('ucontext');\nucontext[msg.user] = msg.payload.context;\nflow.set('ucontext',ucontext);\n\nvar text = msg.payload.output.text.join(' ');\ntext = text.replace(/<[^>]*>/g, \" \");\nmsg.payload.text = text;\nmsg.time= (new Date()).toTimeString().slice(0,5);\n\n\nvar t = {};\nt.user = msg.user;\nt.payload = text;\n\nreturn [msg,t];\n","outputs":2,"noerr":0,"x":660,"y":100,"wires":[["3622670d.bb5bb"],["7ffd4f2.931043"]]},{"id":"acd20cab.3ff4f8","type":"websocket in","z":"7f81ae20.61519","name":"","server":"8947e16a.c645f8","client":"","x":140,"y":100,"wires":[["e8ea8a95.10ba68"]]},{"id":"e8ea8a95.10ba68","type":"function","z":"7f81ae20.61519","name":"Input","func":"var ucontext = flow.get('ucontext');\nif (typeof(ucontext) == \"undefined\"){\n    ucontext = [];\n}\n\nif (typeof msg.context !== 'undefined'){\n    msg.params = {}\n    msg.params.context = msg.context;\n}\n\nif (typeof(ucontext[msg.user]) == \"undefined\"){\n    ucontext[msg.user] = {};\n}\n\nmsg.payload = msg.text === \"\" ? \"hello\" : msg.text;\n\nflow.set('ucontext',ucontext);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["263063ed.6a098c","107ef698.437221","1c88dd28.61f1bb"]]},{"id":"3cd34edd.ccb22a","type":"watson-conversation-v1","z":"7f81ae20.61519","name":"Watson Assistant","workspaceid":"b253b587-a51c-45b7-b115-99b9433a9c48","multiuser":true,"context":false,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":570,"y":360,"wires":[["6728c13f.cbb4b8","8752362e.e48bc8","282994b6.79fdec"]]},{"id":"6728c13f.cbb4b8","type":"function","z":"7f81ae20.61519","name":"Assemble","func":"var text = msg.payload.output.text.join('<speak version=\"1.0\"><break strength=\"strong\"></break></speak>');\n\nmsg.payload.output.text = [text];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":360,"wires":[["5f4d33f1.d7c54c"]]},{"id":"3622670d.bb5bb","type":"template","z":"7f81ae20.61519","name":"","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<li class=\"left clearfix\">\n    <span class=\"chat-img pull-left\">\n        <img src=\"http://placehold.it/50/55C1E7/fff&text=U\" alt=\"User Avatar\" class=\"img-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">Watson</strong> <small class=\"pull-right text-muted\">\n                    \n                </div>\n                <p>{{payload.text}}</p>\n            </div>\n</li>","output":"str","x":800,"y":100,"wires":[["9abc7e6f.29d868"]]},{"id":"107ef698.437221","type":"template","z":"7f81ae20.61519","name":"","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<li class=\"right clearfix\">\n    <span class=\"chat-img pull-right\">\n        <img src=\"http://placehold.it/50/FA6F57/fff&text=U\" alt=\"User Avatar\" class=\"img-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">You</strong>\n                </div>\n                <p>{{payload}}</p>\n            </div>\n</li>","output":"str","x":800,"y":180,"wires":[["9abc7e6f.29d868"]]},{"id":"44a6f523.22f824","type":"function","z":"7f81ae20.61519","name":"","func":"msg.payload = msg.payload === \"\" ? \"hello\" : msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["3cd34edd.ccb22a"]]},{"id":"a6382c00.4a7688","type":"function","z":"7f81ae20.61519","name":"","func":"if(msg.payload !== \"\" && msg.payload !== \"vgwHangUp\" && msg.payload !== \"vgwPostResponseTimeout\")\n    return msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["107ef698.437221"]]},{"id":"91d9aca6.c0eb58","type":"http request","z":"7f81ae20.61519","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":400,"wires":[[]]},{"id":"83c24ced.09785","type":"http in","z":"7f81ae20.61519","name":"","url":"/agentCallback","method":"post","upload":false,"swaggerDoc":"","x":160,"y":60,"wires":[["b39e61a6.1adda"]]},{"id":"b39e61a6.1adda","type":"function","z":"7f81ae20.61519","name":"","func":"agents = flow.get(\"agents\");\nmsg.user = msg.req.query.from;\n\nif (msg.payload.CallStatus == \"in-progress\"){\n    agents.push(msg.user);\n    return [msg, null];\n}\nelse{\n    var index = agents.indexOf(msg.user);\n    if (index > -1) {\n        agents.splice(index, 1);\n    }\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":410,"y":60,"wires":[["eacc17d3.be39f"],["5f4d33f1.d7c54c"]]},{"id":"2390dbe.92f82a4","type":"start-up-trigger","z":"7f81ae20.61519","x":140,"y":660,"wires":[["a47bd6eb.9809d"]]},{"id":"a47bd6eb.9809d","type":"change","z":"7f81ae20.61519","name":"","rules":[{"t":"set","p":"agents","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":660,"wires":[[]]},{"id":"2c2c794.65dde86","type":"function","z":"7f81ae20.61519","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["5f4d33f1.d7c54c"]]},{"id":"eacc17d3.be39f","type":"template","z":"7f81ae20.61519","name":"","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<li class=\"left clearfix\">\n    <span class=\"chat-img pull-left\">\n        <img src=\"http://placehold.it/50/55C1E7/fff&text=U\" alt=\"User Avatar\" class=\"img-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">Agent</strong> <small class=\"pull-right text-muted\">\n                    \n                </div>\n                <p>A live agent has joined your call.</p>\n            </div>\n</li>","output":"str","x":800,"y":60,"wires":[["5f4d33f1.d7c54c","9abc7e6f.29d868"]]},{"id":"b5aad6d3.052f","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Search Assistant Demo</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" >\n    \n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" ></script>  \n    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>\n\n    <style>\n        html, body{\n            height: 99% !important;\n            overflow:hidden !important;\n        }\n        .cont1{\n            width: 100% !important;\n            height: 100% !important;\n            overflow: hidden !important;\n        }\n\n        .cont2{\n            width: 100% !important;\n            height: 99% !important;\n            overflow: auto !important;\n            padding-right: 15px !important;\n        }\n        .panel-header{\n            background-color:white;\n    padding: 10px 10px 10px 10px;\n        }\n        .chat\n        {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .chat li\n        {\n            margin-bottom: 10px;\n            padding-bottom: 5px;\n            border-bottom: 1px dotted #B3A9A9;\n        }\n        \n        .chat li.left .chat-body\n        {\n            margin-left: 60px;\n        }\n        \n        .chat li.right .chat-body\n        {\n            margin-right: 60px;\n        }\n        \n        \n        .chat li .chat-body p\n        {\n            margin: 0;\n            color: #777777;\n        }\n        \n        .panel .slidedown .glyphicon, .chat .glyphicon\n        {\n            margin-right: 5px;\n        }\n        .container{\n            margin:0px 0px 0px 0px;\n        }\n        .panel-body {\n            padding: 0px;\n        }\n        \n        \n        \n\n    </style>\n  </head>\n  <body>\n      \n<div class=\"container\" style=\"height:100vh\">\n    <div class=\"row\" style=\"height:100vh\">\n        <div class=\"col-md-5\" style=\"height:100vh\">\n                <div class=\"panel-header\">\n                    <div class=\"input-group\">\n                        <input id=\"btn-input\" type=\"text\" class=\"form-control input-sm\" placeholder=\"Type your message here...\" />\n                        <span class=\"input-group-btn\">\n                            <button class=\"btn btn-info btn-sm\" id=\"btn-chat\">\n                                Send</button>\n                        </span>\n                    </div>\n                </div>\n                <div class=\"panel-body\" style=\"height:90vh;\">\n                    <div class=\"cont1\"><div class=\"cont2\">\n                        <ul class=\"chat\" id=\"chat\">\n                     \n                        </ul>\n                    </div></div>\n                </div>\n        </div>\n    </div>\n</div>\n\n      \n      \n                        \n  </body>\n  <script src=\"/js\"></script>\n</html>","output":"str","x":320,"y":120,"wires":[["b0c4092c.0ce27"]]},{"id":"b0c4092c.0ce27","type":"change","z":"144049cb.459d96","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":120,"wires":[["3064bb99.b0896c"]]},{"id":"73108365.05bdd4","type":"http in","z":"144049cb.459d96","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["b5aad6d3.052f"]]},{"id":"1505d1c5.4c7116","type":"http in","z":"144049cb.459d96","name":"","url":"/js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["1ad5a71a.69e3e1"]]},{"id":"4f78c6ca.411fa8","type":"change","z":"144049cb.459d96","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/javascript","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["3064bb99.b0896c"]]},{"id":"1ad5a71a.69e3e1","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"var getUrlParameter = function getUrlParameter(sParam) {\n    var sPageURL = decodeURIComponent(window.location.search.substring(1)),\n        sURLVariables = sPageURL.split('&'),\n        sParameterName,\n        i;\n\n    for (i = 0; i < sURLVariables.length; i++) {\n        sParameterName = sURLVariables[i].split('=');\n\n        if (sParameterName[0] === sParam) {\n            return sParameterName[1] === undefined ? true : sParameterName[1];\n        }\n    }\n};\n\nvar socket;\n\nattempts = 0\n\n\nyourPhone = getUrlParameter('yourPhone');\nagentPhone = getUrlParameter('agentPhone');\n\n$(\"#btn-chat\").click(function(){\n    var msg = {\n        text: $(\"#btn-input\").val(),\n        user:   yourPhone\n      };\n\tsocket.send(JSON.stringify(msg));\n});\n\n\nfunction updateChat(update){\n    watsonTextArea.value += update;\n    watsonTextArea.scrollTop = watsonTextArea.scrollHeight;\n}\nfunction connect(){\n    var host = \"wss://customerconcierge.mybluemix.net/ws/listener\";\n    try{\n        socket = new WebSocket(host);\n        socket.onopen = function(){console.log(\"socket connected\");}\n        socket.onmessage = function(msg){\n            var json = JSON.parse(msg.data);\n            if(json.user == yourPhone){\n                $(\"#chat\").prepend(json.chat);\n            }\n        }\n        socket.onclose = function () {\n            console.log(\"socket closed\");\n            var time = generateInterval(attempts);\n            setTimeout(function () {\n                attempts++;\n                connect(); \n            }, time);\n        }\n    } catch(exception){console.log('Socket Error: '+exception);}\n    function send(){\n        var text = \"\";\n        try{\n            socket.send(text);\n        } catch(exception){console.log('Socket Error: '+exception);}\n    }\n    function generateInterval (k) {\n        var maxInterval = (Math.pow(2, k) - 1) * 1000;\n        if (maxInterval > 30*1000) {\n            maxInterval = 30*1000; \n        }\n        return Math.random() * maxInterval; \n    }\n}\nif(!(\"WebSocket\" in window)){}\nelse{\n    connect();\n}\n\n","x":320,"y":160,"wires":[["4f78c6ca.411fa8"]]},{"id":"3064bb99.b0896c","type":"http response","z":"144049cb.459d96","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"282994b6.79fdec","type":"function","z":"7f81ae20.61519","name":"","func":"if (msg.payload.context.agent){\n    msg.url = \"https://conciergevoiceserver.mybluemix.net/callAgent?from=\" + msg.user\n    return msg;\n}\n","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["91d9aca6.c0eb58"]]},{"id":"95fc22ac.49cba8","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Search Assistant Demo</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" >\n    \n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://darktribes.mybluemix.net/stylesheets/style.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" ></script>  \n    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>\n    <style>\n      .btn-default{ text-align: center; }\n    input[type=\"checkbox\"]{\n        margin-right:8px;\n    }\n\n    p{\n        margin: 0 0 2px;\n        clear:both;\n    }\n    \n    p.size{\n        font-size: 14px;\n    }\n        .cont1{\n            width: 100% !important;\n            height: 100% !important;\n            overflow: hidden !important;\n        }\n\n        .cont2{\n            width: 100% !important;\n            height: 100% !important;\n            overflow: auto !important;\n            padding-right: 15px !important;\n        }\n        \n        .chat\n        {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .chat li\n        {\n            margin-bottom: 10px;\n            padding-bottom: 5px;\n            border-bottom: 1px dotted #B3A9A9;\n        }\n        \n        .chat li.left .chat-body\n        {\n            margin-left: 60px;\n        }\n        \n        .chat li.right .chat-body\n        {\n            margin-right: 60px;\n        }\n        \n        \n        .chat li .chat-body p\n        {\n            margin: 0;\n            color: #777777;\n        }\n        \n        .panel .slidedown .glyphicon, .chat .glyphicon\n        {\n            margin-right: 5px;\n        }\n        .jumbotron{\n            margin-top:40px;\n        }\n    </style>\n  </head>\n  <body>\n<nav class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n            <ul class=\"nav navbar-nav hidden-xs\">\n            <li class=\"dropdown\">\n                <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">\n                    <div class=\"micon\"></div><div class=\"micon\"></div><div class=\"micon\"></div>\n                </a>\n                <ul class=\"dropdown-menu\">\n                    <li><a href='https://ibm.biz/darkTribes'>Illuminating Dark Tribes with Watson</a></li><li><a href='http://ibm.biz/vegetationManagement'>Cognitive Vegetation Optimization</a></li><li><a href='http://ibm.biz/chatClassification'>Cognitive Chat Demo</a></li><li><a href='http://commscalendarapi.mybluemix.net/news/'>Cognitive News Demo</a></li><li role=\"separator\" class=\"divider\"></li><li><a href=\"http://ibm.biz/commsdemos\">Demo Blog</a></li>\n                </ul>\n            </li>\n            </ul>\n            <a class=\"navbar-brand\" href=\"#\">\n                <img alt=\"\" src=\"https://console-dal10-red.cdn.s-bluemix.net/cache/b86-87010155/api/v6/img/ibm-cloud-logo-white.svg\">\n                <h2 class=\"bx--logo__text\">IBM&nbsp;<span class=\"bx--logo__text--bold\">Cloud</span></h2><h4 class=\"bx--global-header__title--current-page\">Demo</h4>\n            </a> \n            \n        </div>\n        <div id=\"navbar\" class=\"navbar-collapse collapse\">\n            <ul class=\"nav navbar-nav navbar-right\">\n                <li><a target=\"_blank\" href=\"https://console.bluemix.net/registration/?target=%2Fdashboard%2Fapps\">Start Free Today!</a></li>\n                <li><a target=\"_blank\" href=\"https://www-01.ibm.com/marketing/iwm/dre/signup?source=MAIL-watson&disableCookie=Yes\">Contact Us</a></li>\n            </ul>\n        </div>\n      </div>\n    </nav>\n    <div class=\"jumbotron\">\n      <div class=\"container\">\n            <div class=\"col-md-4\">\n                <div class=\"input-group mb-3\">\n                                <input id=\"phoneInput\" name=\"phoneInput\" type=\"text\" class=\"form-control\" placeholder=\"Phone Number\" aria-label=\"Phone Number\" aria-describedby=\"basic-addon2\">\n                                <span class=\"input-group-btn\">\n                                    <button id=\"btnPhone\" type=\"submit\" class=\"btn btn-primary\"><i class=\"fa fa-download fa-rotate-270\" aria-hidden=\"true\"></i></button>\n                                </span>\n                            </div>\n            </div>\n            <div class=\"col-md-4\">\n                <p>Agent control panel</p>\n            </div>\n            <div class=\"col-md-4\">\n            </div>\n      </div>\n    </div>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-4\">\n            <div class=\"panel panel-default\" style=\"margin-bottom: 0px;padding-bottom: 0px;\"\">\n                <div class=\"panel-heading\">Customer Chat</div>\n                <div class=\"panel-body\">\n                        <ul class=\"chat\" id=\"chat\">\n                     \n                        </ul>\n                </div>\n            </div>\n        </div>\n        <div class=\"col-md-8\">\n            <div class=\"panel panel-default\" style=\"margin-bottom: 0px;padding-bottom: 0px;\">\n                      <div style=\"height:900px\" id=\"sentiment\" ></div>\n            </div>\n        </div>\n    </div>\n</div>\n  </body>\n\n  <script src=\"/jsagent\"></script>\n  <script src=\"/cognosApi\"></script>\n  <script src=\"/cognos\"></script>\n    </html>","output":"str","x":320,"y":300,"wires":[["8ca36ea7.90b158"]]},{"id":"8ca36ea7.90b158","type":"change","z":"144049cb.459d96","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["5ae47ad7.a02174"]]},{"id":"9f134ae1.e07c8","type":"http in","z":"144049cb.459d96","name":"","url":"/agent","method":"get","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["95fc22ac.49cba8"]]},{"id":"7ec1cad6.c7c574","type":"http in","z":"144049cb.459d96","name":"","url":"/jsagent","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["6370bb38.b21d6c"]]},{"id":"71626242.05a19c","type":"change","z":"144049cb.459d96","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/javascript","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["5ae47ad7.a02174"]]},{"id":"6370bb38.b21d6c","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"var getUrlParameter = function getUrlParameter(sParam) {\n    var sPageURL = decodeURIComponent(window.location.search.substring(1)),\n        sURLVariables = sPageURL.split('&'),\n        sParameterName,\n        i;\n\n    for (i = 0; i < sURLVariables.length; i++) {\n        sParameterName = sURLVariables[i].split('=');\n\n        if (sParameterName[0] === sParam) {\n            return sParameterName[1] === undefined ? true : sParameterName[1];\n        }\n    }\n};\n\nvar chartDate = new Date( Date.now() - (5000 * 60) ).toISOString().substr(0, 23);\n\nvar socket;\n\nattempts = 0\n\n\nyourPhone = getUrlParameter('yourPhone');\n$(\"#phoneInput\").val(yourPhone);\nagentPhone = getUrlParameter('agentPhone');\n\n\n$(\"#btnPhone\").click(function(){\n    var url = \"https://customerconcierge.mybluemix.net/agent?yourPhone=\" + $(\"#phoneInput\").val();\n      document.location = url;\n});\n\n\nfunction updateChat(update){\n    watsonTextArea.value += update;\n    watsonTextArea.scrollTop = watsonTextArea.scrollHeight;\n}\nfunction connect(){\n    var host = \"wss://customerconcierge.mybluemix.net/ws/listener\";\n    try{\n        socket = new WebSocket(host);\n        socket.onopen = function(){console.log(\"socket connected\");}\n        socket.onmessage = function(msg){\n            var json = JSON.parse(msg.data);\n            if(json.user == yourPhone){\n                $(\"#chat\").prepend(json.chat);\n            }\n        }\n        socket.onclose = function () {\n            console.log(\"socket closed\");\n            var time = generateInterval(attempts);\n            setTimeout(function () {\n                attempts++;\n                connect(); \n            }, time);\n        }\n    } catch(exception){console.log('Socket Error: '+exception);}\n    function send(){\n        var text = \"\";\n        try{\n            socket.send(text);\n        } catch(exception){console.log('Socket Error: '+exception);}\n    }\n    function generateInterval (k) {\n        var maxInterval = (Math.pow(2, k) - 1) * 1000;\n        if (maxInterval > 30*1000) {\n            maxInterval = 30*1000; \n        }\n        return Math.random() * maxInterval; \n    }\n}\nif(!(\"WebSocket\" in window)){}\nelse{\n    connect();\n}\n\n","x":320,"y":340,"wires":[["71626242.05a19c"]]},{"id":"5ae47ad7.a02174","type":"http response","z":"144049cb.459d96","name":"","statusCode":"","headers":{},"x":690,"y":320,"wires":[]},{"id":"5ae7882c.5c19f8","type":"natural-language-understanding","z":"7f81ae20.61519","name":"NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":510,"y":460,"wires":[["44dcbec.bc8f74"]]},{"id":"7c64268a.965f","type":"dashDB out","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","table":"SENTIMENT","name":"Sentiment","x":810,"y":460,"wires":[]},{"id":"44dcbec.bc8f74","type":"function","z":"7f81ae20.61519","name":"","func":"t = msg;\nmsg.payload =\n{\n    ETIME: 'TIMESTAMP',\n    USER : t.user,\n    SCORE : t.features.sentiment.document.score\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["7c64268a.965f"]]},{"id":"b0c5331d.510448","type":"link in","z":"7f81ae20.61519","name":"NLU","links":["6df7c4a6.e48114","1c88dd28.61f1bb","7ffd4f2.931043","546a9a80.8a6ee4"],"x":415,"y":460,"wires":[["5ae7882c.5c19f8"]]},{"id":"6df7c4a6.e48114","type":"link out","z":"7f81ae20.61519","name":"","links":["b0c5331d.510448","1c1bebd.6956d94"],"x":375,"y":400,"wires":[]},{"id":"1c88dd28.61f1bb","type":"link out","z":"7f81ae20.61519","name":"","links":["b0c5331d.510448","1c1bebd.6956d94"],"x":395,"y":140,"wires":[]},{"id":"7ffd4f2.931043","type":"link out","z":"7f81ae20.61519","name":"Watson","links":["b0c5331d.510448"],"x":755,"y":140,"wires":[]},{"id":"2fb169c0.a548ae","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var dashSpec = {\n    \"name\":\"New dashboard\",\n    \"layout\": {\n        \"id\":\"page0\",\n        \"items\":[ {\n            \"id\": \"page1\", \"items\": [ \n        {\n            \"id\":\"model00000163f5e901e2_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"240px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        ,\n        {\n            \"id\":\"model00000163faa38c50_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"240px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        },\n        {\n            \"id\":\"model00000163faae1960_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"380px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        },\n        {\n            \"id\":\"model00000164008cb5ce_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"240px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        ,\n        {\n            \"id\":\"model000001640098ef5a_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"240px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        ,\n        {\n            \"id\":\"model00000164009d22c0_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"190px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        ,\n        {\n            \"id\":\"model00000164009fd2d2_00000000\",\n            \"style\": {\n                \"height\": \"200px\", \"width\": \"190px\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        ,\n        {\n            \"id\":\"model0000016401b3c240_00000000\",\n            \"style\": {\n                \"height\": \"115px\", \"width\": \"100%\", \"float\": \"left\", \"position\": \"relative\"\n            }\n            ,\n            \"type\":\"widget\"\n        }\n        \n    ], \"type\": \"absolute\", \"title\": \"Dashboard\", \"templateName\": \"NoTemplate\"\n        }\n        ,\n        {\n            \"id\": \"model0000016401ab1e7a_00000000\", \"items\": [\n            ], \"type\": \"absolute\", \"title\": \"Account Info\", \"templateName\": \"NoTemplate\"\n        }\n        ],\n        \"style\": {\n            \"height\": \"100%\"\n        }\n        ,\n        \"type\":\"tab\"\n    }\n    ,\n    \"theme\":\"defaultTheme\",\n    \"version\":1008,\n    \"eventGroups\":[ {\n        \"id\": \"page0:1\", \"widgetIds\": [\"model00000163f5e901e2_00000000\"]\n    }\n    ],\n    \"dataSources\": {\n        \"version\":\"1.0\",\n        \"sources\":[ {\n            \"id\":\"model00000163f5e8d8dc_00000001\",\n            \"assetId\":\"assetId00000163f5e8d8da_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"SENTIMENT\",\n                \"identifier\":\"SENTIMENT\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(15)\", \"nullable\": true, \"name\": \"USER\", \"label\": \"USER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"timestamp\", \"nullable\": true, \"name\": \"ETIME\", \"label\": \"ETIME\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"decimal(8)\", \"nullable\": true, \"name\": \"SCORE\", \"label\": \"SCORE\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"SENTIMENT\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"SENTIMENT\",\n            \"shaping\": {\n                \"embeddedModuleUpToDate\": true\n            }\n        }\n        ,\n        {\n            \"id\":\"model00000163fa696206_00000001\",\n            \"assetId\":\"assetId00000163fa696204_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/CALL_CLASSIFICATION:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"CALL_CLASSIFICATION\",\n                \"identifier\":\"CALL_CLASSIFICATION\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(15)\", \"nullable\": true, \"name\": \"USER\", \"label\": \"USER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"CLASS_NAME\", \"label\": \"CLASS_NAME\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"decimal(8)\", \"nullable\": true, \"name\": \"CONFIDENCE\", \"label\": \"CONFIDENCE\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"CALL_CLASSIFICATION\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"CALL_CLASSIFICATION\",\n            \"shaping\": {\n                \"shapingId\":\"shaping00000163faa87bbe_00000000\",\n                \"embeddedModuleUpToDate\":false,\n                \"moserJSON\": {\n                    \"version\":\"5.0\",\n                    \"container\":\"C\",\n                    \"useSpec\":[ {\n                        \"identifier\": \"ES\", \"type\": \"url\", \"storeID\": \"baseModule\", \"imports\": \"*\"\n                    }\n                    ],\n                    \"expressionLocale\":\"en-us\",\n                    \"querySubject\":[ {\n                        \"ref\":[\"ES.CALL_CLASSIFICATION\"],\n                        \"instanceType\":\"reference\",\n                        \"item\":[ {\n                            \"queryItem\": {\n                                \"usage\":\"fact\",\n                                \"regularAggregate\":\"none\",\n                                \"identifier\":\"CONFIDENCE\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ,\n                                {\n                                    \"name\": \"propertySetByUser_165\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ],\n                        \"identifier\":\"CALL_CLASSIFICATION\"\n                    }\n                    ],\n                    \"dataRetrievalMode\":\"liveConnection\",\n                    \"identifier\":\"newModel\",\n                    \"label\":\"newModel\"\n                }\n            }\n        }\n        ,\n        {\n            \"id\":\"model00000163fa699ad8_00000001\",\n            \"assetId\":\"assetId00000163fa699ad2_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/CALL_TONE:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"CALL_TONE\",\n                \"identifier\":\"CALL_TONE\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(15)\", \"nullable\": true, \"name\": \"USER\", \"label\": \"USER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"TONE_NAME\", \"label\": \" \", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"decimal(8)\", \"nullable\": true, \"name\": \"SCORE\", \"label\": \"SCORE\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"CALL_TONE\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"CALL_TONE\",\n            \"shaping\": {\n                \"shapingId\":\"shaping00000163fab09cd8_00000000\",\n                \"embeddedModuleUpToDate\":false,\n                \"moserJSON\": {\n                    \"version\":\"5.0\",\n                    \"container\":\"C\",\n                    \"useSpec\":[ {\n                        \"identifier\": \"ES\", \"type\": \"url\", \"storeID\": \"baseModule\", \"imports\": \"*\"\n                    }\n                    ],\n                    \"expressionLocale\":\"en-us\",\n                    \"querySubject\":[ {\n                        \"ref\":[\"ES.CALL_TONE\"],\n                        \"instanceType\":\"reference\",\n                        \"item\":[ {\n                            \"queryItem\": {\n                                \"usage\":\"identifier\",\n                                \"identifier\":\"USER_\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_165\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ],\n                        \"identifier\":\"CALL_TONE\"\n                    }\n                    ],\n                    \"dataRetrievalMode\":\"liveConnection\",\n                    \"identifier\":\"newModel\",\n                    \"label\":\"newModel\"\n                }\n            }\n        },\n        {\n            \"id\":\"model0000016400368196_00000001\",\n            \"assetId\":\"assetId0000016400368194_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/CALL_UPSELL:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"CALL_UPSELL\",\n                \"identifier\":\"CALL_UPSELL\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(15)\", \"nullable\": true, \"name\": \"USER\", \"label\": \"USER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"PRODUCT\", \"label\": \"PRODUCT\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"decimal(8)\", \"nullable\": true, \"name\": \"PROBABILITY\", \"label\": \"PROBABILITY\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"CALL_UPSELL\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"CALL_UPSELL\",\n            \"shaping\": {\n                \"shapingId\":\"shaping000001640063ab24_00000000\",\n                \"embeddedModuleUpToDate\":false,\n                \"moserJSON\": {\n                    \"version\":\"5.0\",\n                    \"container\":\"C\",\n                    \"useSpec\":[ {\n                        \"identifier\": \"ES\", \"type\": \"url\", \"storeID\": \"baseModule\", \"imports\": \"*\"\n                    }\n                    ],\n                    \"expressionLocale\":\"en-us\",\n                    \"querySubject\":[ {\n                        \"ref\":[\"ES.CALL_UPSELL\"],\n                        \"instanceType\":\"reference\",\n                        \"item\":[ {\n                            \"queryItem\": {\n                                \"regularAggregate\":\"maximum\",\n                                \"identifier\":\"PROBABILITY\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ],\n                        \"identifier\":\"CALL_UPSELL\"\n                    }\n                    ],\n                    \"dataRetrievalMode\":\"liveConnection\",\n                    \"identifier\":\"newModel\",\n                    \"label\":\"newModel\"\n                }\n            }\n        }\n        ,\n        {\n            \"id\":\"model0000016400833ab8_00000000\",\n            \"assetId\":\"assetId0000016400833ab6_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/USERS:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"USERS\",\n                \"identifier\":\"USERS\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(11)\", \"nullable\": true, \"name\": \"ID\", \"label\": \"ID\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(1)\", \"nullable\": true, \"name\": \"GENDER\", \"label\": \"Sex\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"smallint\", \"nullable\": true, \"name\": \"AGE\", \"label\": \"Age\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"MAIDEN_NAME\", \"label\": \"MAIDEN_NAME\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"LNAME\", \"label\": \"Last\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"FNAME\", \"label\": \"First\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"ADDRESS\", \"label\": \"Address\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cStreetAddress\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"CITY\", \"label\": \"City\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cCity\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"STATE\", \"label\": \"STATE\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cStateProvince\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"integer\", \"nullable\": true, \"name\": \"ZIP\", \"label\": \"ZIP\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cPostalCode\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"COUNTRY\", \"label\": \"COUNTRY\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cCountry\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"bigint\", \"nullable\": true, \"name\": \"PHONE\", \"label\": \"Phone\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(255)\", \"nullable\": true, \"name\": \"EMAIL\", \"label\": \"EMAIL\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"varchar(19)\", \"nullable\": true, \"name\": \"CC_NUMBER\", \"label\": \"CC_NUMBER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"smallint\", \"nullable\": true, \"name\": \"MONTHLY_PAYMENT\", \"label\": \"Payment\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cMonth\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"smallint\", \"nullable\": true, \"name\": \"TOTAL_PAYMENTS\", \"label\": \"TOTAL_PAYMENTS\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"USERS\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"USERS\",\n            \"shaping\": {\n                \"shapingId\":\"shaping0000016400adfdbe_00000000\",\n                \"embeddedModuleUpToDate\":false,\n                \"moserJSON\": {\n                    \"version\":\"5.0\",\n                    \"container\":\"C\",\n                    \"useSpec\":[ {\n                        \"identifier\": \"ES\", \"type\": \"url\", \"storeID\": \"baseModule\", \"imports\": \"*\"\n                    }\n                    ],\n                    \"expressionLocale\":\"en-us\",\n                    \"querySubject\":[ {\n                        \"ref\":[\"ES.USERS\"],\n                        \"instanceType\":\"reference\",\n                        \"item\":[ {\n                            \"queryItem\": {\n                                \"regularAggregate\":\"none\",\n                                \"identifier\":\"ADDRESS\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ,\n                        {\n                            \"queryItem\": {\n                                \"regularAggregate\":\"none\",\n                                \"identifier\":\"CITY\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ,\n                        {\n                            \"queryItem\": {\n                                \"usage\":\"fact\",\n                                \"regularAggregate\":\"maximum\",\n                                \"identifier\":\"TOTAL_PAYMENTS\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ,\n                                {\n                                    \"name\": \"propertySetByUser_165\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ],\n                        \"identifier\":\"USERS\"\n                    }\n                    ],\n                    \"calculation\":[ {\n                        \"expression\":\"maximum(USERS.TOTAL_PAYMENTS)\",\n                        \"usage\":\"fact\",\n                        \"datatype\":\"SMALLINT\",\n                        \"nullable\":true,\n                        \"regularAggregate\":\"calculated\",\n                        \"datatypeCategory\":\"number\",\n                        \"highlevelDatatype\":\"integer\",\n                        \"facetDefinition\": {\n                            \"enabled\": \"automatic\"\n                        }\n                        ,\n                        \"identifier\":\"Calculation_name\",\n                        \"label\":\"Group Total\",\n                        \"property\":[ {\n                            \"name\":\"ui_expr\",\n                            \"value\":\"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                        }\n                        ,\n                        {\n                            \"name\": \"propertySetByUser_116\", \"value\": \"true\"\n                        }\n                        ],\n                        \"propertyOverride\":[\"NEW\"]\n                    }\n                    ,\n                    {\n                        \"expression\":\"total(\\nif (USERS.PHONE = \" + yourPhone + \")\\nthen (USERS.TOTAL_PAYMENTS)\\nelse (null)\\n\\n)\",\n                        \"usage\":\"fact\",\n                        \"datatype\":\"SMALLINT\",\n                        \"nullable\":true,\n                        \"regularAggregate\":\"calculated\",\n                        \"datatypeCategory\":\"number\",\n                        \"highlevelDatatype\":\"integer\",\n                        \"facetDefinition\": {\n                            \"enabled\": \"automatic\"\n                        }\n                        ,\n                        \"identifier\":\"Calculation_name_1\",\n                        \"label\":\"User Total\",\n                        \"property\":[ {\n                            \"name\":\"ui_expr\",\n                            \"value\":\"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                        }\n                        ,\n                        {\n                            \"name\": \"propertySetByUser_116\", \"value\": \"true\"\n                        }\n                        ],\n                        \"propertyOverride\":[\"NEW\"]\n                    }\n                    ,\n                    {\n                        \"expression\":\"Calculation_name_1/ Calculation_name\",\n                        \"usage\":\"fact\",\n                        \"datatype\":\"DOUBLE\",\n                        \"nullable\":true,\n                        \"regularAggregate\":\"calculated\",\n                        \"datatypeCategory\":\"number\",\n                        \"highlevelDatatype\":\"decimal\",\n                        \"facetDefinition\": {\n                            \"enabled\": \"automatic\"\n                        }\n                        ,\n                        \"identifier\":\"Calculation_name_2\",\n                        \"label\":\"uvalue\",\n                        \"property\":[ {\n                            \"name\":\"ui_expr\",\n                            \"value\":\"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                        }\n                        ,\n                        {\n                            \"name\": \"propertySetByUser_116\", \"value\": \"true\"\n                        }\n                        ],\n                        \"propertyOverride\":[\"NEW\"]\n                    }\n                    ],\n                    \"metadataTreeView\":[ {\n                        \"folderItem\":[ {\n                            \"ref\": \"Calculation_name\"\n                        }\n                        ,\n                        {\n                            \"ref\": \"Calculation_name_1\"\n                        }\n                        ,\n                        {\n                            \"ref\": \"Calculation_name_2\"\n                        }\n                        ]\n                    }\n                    ],\n                    \"dataRetrievalMode\":\"liveConnection\",\n                    \"identifier\":\"newModel\",\n                    \"label\":\"newModel\"\n                }\n            }\n        }\n        ,\n        {\n            \"id\":\"model00000164009cf3ae_00000002\",\n            \"assetId\":\"assetId00000164009cf3ae_00000000\",\n            \"clientId\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/CALL_RISK:table\",\n            \"module\": {\n                \"xsd\":\"https://ibm.com/daas/module/1.0/module.xsd\",\n                \"source\": {\n                    \"id\":\"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:/DASH5337/SENTIMENT:table\",\n                    \"user\":\"dash5337\",\n                    \"password\":\"5rg0CUpk__TM\",\n                    \"jdbc\": {\n                        \"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n                        \"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n                        \"schema\": \"DASH5337\"\n                    }\n                }\n                ,\n                \"label\":\"CALL_RISK\",\n                \"identifier\":\"CALL_RISK\",\n                \"table\": {\n                    \"column\":[ {\n                        \"datatype\": \"varchar(15)\", \"nullable\": true, \"name\": \"USER\", \"label\": \"USER\", \"usage\": \"attribute\", \"regularAggregate\": \"countDistinct\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ,\n                    {\n                        \"datatype\": \"decimal(8)\", \"nullable\": true, \"name\": \"RISK\", \"label\": \"RISK\", \"usage\": \"fact\", \"regularAggregate\": \"total\", \"taxonomyFamily\": \"cNone\"\n                    }\n                    ],\n                    \"name\":\"CALL_RISK\",\n                    \"description\":\"\"\n                }\n            }\n            ,\n            \"name\":\"CALL_RISK\",\n            \"shaping\": {\n                \"shapingId\":\"shaping00000164009d5fb8_00000000\",\n                \"embeddedModuleUpToDate\":false,\n                \"moserJSON\": {\n                    \"version\":\"5.0\",\n                    \"container\":\"C\",\n                    \"useSpec\":[ {\n                        \"identifier\": \"ES\", \"type\": \"url\", \"storeID\": \"baseModule\", \"imports\": \"*\"\n                    }\n                    ],\n                    \"expressionLocale\":\"en-us\",\n                    \"querySubject\":[ {\n                        \"ref\":[\"ES.CALL_RISK\"],\n                        \"instanceType\":\"reference\",\n                        \"item\":[ {\n                            \"queryItem\": {\n                                \"regularAggregate\":\"none\",\n                                \"identifier\":\"RISK\",\n                                \"property\":[ {\n                                    \"name\": \"propertySetByUser_170\", \"value\": \"true\"\n                                }\n                                ]\n                            }\n                        }\n                        ],\n                        \"identifier\":\"CALL_RISK\"\n                    }\n                    ],\n                    \"dataRetrievalMode\":\"liveConnection\",\n                    \"identifier\":\"newModel\",\n                    \"label\":\"newModel\"\n                }\n            }\n        }\n        ]\n    }\n    ,\n    \"pageContext\":[],\n    \"drillThrough\":[],\n    \"widgets\": {\n        \"model00000163f5e901e2_00000000\": {\n            \"id\":\"model00000163f5e901e2_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model00000163f5e8d8dc_00000001\",\n                    \"dataItems\":[ {\n                        \"id\": \"model00000163f5e92ada_00000001\", \"itemId\": \"SENTIMENT.ETIME\", \"itemLabel\": \"ETIME\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model00000163f5e938cc_00000000\", \"itemId\": \"SENTIMENT.SCORE\", \"itemLabel\": \"SCORE\"\n                    }\n                    ],\n                    \"id\":\"model00000163f5e92ada_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"categories\", \"dataItems\": [\"model00000163f5e92ada_00000001\"], \"dataItemSettings\": [], \"caption\": \"x-axis\", \"id\": \"categories\"\n                }\n                ,\n                {\n                    \"name\": \"values\", \"dataItems\": [\"model00000163f5e938cc_00000000\"], \"caption\": \"y-axis\", \"id\": \"values\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"com.ibm.vis.rave2line\",\n            \"name\":\"Sentiment\",\n            \"localFilters\":[ {\n                \"id\":\"SENTIMENT.USER_\",\n                \"columnId\":\"SENTIMENT.USER_\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"SENTIMENT.USER_->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ,\n            {\n                \"id\":\"SENTIMENT.ETIME\",\n                \"columnId\":\"SENTIMENT.ETIME\",\n                \"values\":[ {\n                    \"d\": chartDate, \"u\": chartDate\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"gt\",\n                \"preOrPost\":\"post\"\n            }\n            ],\n            \"properties\":[ {\n                \"id\": \"gridLines.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"itemAxis.labels.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"lines.smooth\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"markers.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"titles.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"valueAxis.zeroOrigin\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"valueAxis.labels.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"itemAxis.labels.layoutMode\", \"value\": \"rotate45\"\n            }\n            ,\n            {\n                \"id\":\"axisLabelColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\": \"maintainAxisScales\", \"value\": false\n            }\n            ,\n            {\n                \"id\":\"axisTitleFontColor\",\n                \"value\": {\n                    \"a\": 0.6, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"legendTitleColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"legendBodyColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"axisLineColor\",\n                \"value\": {\n                    \"a\": 0.25, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"axisGridLineColor\",\n                \"value\": {\n                    \"a\": 0.05, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"elementsLabelColor\",\n                \"value\": {\n                    \"a\": 0.6, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": true, \"unit\": \"seconds\", \"value\": 2, \"lastRefreshed\": 1528919583052\n            }\n            ,\n            \"fillColor\":\"transparent\",\n            \"showTitle\":true\n        }\n        ,\n        \"model00000163faa38c50_00000000\": {\n            \"id\":\"model00000163faa38c50_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model00000163fa696206_00000001\",\n                    \"dataItems\":[ {\n                        \"id\": \"model00000163faa3afbe_00000000\", \"itemId\": \"CALL_CLASSIFICATION.CONFIDENCE\", \"itemLabel\": \"CONFIDENCE\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model00000163faa3b63e_00000000\", \"itemId\": \"CALL_CLASSIFICATION.CLASS_NAME\", \"itemLabel\": \"CLASS_NAME\"\n                    }\n                    ],\n                    \"id\":\"model00000163faa3afbc_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"categories\", \"dataItems\": [\"model00000163faa3b63e_00000000\"], \"dataItemSettings\": [], \"caption\": \"Words\", \"id\": \"categories\", \"layerId\": \"data\"\n                }\n                ,\n                {\n                    \"name\": \"size\", \"dataItems\": [\"model00000163faa3afbe_00000000\"], \"caption\": \"Size\", \"id\": \"size\", \"layerId\": \"data\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"com.ibm.vis.rave2bundlewordcloud\",\n            \"name\":\"Call Classification\",\n            \"fillColor\":\"transparent\",\n            \"localFilters\":[ {\n                \"id\":\"CALL_CLASSIFICATION.USER_\",\n                \"columnId\":\"CALL_CLASSIFICATION.USER_\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"CALL_CLASSIFICATION.USER_->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"word.orientation\", \"value\": \"horizontal\"\n            }\n            ,\n            {\n                \"id\": \"widget.legend.position\", \"value\": \"bottom\"\n            }\n            ,\n            {\n                \"id\": \"widget.legend.display\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"dial.roundedEnds\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"contrast.label.color\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"label.shadow\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"labels.visible\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"donutRadius\", \"value\": 1\n            }\n            ,\n            {\n                \"id\": \"label.percentage\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"labelLocation\", \"value\": \"none\"\n            }\n            ,\n            {\n                \"id\":\"axisTitleFontColor\",\n                \"value\": {\n                    \"a\": 0.6, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"legendTitleColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"legendBodyColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"axisLabelColor\",\n                \"value\": {\n                    \"a\": 0.5, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"axisLineColor\",\n                \"value\": {\n                    \"a\": 0.25, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"axisGridLineColor\",\n                \"value\": {\n                    \"a\": 0.05, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ,\n            {\n                \"id\":\"elementsLabelColor\",\n                \"value\": {\n                    \"a\": 0.6, \"r\": 0, \"g\": 0, \"b\": 0\n                }\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": true, \"unit\": \"seconds\", \"value\": 2, \"lastRefreshed\": 1528919583964\n            }\n        }\n        ,\n        \"model00000163faae1960_00000000\": {\n            \"id\":\"model00000163faae1960_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model00000163fa699ad8_00000001\",\n                    \"dataItems\":[ {\n                        \"id\": \"model00000163faae52f6_00000000\", \"itemId\": \"CALL_TONE.TONE_NAME\", \"itemLabel\": \"\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model00000163faae5f38_00000000\", \"itemId\": \"CALL_TONE.SCORE\", \"itemLabel\": \"SCORE\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model00000163faae7460_00000000\", \"itemId\": \"CALL_TONE.USER_\", \"itemLabel\": \"USER\"\n                    }\n                    ],\n                    \"id\":\"model00000163faae52f4_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"categories\", \"dataItems\": [\"model00000163faae7460_00000000\"], \"dataItemSettings\": [], \"caption\": \"Bars\", \"id\": \"categories\"\n                }\n                ,\n                {\n                    \"name\": \"values\", \"dataItems\": [\"model00000163faae5f38_00000000\"], \"caption\": \"Length\", \"id\": \"values\"\n                }\n                ,\n                {\n                    \"name\": \"color\", \"dataItems\": [\"model00000163faae52f6_00000000\"], \"caption\": \"Color\", \"id\": \"color\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"com.ibm.vis.rave2bundlestackedbar\",\n            \"name\":\"Tone\",\n            \"localFilters\":[ {\n                \"id\":\"CALL_TONE.USER_\",\n                \"columnId\":\"CALL_TONE.USER_\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"CALL_TONE.USER_->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"stacked.percent\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"itemAxis.labels.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"valueAxis.labels.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"gridLines.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"titles.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"valueLabels.visible\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"maintainAxisScales\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"widget.legend.position\", \"value\": \"top\"\n            }\n            ,\n            {\n                \"id\": \"widget.legend.display\", \"value\": true\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": true, \"unit\": \"seconds\", \"value\": 2, \"lastRefreshed\": 1528919405202\n            }\n        },\n        \"model00000164008cb5ce_00000000\": {\n            \"id\":\"model00000164008cb5ce_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model0000016400833ab8_00000000\",\n                    \"dataItems\":[ {\n                        \"id\": \"model00000164008d766c_00000000\", \"itemId\": \"USERS.COUNTRY\", \"itemLabel\": \"COUNTRY\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model00000164008ee86a_00000000\", \"itemId\": \"USERS.STATE_\", \"itemLabel\": \"STATE\"\n                    }\n                    ],\n                    \"id\":\"model00000164008ccfda_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"locations\", \"dataItems\": [\"model00000164008d766c_00000000\", \"model00000164008ee86a_00000000\"], \"dataItemSettings\": [], \"caption\": \"Locations\", \"id\": \"locations\", \"layerId\": \"data.region\"\n                }\n                ],\n                \"layers\":[ {\n                    \"type\": \"data.region\", \"id\": \"data.region\", \"dataViewId\": \"model00000164008ccfda_00000000\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"com.ibm.vis.rave2bundletiledmap\",\n            \"name\":\"Location\",\n            \"localFilters\":[ {\n                \"id\":\"USERS.PHONE\",\n                \"columnId\":\"USERS.PHONE\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"USERS.PHONE->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"mapStyle\", \"value\": \"bright\"\n            }\n            ,\n            {\n                \"id\": \"autoZoom\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"maintainAxisScales\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"Mapbox.secretToken\", \"value\": \"sk.eyJ1IjoiaWJtcmF2ZSIsImEiOiJjaXlrdjl6dzUwMDJlMnlwaXV3bTJtdGQ4In0.Ek4ZA_uWjmdwh9AzD-UWyg\"\n            }\n            ,\n            {\n                \"id\": \"Mapbox.accountName\", \"value\": \"ibmrave\"\n            }\n            ,\n            {\n                \"id\": \"Mapbox.token\", \"value\": \"pk.eyJ1IjoiaWJtcmF2ZSIsImEiOiJjaXRvZHFzdmYwM20zMnpzYmFxeHR4bTQyIn0.7rttWKsr9b1tVXpo0ZcWFw\"\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": false, \"unit\": \"seconds\", \"value\": 5, \"lastRefreshed\": 1529019417334\n            }\n        }\n        ,\n        \"model000001640098ef5a_00000000\": {\n            \"id\":\"model000001640098ef5a_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model0000016400368196_00000001\",\n                    \"dataItems\":[ {\n                        \"id\": \"model000001640099193c_00000001\", \"itemId\": \"CALL_UPSELL.PRODUCT\", \"itemLabel\": \"PRODUCT\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016400991f5a_00000001\", \"itemId\": \"CALL_UPSELL.PROBABILITY\", \"itemLabel\": \"PROBABILITY\"\n                    }\n                    ],\n                    \"id\":\"model000001640099193c_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"categories\", \"dataItems\": [\"model000001640099193c_00000001\"], \"dataItemSettings\": [], \"caption\": \"Bubbles\", \"id\": \"categories\"\n                }\n                ,\n                {\n                    \"name\": \"size\", \"dataItems\": [\"model0000016400991f5a_00000001\"], \"caption\": \"Size\", \"id\": \"size\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"com.ibm.vis.rave2bundlepackedbubble\",\n            \"name\":\"Upsell\",\n            \"localFilters\":[ {\n                \"id\":\"CALL_UPSELL.USER_\",\n                \"columnId\":\"CALL_UPSELL.USER_\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"CALL_UPSELL.USER_->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"labels.visible\", \"value\": true\n            }\n            ,\n            {\n                \"id\": \"labels.format\", \"value\": \"Item\"\n            }\n            ,\n            {\n                \"id\": \"widget.legend.display\", \"value\": false\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": true, \"unit\": \"seconds\", \"value\": 5, \"lastRefreshed\": 1529019906012\n            }\n        }\n        ,\n        \"model00000164009d22c0_00000000\": {\n            \"id\":\"model00000164009d22c0_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model00000164009cf3ae_00000002\",\n                    \"dataItems\":[ {\n                        \"id\": \"model00000164009d7de4_00000000\", \"itemId\": \"CALL_RISK.RISK\", \"itemLabel\": \"RISK\"\n                    }\n                    ],\n                    \"id\":\"model00000164009d7de2_00000001\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\":\"values\",\n                    \"dataItems\":[\"model00000164009d7de4_00000000\"],\n                    \"dataItemSettings\":[ {\n                        \"graphic\": {\n                            \"content\": \"<svg xmlns=\\\"http://www.w3.org/2000/svg\\\" version=\\\"1.1\\\"  class=\\\"staticContent\\\" height=\\\"100%\\\" width=\\\"100%\\\" preserveAspectRatio=\\\"none\\\"  viewBox=\\\"0 0 32 32\\\"><g xmlns=\\\"http://www.w3.org/2000/svg\\\" vector-effect=\\\"non-scaling-stroke\\\"><path d=\\\"M28.4,13.7c0-6.8-5.6-12.4-12.4-12.4S3.6,6.8,3.6,13.7c0,3.8,1.7,7.1,4.3,9.4l0,0.2V29c0,0,3.7,2,8.1,2 s8.1-2,8.1-2v-5.6l0-0.2C26.7,20.8,28.4,17.5,28.4,13.7z M23.2,22.6v0.2V28c0,0-0.8,0.5-2.1,1l0-2.9h-1.6l0,3.3 c-0.8,0.2-1.7,0.4-2.7,0.4l0-3.8h-1.6l0,3.8c-1-0.1-1.9-0.2-2.7-0.4l0-3.3h-1.6l0,2.8c-1.2-0.5-2-0.9-2-0.9v-5.2v-0.2 c-2.4-2.1-4.4-5.2-4.4-8.7C4.5,7.5,9.6,2.4,16,2.4s11.5,5.1,11.5,11.5C27.5,17.4,25.6,20.5,23.2,22.6z\\\" vector-effect=\\\"non-scaling-stroke\\\"/><path d=\\\"M16.1,17.7c-0.9,0-3,3.9-2.3,4.7c0.7,0.8,1.8-0.3,2.3-0.3c0.5,0,1.4,1,2.2,0.3C18.9,21.7,17,17.7,16.1,17.7 z\\\" vector-effect=\\\"non-scaling-stroke\\\"/><circle cx=\\\"11.6\\\" cy=\\\"13.5\\\" r=\\\"3\\\" vector-effect=\\\"non-scaling-stroke\\\"/><circle cx=\\\"20.4\\\" cy=\\\"13.5\\\" r=\\\"3\\\" vector-effect=\\\"non-scaling-stroke\\\"/></g></svg>\", \"fillColor\": \"color8\", \"borderColor\": \"transparent\", \"currentScaleOption\": 1\n                        }\n                        ,\n                        \"shapeDropEnabled\":true\n                    }\n                    ],\n                    \"caption\":\"Value\",\n                    \"id\":\"values\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"summary\",\n            \"name\":\"Risk\",\n            \"localFilters\":[ {\n                \"id\":\"CALL_RISK.USER_\",\n                \"columnId\":\"CALL_RISK.USER_\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"CALL_RISK.USER_->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"showItemLabel\", \"value\": false\n            }\n            ,\n            {\n                \"id\": \"fillDirection\", \"value\": \"BottomToTop\"\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": true, \"unit\": \"seconds\", \"value\": 5, \"lastRefreshed\": 1529019905002\n            }\n        }\n        ,\n        \"model00000164009fd2d2_00000000\": {\n            \"id\":\"model00000164009fd2d2_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model0000016400833ab8_00000000\",\n                    \"dataItems\":[ {\n                        \"id\": \"model0000016400adc6dc_00000000\", \"itemId\": \"Calculation_name_2\", \"itemLabel\": \"uvalue\"\n                    }\n                    ],\n                    \"id\":\"model00000164009ffcc0_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\":\"values\",\n                    \"dataItems\":[\"model0000016400adc6dc_00000000\"],\n                    \"dataItemSettings\":[ {\n                        \"graphic\": {\n                            \"content\": \"<svg xmlns=\\\"http://www.w3.org/2000/svg\\\" version=\\\"1.1\\\"  class=\\\"staticContent\\\" height=\\\"100%\\\" width=\\\"100%\\\" preserveAspectRatio=\\\"none\\\"  viewBox=\\\"0 0 32 32\\\"><g xmlns=\\\"http://www.w3.org/2000/svg\\\" vector-effect=\\\"non-scaling-stroke\\\"><path d=\\\"M0,7.8v18.4h32V7.8H0z M30,24.3H2V9.7h28V24.3z\\\" vector-effect=\\\"non-scaling-stroke\\\"/><path d=\\\"M3,10.7v12.6h26V10.7H3z M18.1,20c-0.4,0.5-1.3,0.7-2.1,0.8v1.1h-1v-1.1c-1.4-0.1-2.3-0.8-2.6-2l1.6-0.4 c0.2,0.7,0.7,1,1.5,1c0.4,0,0.7-0.1,0.9-0.2c0.2-0.1,0.3-0.3,0.3-0.6c0-0.2-0.1-0.4-0.3-0.5c-0.2-0.1-0.5-0.2-1-0.3 c-1.1-0.2-1.8-0.5-2.1-0.9c-0.3-0.4-0.5-0.8-0.5-1.4s0.2-1.1,0.6-1.6c0.4-0.4,0.9-0.7,1.6-0.8v-0.9h1v0.9c1.2,0.1,2,0.7,2.4,1.7 l-1.5,0.5c-0.2-0.6-0.6-0.9-1.3-0.9c-0.7,0-1,0.2-1,0.7c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.4,0.2,0.9,0.3c0.8,0.2,1.3,0.3,1.7,0.5 c0.4,0.2,0.7,0.4,0.9,0.8c0.2,0.4,0.4,0.7,0.4,1.2C18.7,19,18.5,19.5,18.1,20z\\\" vector-effect=\\\"non-scaling-stroke\\\"/></g></svg>\", \"fillColor\": \"color8\", \"borderColor\": \"transparent\", \"currentScaleOption\": 1\n                        }\n                        ,\n                        \"shapeDropEnabled\":true\n                    }\n                    ],\n                    \"caption\":\"Value\",\n                    \"id\":\"values\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"summary\",\n            \"name\":\"Value\",\n            \"localFilters\":[],\n            \"showTitle\":true,\n            \"properties\":[ {\n                \"id\": \"showItemLabel\", \"value\": false\n            }\n            ]\n        },\n        \"model0000016401b3c240_00000000\": {\n            \"id\":\"model0000016401b3c240_00000000\",\n            \"data\": {\n                \"dataViews\":[ {\n                    \"modelRef\":\"model0000016400833ab8_00000000\",\n                    \"dataItems\":[ {\n                        \"id\": \"model0000016401b433ca_00000001\", \"itemId\": \"USERS.FNAME\", \"itemLabel\": \"First\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401b44060_00000000\", \"itemId\": \"USERS.LNAME\", \"itemLabel\": \"Last\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401c1ab34_00000000\", \"itemId\": \"USERS.ADDRESS\", \"itemLabel\": \"Address\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401c1f772_00000000\", \"itemId\": \"USERS.CITY\", \"itemLabel\": \"City\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401c2b046_00000000\", \"itemId\": \"USERS.MONTHLY_PAYMENT\", \"itemLabel\": \"Payment\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401c31d82_00000000\", \"itemId\": \"USERS.AGE\", \"itemLabel\": \"Age\"\n                    }\n                    ,\n                    {\n                        \"id\": \"model0000016401c33a5e_00000000\", \"itemId\": \"USERS.GENDER\", \"itemLabel\": \"Sex\"\n                    }\n                    ],\n                    \"id\":\"model0000016401b433ca_00000000\"\n                }\n                ]\n            }\n            ,\n            \"visTypeLocked\":true,\n            \"slotmapping\": {\n                \"slots\":[ {\n                    \"name\": \"grid_cols\", \"dataItems\": [\"model0000016401b433ca_00000001\", \"model0000016401b44060_00000000\", \"model0000016401c31d82_00000000\", \"model0000016401c33a5e_00000000\", \"model0000016401c1ab34_00000000\", \"model0000016401c1f772_00000000\", \"model0000016401c29cbc_00000000\", \"model0000016401c2b046_00000000\"], \"caption\": \"Columns\", \"id\": \"grid_cols\"\n                }\n                ]\n            }\n            ,\n            \"type\":\"live\",\n            \"visId\":\"JQGrid\",\n            \"name\":\"\",\n            \"localFilters\":[ {\n                \"id\":\"USERS.PHONE\",\n                \"columnId\":\"USERS.PHONE\",\n                \"values\":[ {\n                    \"d\": yourPhone, \"u\": \"USERS.PHONE->[\" + yourPhone + \"]\"\n                }\n                ],\n                \"excludedValues\":[],\n                \"operator\":\"in\",\n                \"type\":null\n            }\n            ],\n            \"properties\":[ {\n                \"id\": \"hideSummaries\", \"value\": true\n            }\n            ],\n            \"queryRefresh\": {\n                \"autoRefresh\": false, \"unit\": \"seconds\", \"value\": 5\n            }\n        }\n    }\n};\n        \n","output":"str","x":320,"y":400,"wires":[["698aeb26.e381bc"]]},{"id":"aab86e96.cf62c","type":"http in","z":"144049cb.459d96","name":"","url":"/cognos","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["2fb169c0.a548ae"]]},{"id":"9121ce92.42a918","type":"template","z":"144049cb.459d96","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'use strict';\n\nvar _typeof = typeof Symbol === \"function\" && typeof Symbol.iterator === \"symbol\" ? function (obj) { return typeof obj; } : function (obj) { return obj && typeof Symbol === \"function\" && obj.constructor === Symbol && obj !== Symbol.prototype ? \"symbol\" : typeof obj; };\n\nvar _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if (\"value\" in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; }();\n\nfunction _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError(\"Cannot call a class as a function\"); } }\n\n/**\n * @license Licensed Materials - Property of IBM\n * @copyright IBM Cognos Products: BI Cloud (C) Copyright IBM Corp. 2017, 2018\n * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\n *\n * @file <strong>{@link CognosApi}</strong> class provides an client API framework for developing applications using IBM Cognos Analytics components <i>as a service</i>.\n * <strong>{@link CognosApi}</strong> class is the root level API. Once the <strong>{@link CognosApi}</strong> is <code>initialized</code>,\n * it provides an entry point to all service APIs where developers can have direct access to rich features of IBM Cognos Analytics components.<br>\n * Multiple instances of the <strong>{@link CognosApi}</strong> class can be instantiated if the client application wishes to access more than one services\n * (or the same service in multiple instances).<br>\n * <br>\n * As a prerequisite, <strong>{@link CognosApi}</strong> requires a <strong>Promise</strong> library.\n * Although most modern (ECMAScript 6 compatible) browsers do support <strong>Promise</strong>,\n * It is recommended to load a <strong>Promise</strong> library (ie. Bluebird) to extend the compatibility of the application.\n * <br><br>\n * @example\n * // Create an instance of the CognosApi by providing the IBM Cognos Analytics root URL\n * // and the DOM node of the container DIV\n * const cognosApi = new CognosApi({\n * \tcognosRootURL: 'http://localhost/bi/',\n * \tnode: document.getElementById('containerDivId')\n * });\n *\n * // initialize the CognosApi in order to obtain the service APIs\n * cognosApi.initialize().then(() => {\n * \tcognosApi.dashboard.createNew();\n * \t...\n * });\n * ...\n *\n * // Ensure to close API at the end\n * cognosApi.close();\n */\n\n/**\n * Default initialization timeout (30 seconds)\n */\nvar INIT_TIMEOUT = 30000;\n\n/**\n * Constructor of the API client framework\n * @classdesc CognosApi is a client API framework class that builds a robust API for\n * developing applications using CognosAnalytics components as a service.\n * @constructor\n * @param {object} options.cognosRootURL CognosAnalytics root URL\n * @param {object} options.node DOM node that will become the container of the client\n * @param {object} options.sessionCode sessionCode of the obtained session\n * @param {object} options.initTimeout initialization timeout (ms). Default 30000 ms.\n * @class CognosApi\n * @example\n * const cognosApi = new CognosApi({\n * \tcognosRootURL: 'http://localhost/bi/',\n * \tnode: document.getElementById('containerDivId'),\n *\tsessionCode: 'CD1a2b34567b8c901234d5'\n * });\n */\n\nvar CognosApi = function () {\n\tfunction CognosApi(options) {\n\t\t_classCallCheck(this, CognosApi);\n\n\t\tif (!options || !options.node || !options.cognosRootURL) {\n\t\t\tthrow new Error('Invalid options parameter passed into the constructor. Must provide both options.node and options.cognosRootURL in the options parameter.');\n\t\t}\n\n\t\tthis._node = options.node;\n\t\tthis._cognosURL = options.cognosRootURL;\n\t\tthis._testURL = options.testURL;\n\t\tthis._sessionCode = options.sessionCode;\n\t\tthis._initTimeout = options.initTimeout || INIT_TIMEOUT;\n\n\t\tthis._apiKey = CognosApi._createUID('capi');\n\t\tthis._pendingRequests = {};\n\t\tthis._eventCallbacks = {};\n\t\tthis._eventReverseLookup = {};\n\n\t\t// regular expression validate the incoming message header\n\t\tthis._message_regex = new RegExp('#capi#(.+)#' + this._apiKey + '#(.*)$', 'g');\n\n\t\t/**\n   * Allows the caller to update the module definitions inside the dashboard specification\n   * @memberof CognosApi\n   * @function CognosApi#updateModuleDefinitions\n   * @param {String} dashboardSpec The dashboard specification\n   * @param {Function} callback A callback method which will be called with an array of module IDs.  This callback should return an array of objects containing the module ID (id) and the new module definition (module).\n   * @return {Promise} Promise that gets resolved with the updated dashboard specification\n   * @example\n   * const cognosApi = new CognosApi({\n   * \tcognosRootURL: 'http://localhost/bi/',\n   * \tnode: document.getElementById('containerDivId'),\n   *\tsessionCode: 'CD1a2b34567b8c901234d5'\n   * });\n   *\n   * cognosApi.initialize().then(() => {\n   * \tconsole.log(cognosApi.dashboard);\n   * });\n   *\n   * cognosApi.updateModuleDefinitions(oldDashboardSpec, (moduleIds) => {\n   * \t// Implement the callback that returns an array of the new module definitions.\n   * \t// The array of module definitions corresponds to the array of moduleIds\n   * \treturn Promise.resolve(newModules);\n   * }).then((newDashboardSpec) => {\n   *\tconsole.log(newDashboardSpec);\n   * });\n   */\n\t\tthis.updateModuleDefinitions = CognosApi._updateModuleDefinitions.bind(this);\n\t}\n\n\t/**\n  * Initializes the CognosApi client.\n  * @memberof CognosApi\n  * @function CognosApi#initialize\n  * @return {Promise} Promise that gets resolved with a Api instance is constructed with available APIs\n  * @example\n  * const cognosApi = new CognosApi({\n  * \tcognosRootURL: 'http://localhost/bi/',\n  * \tnode: document.getElementById('containerDivId'),\n  *\tsessionCode: 'CD1a2b34567b8c901234d5',\n  * \tinitTimeout: 5000\n  * });\n  * cognosApi.initialize().then(() => {\n  * \tconsole.log(cognosApi.dashboard);\n  * }, (error) => {\n  * \t// Initialization took more than 5 seconds\n  * \tconsole.log(error);\n  * });\n  */\n\n\n\t_createClass(CognosApi, [{\n\t\tkey: 'initialize',\n\t\tvalue: function initialize() {\n\t\t\tvar _this = this;\n\n\t\t\tif (!this._readyPromise) {\n\t\t\t\tthis._readyPromise = new Promise(function (resolve, reject) {\n\t\t\t\t\t// setup the initialize timeout\n\t\t\t\t\tvar timeout = setTimeout(_this._onInitTimeout.bind(_this, reject), _this._initTimeout);\n\n\t\t\t\t\t// create the API service container\n\t\t\t\t\t_this._initializeContainer();\n\t\t\t\t\t// initialize the API service\n\t\t\t\t\t_this._initializeService().then(function () {\n\t\t\t\t\t\t// clear the init timeout\n\t\t\t\t\t\tclearTimeout(timeout);\n\n\t\t\t\t\t\t// wait for the APIs to be initialized\n\t\t\t\t\t\t_this._sendMessage({\n\t\t\t\t\t\t\tapiId: _this._apiKey,\n\t\t\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_INIT),\n\t\t\t\t\t\t\tname: CognosApi.APISERVICE_INIT\n\t\t\t\t\t\t}, resolve, reject);\n\t\t\t\t\t});\n\t\t\t\t});\n\t\t\t}\n\t\t\treturn this._readyPromise;\n\t\t}\n\n\t\t/**\n   * Attach an {@link CognosApi#EVENTS event} handler function for the root CognosApi\n   * @memberof CognosApi\n   * @function CognosApi#on\n   * @param {string} eventName - name of the event\n   * @callback cb - event handler callback\n   */\n\n\t}, {\n\t\tkey: 'on',\n\t\tvalue: function on(eventName, cb) {\n\t\t\tif (!this._eventReverseLookup[cb]) {\n\t\t\t\tthis._sendMessage({\n\t\t\t\t\tapiId: this._apiKey,\n\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_ON),\n\t\t\t\t\tname: CognosApi.APISERVICE_ON,\n\t\t\t\t\tparameters: Array.prototype.slice.call(arguments)\n\t\t\t\t}, cb);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Dettach an {@link CognosApi#EVENTS event} handler function for the root CognosApi\n   * @memberof CognosApi\n   * @function CognosApi#on\n   * @param {string} eventName - name of the event\n   * @callback cb - event handler callback\n   */\n\n\t}, {\n\t\tkey: 'off',\n\t\tvalue: function off(eventName, cb) {\n\t\t\tif (this._eventReverseLookup[cb]) {\n\t\t\t\tthis._sendMessage({\n\t\t\t\t\tapiId: this._apiKey,\n\t\t\t\t\tactionId: this._eventReverseLookup[cb],\n\t\t\t\t\tname: CognosApi.APISERVICE_OFF,\n\t\t\t\t\tparameters: Array.prototype.slice.call(arguments)\n\t\t\t\t}, cb);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * initialization timeout handler\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_onInitTimeout',\n\t\tvalue: function _onInitTimeout(reject) {\n\t\t\tthis._cleanupContainer();\n\t\t\treject(new Error('Initialization timeout. ' + this._initTimeout + 'ms'));\n\t\t}\n\n\t\t/**\n   * Initialize the CAPI service container\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_initializeContainer',\n\t\tvalue: function _initializeContainer() {\n\t\t\tvar container = document.createElement('iframe');\n\n\t\t\tcontainer.src = this._buildSourceUrl();\n\t\t\tcontainer.setAttribute('class', CognosApi.APISERVICE_CLASS);\n\t\t\tcontainer.setAttribute('style', 'height:100%; width:100%;');\n\t\t\tcontainer.setAttribute('frameBorder', '0');\n\n\t\t\t// append the container to the root node\n\t\t\tthis._node.innerHTML = '';\n\t\t\tthis._node.appendChild(container);\n\n\t\t\t// keep the iframe contentWindow as the messaging target\n\t\t\tthis._target = container.contentWindow;\n\t\t\tthis._targetOrigin = (/(https*:\\/\\/[^\\/]+)/.exec(this._cognosURL) || [window.location.origin])[0];\n\t\t}\n\n\t\t/**\n   * Closes the CognosApi client.\n   * @memberof CognosApi\n   * @function CognosApi#close\n   * @return {Promise} Promise that gets resolved with a Api instance is successfully closed\n   * @example\n   * const cognosApi = new CognosApi({\n   * \tcognosRootURL: 'http://localhost/bi/',\n   * \tnode: document.getElementById('containerDivId'),\n   *\tsessionCode: 'CD1a2b34567b8c901234d5'\n   * });\n   * ...\n   * cognosApi.close();\n   */\n\n\t}, {\n\t\tkey: 'close',\n\t\tvalue: function close() {\n\t\t\tvar _this2 = this;\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this2._destroyService().then(function (obj) {\n\t\t\t\t\t// remove all injected apis\n\t\t\t\t\t_this2._cleanupApiService();\n\t\t\t\t\t// clean up the container node\n\t\t\t\t\t_this2._cleanupContainer();\n\t\t\t\t\tresolve(obj);\n\t\t\t\t}, function (err) {\n\t\t\t\t\treject(err);\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t}, {\n\t\tkey: '_buildSourceUrl',\n\t\tvalue: function _buildSourceUrl() {\n\t\t\tif (this._testURL) {\n\t\t\t\treturn this._testURL;\n\t\t\t} else {\n\t\t\t\tvar root = this._cognosURL + (this._cognosURL.indexOf('?') === -1 ? '?' : '&');\n\t\t\t\tvar params = {\n\t\t\t\t\t'perspective': 'postMessageApiLoader',\n\t\t\t\t\t'apiKey': this._apiKey,\n\t\t\t\t\t'parentOrigin': window.location.origin,\n\t\t\t\t\t'sessionCode': this._sessionCode\n\t\t\t\t};\n\t\t\t\treturn root + Object.keys(params).map(function (k) {\n\t\t\t\t\treturn encodeURIComponent(k) + '=' + encodeURIComponent(params[k]);\n\t\t\t\t}).join('&');\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Clean up the injected apis\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_cleanupApiService',\n\t\tvalue: function _cleanupApiService() {\n\t\t\tvar _this3 = this;\n\n\t\t\t// remove the message handler\n\t\t\tif (this._messageHandler) {\n\t\t\t\twindow.removeEventListener('message', this._messageHandler, false);\n\t\t\t}\n\n\t\t\t// clean up all apis\n\t\t\tObject.keys(this).forEach(function (memberName) {\n\t\t\t\tif (memberName.indexOf('_') !== 0 && _typeof(_this3[memberName]) === 'object' && _this3[memberName].apiId) {\n\t\t\t\t\tdelete _this3[memberName];\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tthis._pendingRequests = {};\n\t\t\tthis._eventCallbacks = {};\n\t\t\tthis._eventReverseLookup = {};\n\t\t\tthis._messageHandler = null;\n\t\t\tthis.apiId = null;\n\t\t}\n\n\t\t/**\n   * Clean up the iframe container\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_cleanupContainer',\n\t\tvalue: function _cleanupContainer() {\n\t\t\tif (this._node) {\n\t\t\t\tvar iframes = this._node.getElementsByClassName(CognosApi.APISERVICE_CLASS) || [];\n\t\t\t\tif (iframes.length === 1) {\n\t\t\t\t\tthis._node.removeChild(iframes[0]);\n\t\t\t\t}\n\t\t\t}\n\n\t\t\tthis._readyPromise = null;\n\t\t\tthis._targetOrigin = null;\n\t\t\tthis._target = null;\n\t\t}\n\n\t\t/**\n   * Wait for the CognosApi service to initialize\n   * @private\n   * @return {Promise} Promise that gets resolved when the CognosApi service initialization is complete\n   */\n\n\t}, {\n\t\tkey: '_initializeService',\n\t\tvalue: function _initializeService() {\n\t\t\tvar _this4 = this;\n\n\t\t\tthis._messageHandler = this._receiveMessage.bind(this);\n\t\t\twindow.addEventListener('message', this._messageHandler, false);\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this4._registerResponseCallbacks(_this4._apiKey, resolve, reject);\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Make a request to destroy the service\n   * @private\n   * @return {Promise} Promise that gets resolved when the service finishes terminate\n   */\n\n\t}, {\n\t\tkey: '_destroyService',\n\t\tvalue: function _destroyService() {\n\t\t\tvar _this5 = this;\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this5._sendMessage({\n\t\t\t\t\tapiId: _this5._apiKey,\n\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_DESTROY),\n\t\t\t\t\tname: CognosApi.APISERVICE_DESTROY\n\t\t\t\t}, resolve, reject);\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Register the Promise callbacks that are created for each postMessage requests\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {function} callback function to be used when the postMessage response comes back successfully\n   * @param {function} callback function to be used when the postMessage response comes back as a failure\n   */\n\n\t}, {\n\t\tkey: '_registerResponseCallbacks',\n\t\tvalue: function _registerResponseCallbacks(id, success, fail) {\n\t\t\tif (id && success) {\n\t\t\t\tthis._pendingRequests[id] = {\n\t\t\t\t\tsuccess: success,\n\t\t\t\t\tfail: fail\n\t\t\t\t};\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke the resolve callback for the request that has returned successfully\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {any} the resolved value\n   */\n\n\t}, {\n\t\tkey: '_resolveResponseCallbacks',\n\t\tvalue: function _resolveResponseCallbacks(id, obj) {\n\t\t\tif (id && this._pendingRequests[id]) {\n\t\t\t\tthis._pendingRequests[id].success(obj);\n\t\t\t\tdelete this._pendingRequests[id];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke the reject callback for the request that has returned as a failure\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {object} the error object\n   */\n\n\t}, {\n\t\tkey: '_rejectResponseCallbacks',\n\t\tvalue: function _rejectResponseCallbacks(id, obj) {\n\t\t\tif (id && this._pendingRequests[id]) {\n\t\t\t\tthis._pendingRequests[id].fail(obj);\n\t\t\t\tdelete this._pendingRequests[id];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Register an event callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_registerEventCallbacks',\n\t\tvalue: function _registerEventCallbacks(id, callback) {\n\t\t\tif (id && callback) {\n\t\t\t\tthis._eventCallbacks[id] = callback;\n\t\t\t\tthis._eventReverseLookup[callback] = id;\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Unregister an event callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_unregisterEventCallbacks',\n\t\tvalue: function _unregisterEventCallbacks(id, callback) {\n\t\t\tif (id && callback && this._eventReverseLookup[callback] === id) {\n\t\t\t\tdelete this._eventCallbacks[id];\n\t\t\t\tdelete this._eventReverseLookup[callback];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Handle event by invoking the corresponding callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_handleEventCallbacks',\n\t\tvalue: function _handleEventCallbacks(id, obj) {\n\t\t\tif (id && typeof this._eventCallbacks[id] === 'function') {\n\t\t\t\tthis._eventCallbacks[id].call(this._eventCallbacks[id], obj);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke a postMessage to the target window.\n   * Callbacks are registered which gets invoked when the corresponding response is returned\n   * @private\n   * @param {object} Payload object to be post to the target window\n   * @param {function} Resolve callback function\n   * @param {function} Reject callback function\n   */\n\n\t}, {\n\t\tkey: '_sendMessage',\n\t\tvalue: function _sendMessage(obj, success, fail) {\n\t\t\tif (this._target) {\n\t\t\t\tif (obj.name === 'on') {\n\t\t\t\t\tthis._registerEventCallbacks(obj.actionId, success);\n\t\t\t\t} else if (obj.name === 'off') {\n\t\t\t\t\tthis._unregisterEventCallbacks(obj.actionId, success);\n\t\t\t\t} else {\n\t\t\t\t\tthis._registerResponseCallbacks(obj.actionId, success, fail);\n\t\t\t\t}\n\t\t\t\tthis._target.postMessage(this._createMessage(obj), this._targetOrigin);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Message event handler to handle messages posted by the inner iframe\n   * @private\n   * @param {object} Event object\n   */\n\n\t}, {\n\t\tkey: '_receiveMessage',\n\t\tvalue: function _receiveMessage(event) {\n\t\t\t// Only accept message from the iframe we know about\n\t\t\tif (event.origin !== this._targetOrigin) {\n\t\t\t\treturn;\n\t\t\t}\n\t\t\tvar obj = this._parseMessage(event.data);\n\t\t\tif (obj !== null) {\n\t\t\t\tif (!obj.status || obj.status === 'success') {\n\t\t\t\t\tswitch (obj.type) {\n\t\t\t\t\t\tcase 'ready':\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(this._apiKey);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase 'api':\n\t\t\t\t\t\t\t// expand the api response by either injecting to the API to the root or creating an new API object\n\t\t\t\t\t\t\tvar resolvedAPI = obj.actionId.indexOf(CognosApi.APISERVICE_INIT) === 0 ? this : {};\n\t\t\t\t\t\t\tthis._injectAPI(resolvedAPI, obj.payload);\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(obj.actionId, resolvedAPI);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase 'event':\n\t\t\t\t\t\t\tthis._handleEventCallbacks(obj.actionId, obj.payload);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tdefault:\n\t\t\t\t\t\t\t// simply resolve with the raw payload\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(obj.actionId, obj.payload);\n\t\t\t\t\t}\n\t\t\t\t} else {\n\t\t\t\t\tthis._rejectResponseCallbacks(obj.actionId, obj.payload);\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Create a message with the CAPI header prepended to the message\n   * @private\n   * @param {object} Payload object\n   */\n\n\t}, {\n\t\tkey: '_createMessage',\n\t\tvalue: function _createMessage(obj) {\n\t\t\treturn CognosApi.APIHEADER + CognosApi.APIHEADER_DELIMITER + this._apiKey + CognosApi.APIHEADER_DELIMITER + JSON.stringify(obj);\n\t\t}\n\n\t\t/**\n   * Parse the response message.\n   * @private\n   * @return Response payload object\n   */\n\n\t}, {\n\t\tkey: '_parseMessage',\n\t\tvalue: function _parseMessage(data) {\n\t\t\tvar result = this._message_regex.exec(data);\n\t\t\tif ((typeof result === 'undefined' ? 'undefined' : _typeof(result)) === 'object' && result !== null) {\n\t\t\t\tthis._message_regex.lastIndex = 0;\n\t\t\t\treturn JSON.parse(result[2]);\n\t\t\t}\n\t\t\treturn null;\n\t\t}\n\n\t\t/**\n   * Inject the API spec returned by the API service to the client API object\n   * @private\n   * @param {object} client API object\n   * @param {object} API spec that describes an API\n   */\n\n\t}, {\n\t\tkey: '_injectAPI',\n\t\tvalue: function _injectAPI(api, apiSpec) {\n\t\t\tvar _this6 = this;\n\n\t\t\tObject.keys(apiSpec).forEach(function (memberName) {\n\t\t\t\tif (memberName === 'apiId') {\n\t\t\t\t\tapi[memberName] = apiSpec[memberName];\n\t\t\t\t} else if (apiSpec[memberName].apiId) {\n\t\t\t\t\t// new nested API needs to built recursively\n\t\t\t\t\tapi[memberName] = {};\n\t\t\t\t\t_this6._injectAPI(api[memberName], apiSpec[memberName]);\n\t\t\t\t} else {\n\t\t\t\t\tif (apiSpec[memberName].type === 'enum') {\n\t\t\t\t\t\tapi[memberName] = apiSpec[memberName].values;\n\t\t\t\t\t} else if (apiSpec[memberName].type === 'method') {\n\t\t\t\t\t\tapi[memberName] = _this6._getAPIMethod(memberName, apiSpec.apiId);\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Generate an API proxy method to be injected to the client API object\n   * @private\n   * @param {string} Method name\n   * @param {string} Identifier of the API\n   */\n\n\t}, {\n\t\tkey: '_getAPIMethod',\n\t\tvalue: function _getAPIMethod(methodName, apiId) {\n\t\t\tvar _this7 = this;\n\n\t\t\t// predefined event on/off methods\n\t\t\tif (methodName === 'on') {\n\t\t\t\treturn function () {\n\t\t\t\t\tfor (var _len = arguments.length, args = Array(_len), _key = 0; _key < _len; _key++) {\n\t\t\t\t\t\targs[_key] = arguments[_key];\n\t\t\t\t\t}\n\n\t\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\t\tvar callback = params[1];\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: CognosApi._createUID(methodName),\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, callback, callback);\n\t\t\t\t};\n\t\t\t} else if (methodName === 'off') {\n\t\t\t\treturn function () {\n\t\t\t\t\tfor (var _len2 = arguments.length, args = Array(_len2), _key2 = 0; _key2 < _len2; _key2++) {\n\t\t\t\t\t\targs[_key2] = arguments[_key2];\n\t\t\t\t\t}\n\n\t\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\t\tvar callback = params[1];\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: _this7._eventReverseLookup[callback],\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, callback, callback);\n\t\t\t\t};\n\t\t\t}\n\n\t\t\t// general api methods\n\t\t\treturn function () {\n\t\t\t\tfor (var _len3 = arguments.length, args = Array(_len3), _key3 = 0; _key3 < _len3; _key3++) {\n\t\t\t\t\targs[_key3] = arguments[_key3];\n\t\t\t\t}\n\n\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: CognosApi._createUID(methodName),\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, resolve, reject);\n\t\t\t\t});\n\t\t\t};\n\t\t}\n\n\t\t/**\n   * Static private method to to update the modules in the dashboard spec.\n   * @static\n   * @private\n  */\n\n\t}], [{\n\t\tkey: '_updateModuleDefinitions',\n\t\tvalue: function _updateModuleDefinitions(dashboardSpec, callback) {\n\t\t\tif (!dashboardSpec || !dashboardSpec.dataSources || !dashboardSpec.dataSources.sources) {\n\t\t\t\treturn Promise.resolve(dashboardSpec);\n\t\t\t}\n\n\t\t\tvar moduleClientIds = [];\n\t\t\tdashboardSpec.dataSources.sources.forEach(function (source) {\n\t\t\t\tif (source.clientId) {\n\t\t\t\t\tmoduleClientIds.push(source.clientId);\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tif (moduleClientIds.length === 0) {\n\t\t\t\treturn Promise.resolve(dashboardSpec);\n\t\t\t}\n\n\t\t\tvar result = callback(moduleClientIds);\n\t\t\tif (result && typeof result.then === 'function') {\n\t\t\t\treturn result.then(function (newModules) {\n\t\t\t\t\treturn CognosApi._doModuleUpdate(dashboardSpec, newModules);\n\t\t\t\t});\n\t\t\t}\n\n\t\t\treturn Promise.resolve(CognosApi._doModuleUpdate(dashboardSpec, result));\n\t\t}\n\n\t\t/**\n   * Static private method to to update the modules in the dashboard spec.\n   * @static\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_doModuleUpdate',\n\t\tvalue: function _doModuleUpdate(dashboardSpec, newModules) {\n\t\t\tvar cloneDashboardSpec = JSON.parse(JSON.stringify(dashboardSpec));\n\t\t\tif (newModules) {\n\t\t\t\tvar _iteratorNormalCompletion = true;\n\t\t\t\tvar _didIteratorError = false;\n\t\t\t\tvar _iteratorError = undefined;\n\n\t\t\t\ttry {\n\t\t\t\t\tfor (var _iterator = cloneDashboardSpec.dataSources.sources[Symbol.iterator](), _step; !(_iteratorNormalCompletion = (_step = _iterator.next()).done); _iteratorNormalCompletion = true) {\n\t\t\t\t\t\tvar source = _step.value;\n\t\t\t\t\t\tvar _iteratorNormalCompletion2 = true;\n\t\t\t\t\t\tvar _didIteratorError2 = false;\n\t\t\t\t\t\tvar _iteratorError2 = undefined;\n\n\t\t\t\t\t\ttry {\n\t\t\t\t\t\t\tfor (var _iterator2 = newModules[Symbol.iterator](), _step2; !(_iteratorNormalCompletion2 = (_step2 = _iterator2.next()).done); _iteratorNormalCompletion2 = true) {\n\t\t\t\t\t\t\t\tvar newModule = _step2.value;\n\n\t\t\t\t\t\t\t\tif (newModule.id === source.clientId) {\n\t\t\t\t\t\t\t\t\tif (newModule.module) {\n\t\t\t\t\t\t\t\t\t\tsource.module = newModule.module;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t\tif (newModule.name) {\n\t\t\t\t\t\t\t\t\t\tsource.name = newModule.name;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t\tif (newModule.newId && newModule.id !== newModule.newId) {\n\t\t\t\t\t\t\t\t\t\tsource.clientId = newModule.newId;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t} catch (err) {\n\t\t\t\t\t\t\t_didIteratorError2 = true;\n\t\t\t\t\t\t\t_iteratorError2 = err;\n\t\t\t\t\t\t} finally {\n\t\t\t\t\t\t\ttry {\n\t\t\t\t\t\t\t\tif (!_iteratorNormalCompletion2 && _iterator2.return) {\n\t\t\t\t\t\t\t\t\t_iterator2.return();\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t} finally {\n\t\t\t\t\t\t\t\tif (_didIteratorError2) {\n\t\t\t\t\t\t\t\t\tthrow _iteratorError2;\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t} catch (err) {\n\t\t\t\t\t_didIteratorError = true;\n\t\t\t\t\t_iteratorError = err;\n\t\t\t\t} finally {\n\t\t\t\t\ttry {\n\t\t\t\t\t\tif (!_iteratorNormalCompletion && _iterator.return) {\n\t\t\t\t\t\t\t_iterator.return();\n\t\t\t\t\t\t}\n\t\t\t\t\t} finally {\n\t\t\t\t\t\tif (_didIteratorError) {\n\t\t\t\t\t\t\tthrow _iteratorError;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\n\t\t\t\t;\n\t\t\t}\n\n\t\t\treturn cloneDashboardSpec;\n\t\t}\n\n\t\t/**\n  * Static private method to create an unique identifier prepended with a give name\n   * @static\n  * @private\n  */\n\n\t}, {\n\t\tkey: '_createUID',\n\t\tvalue: function _createUID(prepend) {\n\t\t\tvar uid = Date.now().valueOf();\n\t\t\tCognosApi.__uid = CognosApi.__uid === uid ? uid + 1 : uid;\n\t\t\treturn prepend + '_' + CognosApi.__uid.toString(16);\n\t\t}\n\t}]);\n\n\treturn CognosApi;\n}();\n\n/**\n * Constant for event names used for on and off\n * @public\n * @readonly\n * @enum {string}\n * @memberof CognosApi\n */\n\n\nCognosApi.EVENTS = {\n\t/** Request error events.<br>\n Allows users to receive HTTP request error events. */\n\tREQUEST_ERROR: 'api:error:request'\n};\n\n/**\n * Constant for Api message header and initialization\n * @private\n */\nCognosApi.APIHEADER_DELIMITER = '#';\nCognosApi.APIHEADER_MARKER = 'capi';\nCognosApi.APIHEADER_VERSION = 'v1';\nCognosApi.APIHEADER = CognosApi.APIHEADER_DELIMITER + CognosApi.APIHEADER_MARKER + CognosApi.APIHEADER_DELIMITER + CognosApi.APIHEADER_VERSION;\n\nCognosApi.APISERVICE_INIT = 'getAppApi';\nCognosApi.APISERVICE_ON = 'on';\nCognosApi.APISERVICE_OFF = 'off';\nCognosApi.APISERVICE_DESTROY = 'destroyAppApi';\nCognosApi.APISERVICE_CLASS = 'capi-service';\n//# sourceMappingURL=CognosApi.js.map\n\n\nvar sessionObj = null;\nvar cognosApi = null;\n  $.get('https://darktribes.mybluemix.net/session', function(result) {\n          sessionObj = result;\n          cognosApi = new CognosApi({\n              cognosRootURL: 'https://dde-us-south.analytics.ibm.com/daas/',\n              sessionCode: sessionObj.sessionCode,\n              node: document.getElementById('sentiment')\n          });\n          cognosApi.initialize().then(function() {\n              cognosApi.dashboard.openDashboard({dashboardSpec: dashSpec}).then(\n                  function(dashboardAPI) {\n                      cognosApi.dashboardAPI = dashboardAPI;\n                  }\n              ).catch(\n                  function(err) {\n                      console.log(err);\n                  }\n              );\n          }, function(err) {\n              console.log('Failed to create API. ' + err.message);\n          });\n        });\n","output":"str","x":320,"y":440,"wires":[["698aeb26.e381bc"]]},{"id":"bd91c613.2e69a8","type":"http in","z":"144049cb.459d96","name":"","url":"/cognosApi","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["9121ce92.42a918"]]},{"id":"698aeb26.e381bc","type":"change","z":"144049cb.459d96","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/javascript","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["5ae47ad7.a02174"]]},{"id":"c09b9747.3e13f","type":"watson-tone-analyzer-v3","z":"7f81ae20.61519","name":"Tone Analyzer","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":400,"y":520,"wires":[["685175d3.8a9774"]]},{"id":"1d80fa64.e22746","type":"function","z":"7f81ae20.61519","name":"pre nlc","func":"\n//store payload before calling watson api\nmsg.prewatsonpayload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":560,"wires":[["905ae24e.4e2af"]]},{"id":"905ae24e.4e2af","type":"watson-natural-language-classifier","z":"7f81ae20.61519","name":"NLC","mode":"classify","language":"en","classifier":"ab2966x340-nlc-197","collections-off":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-classifier/api","x":370,"y":560,"wires":[["29d1624c.e37e2e"]]},{"id":"ce3e1733.95e85","type":"function","z":"7f81ae20.61519","name":"pre tone","func":"\n//store payload before calling watson api\nmsg.prewatsonpayload = msg.payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":520,"wires":[["c09b9747.3e13f"]]},{"id":"83172.5635668e8","type":"function","z":"7f81ae20.61519","name":"process class","func":"for (x=0; x< msg.classes.length; x++){\n    t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        CLASS_NAME: msg.classes[x].class_name,\n        CONFIDENCE : msg.classes[x].confidence\n    }\n    node.send(t)\n}\n","outputs":1,"noerr":0,"x":820,"y":560,"wires":[["48af4300.6d00d4"]]},{"id":"1c1bebd.6956d94","type":"link in","z":"7f81ae20.61519","name":"Tone and Class","links":["1c88dd28.61f1bb","6df7c4a6.e48114"],"x":115,"y":520,"wires":[["ce3e1733.95e85","1d80fa64.e22746","824b5a17.beb95"]]},{"id":"48af4300.6d00d4","type":"dashDB out","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","table":"CALL_CLASSIFICATION","name":"Classification","x":990,"y":560,"wires":[]},{"id":"19797342.89b81d","type":"function","z":"7f81ae20.61519","name":"process tone","func":"\nfor (x=0; x< msg.tones.length; x++){\n    t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        TONE_NAME: msg.tones[x].tone_name,\n        SCORE : msg.tones[x].score\n    }\n    node.send(t)\n}\n","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["63711b8a.f905c4"]]},{"id":"63711b8a.f905c4","type":"dashDB out","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","table":"CALL_TONE","name":"Tone","x":970,"y":520,"wires":[]},{"id":"93480969.d6085","type":"dashDB in","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","query":"truncate table call_tone immediate;","params":"","name":"Truncate","x":680,"y":520,"wires":[["19797342.89b81d"]]},{"id":"685175d3.8a9774","type":"function","z":"7f81ae20.61519","name":"","func":"msg.tones = msg.response.document_tone.tone_categories[0].tones;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["93480969.d6085"]]},{"id":"25e94bdc.91f81c","type":"dashDB in","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","query":"truncate table CALL_CLASSIFICATION immediate;","params":"","name":"Truncate","x":660,"y":560,"wires":[["83172.5635668e8"]]},{"id":"29d1624c.e37e2e","type":"function","z":"7f81ae20.61519","name":"","func":"msg.classes = msg.payload.classes;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["25e94bdc.91f81c"]]},{"id":"6cb31afb.fbbb04","type":"wml","z":"7f81ae20.61519","name":"","connection":"43d08a57.f16084","wml-mode":"runPrediction","model":"0e2d2ade-6084-44b2-9233-7b85c330da15","deployment":"e8ae862e-9f49-4569-b4e8-db94a6e9e6e9","modelhidden":"0e2d2ade-6084-44b2-9233-7b85c330da15","deploymenthidden":"","x":350,"y":600,"wires":[["472c77af.4543d8"]]},{"id":"824b5a17.beb95","type":"function","z":"7f81ae20.61519","name":"","func":"msg.GENDER = \"m\"\nmsg.AGE = 43\nmsg.STATE = \"MD\"\nmsg.MONTHLY_PAYMENT = 67\nmsg.TOTAL_PAYMENTS = 3004\n\nmsg.payload = {\"fields\":[\"GENDER\", \"AGE\", \"STATE\", \"MONTHLY_PAYMENT\", \"TOTAL_PAYMENTS\"], \"values\":[[msg.GENDER, msg.AGE, msg.STATE, msg.MONTHLY_PAYMENT, msg.TOTAL_PAYMENTS]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":600,"wires":[["6cb31afb.fbbb04"]]},{"id":"2c4dbd40.047512","type":"function","z":"7f81ae20.61519","name":"process tone","func":"\nfor (x=0; x< msg.pred.values[0][msg.pred.fields.indexOf(\"probability\")].length; x++){\n    t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        PRODUCT: msg.pred.values[0][msg.pred.fields.indexOf(\"nodeADP_classes\")][x],\n        PROBABILITY : msg.pred.values[0][msg.pred.fields.indexOf(\"probability\")][x]\n    }\n    node.send(t)\n}\n","outputs":1,"noerr":0,"x":750,"y":600,"wires":[["3a572a17.1ad176"]]},{"id":"3a572a17.1ad176","type":"dashDB out","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","table":"CALL_UPSELL","name":"Upsell","x":890,"y":600,"wires":[]},{"id":"6efa9ad7.ecdbe4","type":"dashDB in","z":"7f81ae20.61519","dashDB":"759a025.71509fc","service":"_ext_","query":"truncate table call_upsell immediate;","params":"","name":"Truncate","x":600,"y":600,"wires":[["2c4dbd40.047512"]]},{"id":"472c77af.4543d8","type":"function","z":"7f81ae20.61519","name":"","func":"msg.pred = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[["6efa9ad7.ecdbe4"]]}]
