nodered
[{"id":"45bfaeea.5a7458","type":"tab","label":"SIP Flow","disabled":false,"info":""},{"id":"8246e271.253b4","type":"tab","label":"Page Rendering","disabled":false,"info":""},{"id":"759a025.71509fc","type":"dashDB","z":"","hostname":"dashdb-entry-yp-dal10-01.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DB2"},{"id":"43d08a57.f16084","type":"wml-config","z":"","host":"https://ibm-watson-ml.mybluemix.net","accesskey":"1","instanceid":"5302c7dc-ff05-4ff2-be2a-1b2f67e8ca76","name":""},{"id":"d5b204ac.c94cd8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6dc9c968.b670a","type":"socketio-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"5fa6141c.886c84","type":"http response","z":"45bfaeea.5a7458","name":"","statusCode":"","headers":{},"x":1010,"y":420,"wires":[]},{"id":"9370be58.996e1","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg2 = {};\npayload = {};\npayload.chat = msg.chat;\npayload.user = msg.user;\npayload.from = msg.from;\nmsg2.socketIOEvent = \"chat\";\nmsg2.payload = payload;\n\n\nreturn msg2;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["29bae652.7cf21a"]]},{"id":"99381abc.06e15","type":"http in","z":"45bfaeea.5a7458","name":"","url":"/sip","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["3108343f.5fc9d4"]]},{"id":"3108343f.5fc9d4","type":"function","z":"45bfaeea.5a7458","name":"SIP Input","func":"var ucontext = flow.get('ucontext');\nvar agents = flow.get('agents');\nvar speaker = flow.get(\"speaker\");\nmsg.origin = \"sip\";\n\nif (typeof(ucontext) == \"undefined\"){\n    ucontext = [];\n}\nmsg.user = msg.payload.context.vgwSIPFromURI.match(/\\d*(?=@)/)[0];\n\n\nif (typeof(agents[msg.user]) == \"undefined\"){\n    agents[msg.user] = null;\n}\n\nmsg.agentCall = agents[msg.user];\n\nif (typeof(ucontext[msg.user]) == \"undefined\"){\n    ucontext[msg.user] = {};\n}\nmsg.params = {};\nmsg.params.context = ucontext[msg.user];\nmsg.params.context.agent = false;\nmsg.params.context.vgwPostResponseTimeoutCount = 20000;\n\nmsg.payload = msg.payload.input.text;\nmsg.text = msg.payload;\n\nflow.set('ucontext', ucontext);\nflow.set('agents', agents);\n\nif (msg.payload == \"vgwHangUp\"){\n    speaker[msg.user] = {};\n    flow.set(\"speaker\", speaker);\n    return [msg,null];\n}\nif (msg.payload == \"vgwPostResponseTimeout\")\n    return [msg,null];\nif (msg.payload === \"\")\n    return [msg,null];\n\nif (agents[msg.user] !== null)\n    return [msg,msg]; //agent on\n\n\nreturn [null, msg]; //no agent\n\n","outputs":2,"noerr":0,"x":240,"y":140,"wires":[["7c6826e9.1b1d6"],["45196eaf.44bbf8"]]},{"id":"c402f685.779ff8","type":"function","z":"45bfaeea.5a7458","name":"Assemble","func":"var ucontext = flow.get('ucontext');\nucontext[msg.user].context = msg.payload.context;\nflow.set('ucontext',ucontext);\n\nvar text = '';\nfor(var item of msg.payload.output.text) {\n    text = text + item + '<br/>';\n}\n\n\nmsg.payload.text = text;\nmsg.payload.link = msg.link\nmsg.time= (new Date()).toTimeString().slice(0,5);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["9a0b36d1.fc3148"]]},{"id":"78222dec.7fe19c","type":"function","z":"45bfaeea.5a7458","name":"User Chat","func":"var ucontext = flow.get('ucontext');\nvar workspaces = flow.get('assistants');\nmsg.origin = \"chat\";\nmsg.from = \"user\";\n\nif (typeof(ucontext[msg.user]) == \"undefined\"){\n    ucontext[msg.user] = {};\n}\n\nucontext[msg.user].industry = msg.industry;\n\nmsg.params = {}\nmsg.params.workspace_id = workspaces[ucontext[msg.user].industry]\nmsg.params.context = ucontext[msg.user].context;\n\nmsg.payload = msg.text === \"\" ? \"hello\" : msg.text;\n\nflow.set('ucontext',ucontext);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["23fdc12d.eb019e","1ba6aa7f.0c67c6","8303cd25.a21868"]]},{"id":"b9afe0d5.5a295","type":"function","z":"45bfaeea.5a7458","name":"Assemble","func":"var text = msg.payload.output.text.join('<speak version=\"1.0\"><break strength=\"strong\"></break></speak>');\n\nmsg.payload.output.text = [text];\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["5fa6141c.886c84"]]},{"id":"9a0b36d1.fc3148","type":"template","z":"45bfaeea.5a7458","name":"Watson","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card \">\n    <div class=\" left\">\n    <span class=\"chat-img float-left\">\n        <img src=\"https://placehold.it/50/55C1E7/fff&text=W\" alt=\"Watson\" class=\"rounded-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">Watson</strong> \n                    \n                </div>\n                <p>{{{payload.text}}}</p>\n                <p>{{{! payload.link}}}</p>\n            </div>\n</div>\n</div>","output":"str","x":620,"y":300,"wires":[["9370be58.996e1"]]},{"id":"23fdc12d.eb019e","type":"template","z":"45bfaeea.5a7458","name":"User","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card \">\n    <div class=\"right\">\n    <span class=\"chat-img float-right\">\n        <img src=\"https://placehold.it/50/FA6F57/fff&text=U\" alt=\"User Avatar\" class=\"rounded-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">You</strong>\n                </div>\n                <p>{{payload}}</p>\n            </div>\n</div></div>","output":"str","x":630,"y":260,"wires":[["9370be58.996e1"]]},{"id":"321402cc.35178e","type":"function","z":"45bfaeea.5a7458","name":"","func":"var ucontext = flow.get('ucontext');\nvar workspaces = flow.get('assistants');\nmsg.params = {}\nmsg.ucontext = ucontext;\nmsg.params.workspace_id = workspaces[ucontext[msg.user].industry]\n\n\nmsg.params.context = ucontext[msg.user].context;\n\n\nmsg.payload = msg.payload === \"\" ? \"hello\" : msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":380,"wires":[["1ba6aa7f.0c67c6","8303cd25.a21868"]]},{"id":"e8c3fcbd.4b774","type":"http request","z":"45bfaeea.5a7458","name":"Call Agent","method":"GET","ret":"txt","url":"","tls":"","x":850,"y":480,"wires":[[]]},{"id":"1e63c884.a708d7","type":"http in","z":"45bfaeea.5a7458","name":"","url":"/agentCallback","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["14170444.e66784"]]},{"id":"14170444.e66784","type":"function","z":"45bfaeea.5a7458","name":"","func":"var agents = flow.get(\"agents\");\nvar speaker = flow.get(\"speaker\");\nmsg.user = msg.req.query.from;\n\nif (msg.payload.CallStatus == \"in-progress\"){\n    agents[msg.user] = msg.payload.CallSid;\n    speaker[msg.user] = {};\n    speaker[msg.user][agents[msg.user]] = {};\n    flow.set(\"speaker\", speaker);\n    flow.set(\"agents\", agents);\n    msg.payload = \"An Agent has joined your call\";\n    return [msg, msg];\n}\nelse{\n    agents[msg.user] = null;\n    flow.set(\"agents\", agents);\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":370,"y":80,"wires":[["f6f63353.35e8c8"],["a01c4a5c.4f179"]]},{"id":"b98e5fba.e5eea8","type":"start-up-trigger","z":"45bfaeea.5a7458","x":160,"y":920,"wires":[["c7586a2.db73598"]]},{"id":"c7586a2.db73598","type":"change","z":"45bfaeea.5a7458","name":"","rules":[{"t":"set","p":"agents","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"speaker","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"assistants","pt":"flow","to":"{\"0\":\"8a2a473d-baf5-4f2f-9094-71aefa58b7a0\",\"1\":\"18a3d8c4-d8a1-48b5-8231-a27f611c4ac0\",\"2\":\"85af2a51-6928-4a58-afa8-f0975f19c9f1\",\"3\":\"16ace5e1-6d4b-4728-92c0-2ccf68937517\"}","tot":"json"},{"t":"set","p":"ucontext","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"discovery","pt":"flow","to":"{\"0\":\"3fb5412a-b261-4f92-8d1c-ec854cd57523\",\"1\":\"1547d695-0f09-48b7-9f83-7f354cecbaae\",\"2\":\"3de44fe8-7a29-4df7-9618-4e0b0a33939b\",\"3\":\"6227a9fc-e637-4f2f-81c0-9aa728f95553\"}","tot":"json"},{"t":"set","p":"socketMap","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":920,"wires":[[]]},{"id":"70e4e4b5.46beb4","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n    <link href=\"https://conciergevoiceserver.mybluemix.net/css/mm-overlay.css\" rel=\"stylesheet\" id=\"myOverlay\">\n    <style>\n        html, body{\n\n            padding-top:0px;\n        }\n\n        #chatbar{\n            display:{{hideChat}};\n        }\n\n        .left .chat-body\n        {\n            margin-left: 60px;\n        }\n        \n        .right .chat-body\n        {\n            margin-right: 60px;\n        }\n        \n        .card{\n            margin-top: 5px;\n            line-height: initial;\n        }\n        .chat-body{\n            padding: 5px;\n            \n        }\n        \n        .card .chat-body p\n        {\n            margin: 5px;\n            color: #777777;\n        }\n        \n        .container{\n            margin:0px 0px 0px 0px;\n        }\n        #chatcol{\n            padding:3px;\n        }\n        #chat{\n            clear:both;\n        }\n\n@-webkit-keyframes passing {\n  \t0% {\n\t\tbackground-position: 0% 50%\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%\n\t}\n}\n\n@keyframes passing {\n   \t0% {\n\t\tbackground-position: 0% 50%\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%\n\t}\n}\n\n.faa-passing.animated{\n      -webkit-animation: passing .5s linear infinite;\n    animation: passing .7s linear infinite;\n    background: linear-gradient(-45deg, #FFF, #050404, #747577,#FFF);\n    background-size: 400% 400%;\n    -webkit-background-clip: text;\n    background-clip: text;\n    color: transparent;\n}\n\n\n    </style>\n  </head>\n  <body>\n     \n      \n<div class=\"container\" style=\"\">\n    <div class=\"row\" style=\"\">\n        <div class=\"col-lg-4 mb-4\" id=\"chatcol\">\n                <div id=\"chatbar\">\n                    <div class=\"input-group\">\n                        <input id=\"btn-input\" type=\"text\" class=\"form-control input-sm\" placeholder=\"Type your message here...\" />\n                        <span class=\"input-group-btn\">\n                            <button class=\"btn btn-info btn-sm\" id=\"btn-chat\">\n                                Send</button>\n                        </span>\n                    </div>\n                </div>\n                <div id=\"chatComing\" style=\"color: white; display:none;clear:both;float:right\">\n                    <span class=\"fa-stack fa-lg\">\n                        <i aria-hidden=\"true\" class=\"fa fa-stack-2x fa-comment fa-rotate-180\"></i>\n                        <i aria-hidden=\"true\" class=\"fa fa-stack-1x fa-ellipsis-h faa-passing animated\"></i>\n                    </span>\n                </div>\n                <div id=\"chat\">\n\n        <div class=\"card h-100\" id=\"basecard\">\n            <h4 class=\"card-header\">Get Help</h4>\n            <div class=\"card-body\"  >\n              <p class=\"card-text\">Chat here for help.  Try saying Hi to begin</p>\n            </div>\n        </div>\n    </div>\n\n\n          </div>\n          </div>\n          </div>\n                     \n  </body>\n\n    <script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n            crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n    <script src=\"/socket.io/socket.io.js\"></script>\n    <script src=\"/js\"></script>\n</html>","output":"str","x":440,"y":320,"wires":[["d1003420.4bca3"]]},{"id":"d1003420.4bca3","type":"change","z":"8246e271.253b4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[["f85e1fc8.dab9e"]]},{"id":"597ab33.bb4304c","type":"http in","z":"8246e271.253b4","name":"IOS Help Tab","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["6143e68d.f84668"]]},{"id":"22b6d48c.b0a8fc","type":"http in","z":"8246e271.253b4","name":"IOS JS","url":"/js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["4d9abed6.17bc8"]]},{"id":"4d9abed6.17bc8","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"var getUrlParameter = function getUrlParameter(sParam) {\n    var sPageURL = decodeURIComponent(window.location.search.substring(1)),\n        sURLVariables = sPageURL.split('&'),\n        sParameterName,\n        i;\n\n    for (i = 0; i < sURLVariables.length; i++) {\n        sParameterName = sURLVariables[i].split('=');\n\n        if (sParameterName[0] === sParam) {\n            return sParameterName[1] === undefined ? true : sParameterName[1];\n        }\n    }\n};\n\nvar socket = io();\n\nyourPhone = getUrlParameter('yourPhone');\nagentPhone = getUrlParameter('agentPhone');\nindustry = getUrlParameter('industry');\n\n$(\"#btn-chat\").click(function(){\n    var msg = {\n        text: $(\"#btn-input\").val(),\n        user:   yourPhone,\n        industry: industry\n      };\n\tsocket.emit('chat', msg);\n});\n\nsocket.on('connect', function() {\n    console.log(\"socket connected\");\n});\n\nsocket.on('disconnect', function() {\n    console.log('socket disconnected');\n});\nsocket.on('chat', function(json) {\n    if(json.user == yourPhone){\n        $(\"#basecard\").hide();\n            if(json.from == \"user\"){\n                $(\"#chatComing\").show();\n                $(\"#chat\").prepend(json.chat);\n            }else{\n                setTimeout(function(){\n                    $(\"#chatComing\").hide();\n                    $(\"#chat\").prepend(json.chat);\n                }, 1000);\n            }\n        }\n});","x":320,"y":400,"wires":[["493233cf.e4934c"]]},{"id":"f85e1fc8.dab9e","type":"http response","z":"8246e271.253b4","name":"","statusCode":"","headers":{},"x":850,"y":200,"wires":[]},{"id":"522f4973.37853","type":"function","z":"45bfaeea.5a7458","name":"","func":"var agents = flow.get('agents');\nif (typeof(agents[msg.user]) == \"undefined\"){\n    agents[msg.user] = null;\n}\n\n\nif (agents[msg.user] === null && msg.origin == \"sip\"){\n    if (msg.payload.context.agent){\n        msg.url = \"https://conciergevoiceserver.mybluemix.net/callAgent?from=\" + msg.user\n        msg.payload.context.agent = false;\n        return [msg, null];\n    }\n}\nif (msg.payload.context.agent && msg.origin != \"sip\"){\n\n    agents[msg.user] = \"text\";\n    flow.set(\"agents\", agents);\n    \n    msg2 = {};\n    payload = {};\n    payload.agent = 1;\n    payload.user = msg.user;\n    msg2.socketIOEvent = \"agent\";\n    msg2.payload = payload;\n\n\n    return [null, msg2];\n}\n","outputs":2,"noerr":0,"x":670,"y":480,"wires":[["e8c3fcbd.4b774"],["4e8a938a.f1af0c"]]},{"id":"f67ff127.25956","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n    \n    <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=.74\">\n        <link href=\"https://watson-discovery.bluemix.net/favicon.ico\" rel=\"shortcut icon\">\n        <title>Search Assistant Demo</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        \n        <link href=\"https://fonts.googleapis.com/css?family=Roboto\" rel=\"stylesheet\" type=\"text/css\">\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n        <link rel=\"stylesheet\" href=\"https://darktribes.mybluemix.net/stylesheets/style.css\">\n        <style>\n            .container {\n                max-width: 100%;\n            }\n            .navbar {\n                padding: 0px;\n            }\n            body{\n                font-size:14px;\n            }\n            .navbar-brand{\n                font-size:18px;\n            }\n            #main{\n                padding-top:50px;\n            }\n            .btn-secondary {\n                text-align: center;\n            }\n            input[type=\"checkbox\"] {\n                margin-right:8px;\n            }\n\n\n        .left .chat-body\n        {\n            margin-left: 60px;\n        }\n        \n        .right .chat-body\n        {\n            margin-right: 60px;\n        }\n        \n        .card{\n            margin-top: 5px;\n            line-height: initial;\n        }\n        .chat-body{\n            padding: 5px;\n            \n        }\n        \n        .card .chat-body p\n        {\n            margin: 5px;\n            color: #777777;\n        }\n        \n        .container{\n            margin:0px 0px 0px 0px;\n        }\n        #chatcol{\n            padding:3px;\n        }\n        #chat{\n            clear:both;\n        }\n\n@-webkit-keyframes passing {\n    0% {\n        background-position: 0% 50%\n    }\n    50% {\n        background-position: 100% 50%\n    }\n    100% {\n        background-position: 0% 50%\n    }\n}\n\n@keyframes passing {\n    0% {\n        background-position: 0% 50%\n    }\n    50% {\n        background-position: 100% 50%\n    }\n    100% {\n        background-position: 0% 50%\n    }\n}\n\n.faa-passing.animated{\n      -webkit-animation: passing .5s linear infinite;\n    animation: passing .7s linear infinite;\n    background: linear-gradient(-45deg, #FFF, #050404, #747577,#FFF);\n    background-size: 400% 400%;\n    -webkit-background-clip: text;\n    background-clip: text;\n    color: transparent;\n}\n\n.navbar-dark{\n    background-image: none;\n    font-family: \"IBM Plex Sans\",\"Helvetica Neue\",Arial,sans-serif;\n    background-color: #152935;\n    height:50px;\n}\ndropdown-menu {\n    position: absolute;\n    top: 100%;\n    left: 0;\n    z-index: 1000;\n    display: none;\n    float: left;\n    min-width: 160px;\n    padding: 5px 0;\n    margin: 2px 0 0;\n    font-size: 14px;\n    text-align: left;\n    list-style: none;\n    background-color: #fff;\n    -webkit-background-clip: padding-box;\n    background-clip: padding-box;\n    border: 1px solid #ccc;\n    border: 1px solid rgba(0,0,0,.15);\n    border-radius: 4px;\n    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);\n    box-shadow: 0 6px 12px rgba(0,0,0,.175);\n}\n\n.dropdown-menu .divider {\n    height: 1px;\n    margin: 9px 0;\n    overflow: hidden;\n    background-color: #e5e5e5;\n}\n\n .dropdown-menu  > li > a {\n    display: block;\n    padding: 3px 20px;\n    clear: both;\n    font-weight: 400;\n    line-height: 1.42857143;\n    color: #333;\n    white-space: nowrap;\n}\n.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {\n    color: #262626;\n    text-decoration: none;\n    background-color: #f5f5f5;\n}\na:active, a:hover {\n    outline: 0;\n}\n.h4, .h5, .h6, h4, h5, h6 {\n    margin-top: 10px;\n    margin-bottom: 10px;\n}\n        </style>\n    </head>\n    \n    <body>\n        <nav class=\"navbar navbar-dark bg-dark fixed-top navbar-expand-md\">\n    <div class=\"container\">\n        <ul class=\"nav navbar-nav hidden-xsd-none d-sm-block\">\n            <li class=\"dropdown nav-item\"> <a href=\"#\" class=\"nav-link\" data-toggle=\"dropdown\" role=\"button\"\n                aria-haspopup=\"true\" aria-expanded=\"false\">\n                    <div class=\"micon\"></div><div class=\"micon\"></div><div class=\"micon\"></div>\n                </a>\n                <ul class=\"dropdown-menu\">\n                    <li><a href=\"https://ibm.biz/darkTribes\">Illuminating Dark Tribes with Watson</a>\n                    </li>\n                    <li><a href=\"http://ibm.biz/vegetationManagement\">Cognitive Vegetation Optimization</a>\n                    </li>\n                    <li><a href=\"http://ibm.biz/chatClassification\">Cognitive Chat Demo</a>\n                    </li>\n                    <li><a href=\"http://commscalendarapi.mybluemix.net/news/\">Cognitive News Demo</a>\n                    </li>\n                    <li role=\"separator\" class=\"divider\"></li>\n                    <li><a href=\"http://ibm.biz/commsdemos\">Demo Blog</a>\n                    </li>\n                </ul>\n            </li>\n        </ul> <a class=\"navbar-brand\" href=\"#\">\n\n                <img alt=\"\" src=\"https://console-dal10-red.cdn.s-bluemix.net/cache/b86-87010155/api/v6/img/ibm-cloud-logo-white.svg\">\n\n                <h2 class=\"bx--logo__text\">IBM&#xA0;<span class=\"bx--logo__text--bold\">Cloud</span></h2><h4 class=\"bx--global-header__title--current-page\">Demo</h4>\n\n            </a> \n        <div id=\"navbar\" class=\"navbar-collapse collapse\">\n            <ul class=\"nav navbar-nav ml-auto\">\n                <li class=\"nav-item\"><a target=\"_blank\" href=\"https://console.bluemix.net/registration/?target=%2Fdashboard%2Fapps\"\n                    class=\"nav-link\">Start Free Today!</a>\n                </li>\n                <li class=\"nav-item\"><a target=\"_blank\" href=\"https://www-01.ibm.com/marketing/iwm/dre/signup?source=MAIL-watson&amp;disableCookie=Yes\"\n                    class=\"nav-link\">Contact Us</a>\n                </li>\n            </ul>\n        </div>\n    </div>\n</nav>\n\n        <div class=\"container\" id=\"main\">\n            <div class=\"row\">\n                <div class=\"col-lg-3\">\n                    <div class=\"card\" id=\"agentcontrol\" style=\"margin-bottom: 0px;padding-bottom: 0px;\">\n                        <div class=\"card-header \">Agent control panel</div>\n                        <div class=\"\">\n                            <div class=\"input-group\">\n                                <input id=\"phoneInput\" name=\"phoneInput\" type=\"text\" class=\"form-control\" placeholder=\"Phone Number\" aria-label=\"Phone Number\" aria-describedby=\"basic-addon2\" style=\"font-size: 12px;\"> \n                                <span class=\"input-group-append\">\n                                    <button id=\"btnPhone\" type=\"submit\" class=\"btn btn-primary\"><i class=\"fa fa-download fa-rotate-270\" aria-hidden=\"true\"></i></button>\n                                </span>\n                            </div>\n                        </div>\n                    </div>\n                    \n\n                    <div class=\"card\" id=\"customerchat\" style=\"display:none; margin-bottom: 0px;padding-bottom: 0px;\">\n                        <div class=\"card-header \">Customer Chat</div>\n                        <div id=\"chatbar\" style=\"display:none\">\n                            <div class=\"input-group\">\n                                <input id=\"btn-input\" type=\"text\" class=\"form-control input-sm\" placeholder=\"Type your message here...\" />\n                                <span class=\"input-group-append\">\n                                    <button class=\"btn btn-info btn-sm\" id=\"btn-chat\"><i class=\"fa fa-download fa-rotate-270\" aria-hidden=\"true\"></i></button>\n                                    <button class=\"btn btn-danger btn-sm\" id=\"btn-end\"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button>\n                                </span>\n                            </div>\n                        </div>\n        \n                            <div id=\"chatComing\" style=\"color: white; display:none;clear:both;float:right\">\n                    <span class=\"fa-stack fa-lg\">\n                        <i aria-hidden=\"true\" class=\"fa fa-stack-2x fa-comment fa-rotate-180\"></i>\n                        <i aria-hidden=\"true\" class=\"fa fa-stack-1x fa-ellipsis-h faa-passing animated\"></i>\n                    </span>\n                </div>\n                <div id=\"chat\">\n                        </div>\n                    </div>\n                </div>\n                <div class=\"col-lg-9 \">\n                    <div class=\"card \" style=\"margin-bottom: 0px;padding-bottom: 0px; \">\n                        <div style=\"height:900px\" id=\"sentiment\"></div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n  </body>\n    <script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n            crossorigin=\"anonymous\"></script>\n    <script src = \"/socket.io/socket.io.js\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n    <script src=\"/jsagent\"></script>\n    <script src=\"/cognos\"></script>\n    <script src=\"/CognosApi\"></script>    \n\n    \n\n        \n\n\n\n  </html>","output":"str","x":320,"y":200,"wires":[["d1003420.4bca3"]]},{"id":"170c1305.66782d","type":"http in","z":"8246e271.253b4","name":"Agent Screen","url":"/agent","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["f67ff127.25956","f785dbf7.dbddb"]]},{"id":"6b3dbdd4.cf8374","type":"http in","z":"8246e271.253b4","name":"Agent  JS","url":"/jsagent","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["5f6d9a1d.e7c424"]]},{"id":"5f6d9a1d.e7c424","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"var getUrlParameter = function getUrlParameter(sParam) {\n    var sPageURL = decodeURIComponent(window.location.search.substring(1)),\n        sURLVariables = sPageURL.split('&'),\n        sParameterName,\n        i;\n\n    for (i = 0; i < sURLVariables.length; i++) {\n        sParameterName = sURLVariables[i].split('=');\n\n        if (sParameterName[0] === sParam) {\n            return sParameterName[1] === undefined ? true : sParameterName[1];\n        }\n    }\n};\n\nvar chartDate = new Date( Date.now() - (5000 * 60) ).toISOString().substr(0, 23);\n\n\nyourPhone = getUrlParameter('yourPhone');\n$(\"#phoneInput\").val(yourPhone);\nagentPhone = getUrlParameter('agentPhone');\nsession = Math.random();\n\nif (typeof(yourPhone) != \"undefined\"){\n    $(\"#agentcontrol\").hide();\n    $(\"#customerchat\").show();\n}\n\n\n$(\"#btnPhone\").click(function(){\n    var url = \"https://customerconcierge.mybluemix.net/agent?yourPhone=\" + $(\"#phoneInput\").val();\n      document.location = url;\n});\n\n$(\"#btn-chat\").click(function(){\n    var msg = {\n        text: $(\"#btn-input\").val(),\n        agent: 1,\n        user:   yourPhone\n      };\n\tsocket.emit('chat', msg);\n});\n\n$(\"#btn-end\").click(function(){\n    var msg = {\n        text: $(\"#btn-input\").val(),\n        agent: 0,\n        user:   yourPhone\n      };\n\tsocket.emit('chat', msg);\n\t$(\"#chatbar\").hide();\n});\n\nvar socket = io();\n\nsocket.on('connect', function() {\n    console.log(\"socket connected\")\n});\n\nsocket.on('disconnect', function() {\n    console.log('socket disconnected');\n});\nsocket.on('chat', function(json) {\n    if(json.user == yourPhone){\n            if(json.from == \"user\"){\n                $(\"#chatComing\").show();\n                $(\"#chat\").prepend(json.chat);\n            }else{\n                setTimeout(function(){\n                    $(\"#chatComing\").hide();\n                    $(\"#chat\").prepend(json.chat);\n                }, 1000);\n            }\n        }\n});\nsocket.on('openModal', function(json) {\n    if(json.user == yourPhone && json.session == session){\n        $('#' + json.id).modal('show');\n    }\n});\nsocket.on('agent', function(json) {\n    if(json.user == yourPhone){\n        $(\"#chatbar\").show();\n    }\n});\n","x":320,"y":440,"wires":[["493233cf.e4934c"]]},{"id":"d2fb143e.e7974","type":"http response","z":"8246e271.253b4","name":"","statusCode":"","headers":{},"x":650,"y":500,"wires":[]},{"id":"8303cd25.a21868","type":"natural-language-understanding","z":"45bfaeea.5a7458","name":"NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway-fra.watsonplatform.net/natural-language-understanding/api","x":270,"y":380,"wires":[["5ca996f1.bec39"]]},{"id":"8f97c546.48e47","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"SENTIMENT","name":"Sentiment","x":550,"y":380,"wires":[]},{"id":"5ca996f1.bec39","type":"function","z":"45bfaeea.5a7458","name":"","func":"t = msg;\nmsg.payload =\n{\n    ETIME: 'TIMESTAMP',\n    USER : t.user,\n    SCORE : t.features.sentiment.document.score\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["8f97c546.48e47"]]},{"id":"8899dcc9.ab69f","type":"link out","z":"45bfaeea.5a7458","name":"","links":["6b34a7d0.3a2ed8"],"x":195,"y":420,"wires":[]},{"id":"3fe4da4b.49ca5e","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var dashSpec =  \n\n\n{\n  \"name\": \"New dashboard\",\n  \"layout\": {\n  \t\"id\": \"page0\",\n \t\t\"items\": [\n\t\t  {\n    \"id\": \"page1\",\n    \"items\": [\n      {\n        \"id\": \"model00000163f5e901e2_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"300px\",\n          \"width\": \"250px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164d571b483_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"300px\",\n          \"width\": \"270px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164008cb5ce_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"300px\",\n          \"width\": \"220px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164009d22c0_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"120px\",\n          \"width\": \"100px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164009fd2d2_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"120px\",\n          \"width\": \"100px\"\n        },\n        \"type\": \"widget\"\n      },\n      \n      {\n        \"id\": \"model00000164d010ae0c_00000001\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"175px\",\n          \"width\": \"218px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164d046bffa_00000001\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"125px\",\n          \"width\": \"310px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n        \"id\": \"model00000164d013cc55_00000000\",\n        \"style\": {\n          \"float\": \"left\",\n \t\t\t\"position\": \"relative\",\n          \"height\": \"125px\",\n          \"width\": \"640px\"\n        },\n        \"type\": \"widget\"\n      },\n      {\n\t\t\"id\":  \"model00000164619c2635_00000000\",\n\t\t\"style\": {\n\t\t\t\"height\": \"300px\",\n\t\t\t\"width\": \"99%\",\n\t\t\t\"float\": \"left\",\n\t\t\t\"position\": \"relative\"\n\t\t},\n\t\t\"type\": \"widget\"\n\t}\n    ],\n    \"type\": \"absolute\",\n    \"title\": \"Dashboard\",\n    \"templateName\": \"NoTemplate\"\n  },\n \t\t\t{\n \t\t\t\t\"id\": \"model0000016401ab1e7a_00000000\",\n \t\t\t\t\"items\": [\n \t\t\t\t\t{\n\t\t        \"id\": \"model0000016401b3c240_00000000\",\n\t\t\t\t        \"style\": {\n\t\t\t\t          \"float\": \"left\",\n\t\t\t\t \t\t\t\"position\": \"relative\",\n\t\t\t\t          \"height\": \"120px\",\n\t\t\t\t          \"width\": \"100%\"\n\t\t\t\t        },\n\t\t\t\t        \"type\": \"widget\"\n\t\t\t\t      },\n\t\t\t\t      {\n\t\t        \"id\": \"model0000016401b3c241_00000001\",\n\t\t\t\t        \"style\": {\n\t\t\t\t          \"float\": \"left\",\n\t\t\t\t \t\t\t\"position\": \"relative\",\n\t\t\t\t          \"height\": \"120px\",\n\t\t\t\t          \"width\": \"100%\"\n\t\t\t\t        },\n\t\t\t\t        \"type\": \"widget\"\n\t\t\t\t      }\n\n \t\t\t\t],\n \t\t\t\t\"type\": \"absolute\",\n \t\t\t\t\"title\": \"Account Info\",\n \t\t\t\t\"templateName\": \"NoTemplate\"\n \t\t\t}\n \t\t],\n \t\t\"style\": {\n \t\t\t\"height\": \"100%\"\n \t\t},\n \t\t\"type\": \"tab\"\n \t},\n\n\n\n  \"theme\": \"defaultTheme\",\n  \"version\": 1008,\n  \"eventGroups\": [\n    {\n      \"id\": \"page0:1\",\n      \"widgetIds\": [\n        \"model00000163f5e901e2_00000000\",\n        \"model00000164008cb5ce_00000000\",\n        \"model00000164009d22c0_00000000\",\n        \"model00000164009fd2d2_00000000\",\n        \"model0000016401b3c240_00000000\",\n        \"model00000164d010ae0c_00000001\",\n        \"model00000164d013cc55_00000000\",\n        \"model00000164d046bffa_00000001\",\n        \"model00000164d571b483_00000000\"\n      ]\n    }\n  ],\n  \"pageContext\": [\n    {\n      \"origin\": \"visualization\",\n      \"table\": \"\",\n      \"alias\": \"0\",\n      \"sourceId\": \"model00000164d56252e2_00000001\",\n      \"hierarchies\": [\n        {\n          \"hierarchyUniqueName\": \"CALL_CLASSIFICATION_AVG_VW.CLASS_NAME\"\n        },\n        {\n          \"hierarchyUniqueName\": \"CALL_CLASSIFICATION_AVG_VW.USER_\"\n        }\n      ],\n      \"scope\": \"page0\",\n      \"hierarchyUniqueNames\": [\n        \"CALL_CLASSIFICATION_AVG_VW.CLASS_NAME\",\n        \"CALL_CLASSIFICATION_AVG_VW.USER_\"\n      ],\n      \"eventSourceId\": \"model00000164d571b483_00000000\",\n      \"eventGroupId\": \"page0:1\",\n      \"tupleSet\": \"{\\\"CALL_CLASSIFICATION_AVG_VW.CLASS_NAME->[RepeatCalls]CALL_CLASSIFICATION_AVG_VW.USER_->[\" + yourPhone + \"]\\\":[{\\\"u\\\":\\\"CALL_CLASSIFICATION_AVG_VW.CLASS_NAME->[RepeatCalls]\\\",\\\"d\\\":\\\"RepeatCalls\\\"},{\\\"u\\\":\\\"CALL_CLASSIFICATION_AVG_VW.USER_->[\" + yourPhone + \"]\\\",\\\"d\\\":\\\"\" + yourPhone + \"\\\"}]}\"\n    }\n  ],\n  \"dataSources\": {\n    \"version\": \"1.0\",\n    \"sources\": [\n      {\n        \"id\": \"model00000163f5e8d8dc_00000001\",\n        \"assetId\": \"assetId00000163f5e8d8da_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/SENTIMENT:table\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/SENTIMENT:table\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"SENTIMENT\",\n          \"identifier\": \"SENTIMENT\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"timestamp\",\n                \"nullable\": true,\n                \"name\": \"ETIME\",\n                \"label\": \"ETIME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"decimal(8)\",\n                \"nullable\": true,\n                \"name\": \"SCORE\",\n                \"label\": \"SCORE\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"SENTIMENT\",\n            \"label\": \"SENTIMENT\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"SENTIMENT\",\n        \"shaping\": {\n          \"embeddedModuleUpToDate\": true\n        }\n      },\n      {\n        \"id\": \"model00000163fa696206_00000001\",\n        \"assetId\": \"assetId00000163fa696204_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_CLASSIFICATION:table\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_CLASSIFICATION:table\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"CALL_CLASSIFICATION\",\n          \"identifier\": \"CALL_CLASSIFICATION\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"CLASS_NAME\",\n                \"label\": \"CLASS_NAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"decimal(16)\",\n                \"nullable\": true,\n                \"name\": \"CONFIDENCE\",\n                \"label\": \"CONFIDENCE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"CALL_CLASSIFICATION\",\n            \"label\": \"CALL_CLASSIFICATION\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"CALL_CLASSIFICATION\",\n        \"shaping\": {\n          \"shapingId\": \"shaping00000164d56effd2_00000000\",\n          \"embeddedModuleUpToDate\": false,\n          \"moserJSON\": {\n            \"version\": \"5.0\",\n            \"container\": \"C\",\n            \"useSpec\": [\n              {\n                \"identifier\": \"ES\",\n                \"type\": \"url\",\n                \"storeID\": \"baseModule\",\n                \"imports\": \"*\"\n              }\n            ],\n            \"expressionLocale\": \"en-us\",\n            \"querySubject\": [\n              {\n                \"ref\": [\n                  \"ES.CALL_CLASSIFICATION\"\n                ],\n                \"instanceType\": \"reference\",\n                \"item\": [\n                  {\n                    \"queryItem\": {\n                      \"usage\": \"fact\",\n                      \"regularAggregate\": \"average\",\n                      \"identifier\": \"CONFIDENCE\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        },\n                        {\n                          \"name\": \"propertySetByUser_165\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  }\n                ],\n                \"identifier\": \"CALL_CLASSIFICATION\"\n              }\n            ],\n            \"calculation\": [\n              {\n                \"expression\": \"CALL_CLASSIFICATION.CONFIDENCE * 100\",\n                \"usage\": \"fact\",\n                \"format\": \"\",\n                \"datatype\": \"DECIMAL(13,0)\",\n                \"nullable\": true,\n                \"regularAggregate\": \"calculated\",\n                \"datatypeCategory\": \"number\",\n                \"highlevelDatatype\": \"decimal\",\n                \"facetDefinition\": {\n                  \"enabled\": \"automatic\"\n                },\n                \"identifier\": \"CONFIDENCE_x_100\",\n                \"label\": \"CONFIDENCE x 100\",\n                \"property\": [\n                  {\n                    \"name\": \"ui_expr\",\n                    \"value\": \"{\\\"func\\\":\\\"simpleCalculation\\\",\\\"version\\\":\\\"5.0\\\",\\\"inputtedName\\\":\\\"\\\",\\\"operation\\\":\\\"*\\\",\\\"swap\\\":false,\\\"elementOperands\\\":[\\\"CALL_CLASSIFICATION.CONFIDENCE\\\",\\\"\\\"],\\\"numberOperands\\\":[\\\"\\\",\\\"100\\\"]}\"\n                  }\n                ],\n                \"propertyOverride\": [\n                  \"NEW\"\n                ]\n              }\n            ],\n            \"metadataTreeView\": [\n              {\n                \"folderItem\": [\n                  {\n                    \"ref\": \"CONFIDENCE_x_100\"\n                  }\n                ]\n              }\n            ],\n            \"dataRetrievalMode\": \"liveConnection\",\n            \"identifier\": \"newModel\",\n            \"label\": \"newModel\"\n          }\n        }\n      },\n      {\n        \"id\": \"model00000163fa699ad8_00000001\",\n        \"assetId\": \"assetId00000163fa699ad2_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_TONE:table\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_TONE:table\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"CALL_TONE\",\n          \"identifier\": \"CALL_TONE\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"TONE_NAME\",\n                \"label\": \"TONE_NAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"decimal(16)\",\n                \"nullable\": true,\n                \"name\": \"SCORE\",\n                \"label\": \"SCORE\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"CALL_TONE\",\n            \"label\": \"CALL_TONE\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"CALL_TONE\",\n        \"shaping\": {\n          \"shapingId\": \"shaping00000163ff4a3fc4_00000000\",\n          \"embeddedModuleUpToDate\": false,\n          \"moserJSON\": {\n            \"version\": \"5.0\",\n            \"container\": \"C\",\n            \"useSpec\": [\n              {\n                \"identifier\": \"ES\",\n                \"type\": \"url\",\n                \"storeID\": \"baseModule\",\n                \"imports\": \"*\"\n              }\n            ],\n            \"expressionLocale\": \"en-us\",\n            \"querySubject\": [\n              {\n                \"ref\": [\n                  \"ES.CALL_TONE\"\n                ],\n                \"instanceType\": \"reference\",\n                \"item\": [\n                  {\n                    \"queryItem\": {\n                      \"regularAggregate\": \"none\",\n                      \"identifier\": \"SCORE\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  }\n                ],\n                \"identifier\": \"CALL_TONE\"\n              }\n            ],\n            \"dataRetrievalMode\": \"liveConnection\",\n            \"identifier\": \"newModel\",\n            \"label\": \"newModel\"\n          }\n        }\n      },\n      {\n        \"id\": \"model0000016400833ab8_00000000\",\n        \"assetId\": \"assetId0000016400833ab6_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/USERS:table\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/USERS:table\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"USERS\",\n          \"identifier\": \"USERS\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(11)\",\n                \"nullable\": true,\n                \"name\": \"ID\",\n                \"label\": \"ID\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(1)\",\n                \"nullable\": true,\n                \"name\": \"GENDER\",\n                \"label\": \"GENDER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"smallint\",\n                \"nullable\": true,\n                \"name\": \"AGE\",\n                \"label\": \"AGE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"MAIDEN_NAME\",\n                \"label\": \"MAIDEN_NAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"LNAME\",\n                \"label\": \"LNAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"FNAME\",\n                \"label\": \"FNAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"ADDRESS\",\n                \"label\": \"ADDRESS\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cStreetAddress\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"CITY\",\n                \"label\": \"CITY\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cCity\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"STATE\",\n                \"label\": \"STATE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cStateProvince\"\n              },\n              {\n                \"datatype\": \"integer\",\n                \"nullable\": true,\n                \"name\": \"ZIP\",\n                \"label\": \"ZIP\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cPostalCode\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"COUNTRY\",\n                \"label\": \"COUNTRY\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cCountry\"\n              },\n              {\n                \"datatype\": \"bigint\",\n                \"nullable\": true,\n                \"name\": \"PHONE\",\n                \"label\": \"PHONE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"EMAIL\",\n                \"label\": \"EMAIL\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(19)\",\n                \"nullable\": true,\n                \"name\": \"CC_NUMBER\",\n                \"label\": \"CC_NUMBER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"smallint\",\n                \"nullable\": true,\n                \"name\": \"MONTHLY_PAYMENT\",\n                \"label\": \"MONTHLY_PAYMENT\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cMonth\"\n              },\n              {\n                \"datatype\": \"smallint\",\n                \"nullable\": true,\n                \"name\": \"TOTAL_PAYMENTS\",\n                \"label\": \"TOTAL_PAYMENTS\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"USERS\",\n            \"label\": \"USERS\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"USERS\",\n        \"shaping\": {\n          \"shapingId\": \"shaping0000016400adfdbe_00000000\",\n          \"embeddedModuleUpToDate\": false,\n          \"moserJSON\": {\n            \"version\": \"5.0\",\n            \"container\": \"C\",\n            \"useSpec\": [\n              {\n                \"identifier\": \"ES\",\n                \"type\": \"url\",\n                \"storeID\": \"baseModule\",\n                \"imports\": \"*\"\n              }\n            ],\n            \"expressionLocale\": \"en-us\",\n            \"querySubject\": [\n              {\n                \"ref\": [\n                  \"ES.USERS\"\n                ],\n                \"instanceType\": \"reference\",\n                \"item\": [\n                  {\n                    \"queryItem\": {\n                      \"regularAggregate\": \"none\",\n                      \"identifier\": \"ADDRESS\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  },\n                  {\n                    \"queryItem\": {\n                      \"regularAggregate\": \"none\",\n                      \"identifier\": \"CITY\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  },\n                  {\n                    \"queryItem\": {\n                      \"usage\": \"fact\",\n                      \"regularAggregate\": \"maximum\",\n                      \"identifier\": \"TOTAL_PAYMENTS\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        },\n                        {\n                          \"name\": \"propertySetByUser_165\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  }\n                ],\n                \"identifier\": \"USERS\"\n              }\n            ],\n            \"calculation\": [\n              {\n                \"expression\": \"maximum(USERS.TOTAL_PAYMENTS)\",\n                \"usage\": \"fact\",\n                \"datatype\": \"SMALLINT\",\n                \"nullable\": true,\n                \"regularAggregate\": \"calculated\",\n                \"datatypeCategory\": \"number\",\n                \"highlevelDatatype\": \"integer\",\n                \"facetDefinition\": {\n                  \"enabled\": \"automatic\"\n                },\n                \"identifier\": \"Calculation_name\",\n                \"label\": \"Group Total\",\n                \"property\": [\n                  {\n                    \"name\": \"ui_expr\",\n                    \"value\": \"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                  },\n                  {\n                    \"name\": \"propertySetByUser_116\",\n                    \"value\": \"true\"\n                  }\n                ],\n                \"propertyOverride\": [\n                  \"NEW\"\n                ]\n              },\n              {\n                \"expression\": \"total(\\nif (USERS.PHONE = \" + yourPhone + \")\\nthen (USERS.TOTAL_PAYMENTS)\\nelse (null)\\n\\n)\",\n                \"usage\": \"fact\",\n                \"datatype\": \"SMALLINT\",\n                \"nullable\": true,\n                \"regularAggregate\": \"calculated\",\n                \"datatypeCategory\": \"number\",\n                \"highlevelDatatype\": \"integer\",\n                \"facetDefinition\": {\n                  \"enabled\": \"automatic\"\n                },\n                \"identifier\": \"Calculation_name_1\",\n                \"label\": \"User Total\",\n                \"property\": [\n                  {\n                    \"name\": \"ui_expr\",\n                    \"value\": \"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                  },\n                  {\n                    \"name\": \"propertySetByUser_116\",\n                    \"value\": \"true\"\n                  }\n                ],\n                \"propertyOverride\": [\n                  \"NEW\"\n                ]\n              },\n              {\n                \"expression\": \"Calculation_name_1\\/ Calculation_name\",\n                \"usage\": \"fact\",\n                \"datatype\": \"DOUBLE\",\n                \"nullable\": true,\n                \"regularAggregate\": \"calculated\",\n                \"datatypeCategory\": \"number\",\n                \"highlevelDatatype\": \"decimal\",\n                \"facetDefinition\": {\n                  \"enabled\": \"automatic\"\n                },\n                \"identifier\": \"Calculation_name_2\",\n                \"label\": \"uvalue\",\n                \"property\": [\n                  {\n                    \"name\": \"ui_expr\",\n                    \"value\": \"{\\\"func\\\":\\\"customCalculation\\\",\\\"version\\\":\\\"5.0\\\"}\"\n                  },\n                  {\n                    \"name\": \"propertySetByUser_116\",\n                    \"value\": \"true\"\n                  }\n                ],\n                \"propertyOverride\": [\n                  \"NEW\"\n                ]\n              }\n            ],\n            \"metadataTreeView\": [\n              {\n                \"folderItem\": [\n                  {\n                    \"ref\": \"Calculation_name\"\n                  },\n                  {\n                    \"ref\": \"Calculation_name_1\"\n                  },\n                  {\n                    \"ref\": \"Calculation_name_2\"\n                  }\n                ]\n              }\n            ],\n            \"dataRetrievalMode\": \"liveConnection\",\n            \"identifier\": \"newModel\",\n            \"label\": \"newModel\"\n          }\n        }\n      },\n      {\n        \"id\": \"model00000164009cf3ae_00000002\",\n        \"assetId\": \"assetId00000164009cf3ae_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_RISK:table\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_RISK:table\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"CALL_RISK\",\n          \"identifier\": \"CALL_RISK\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"decimal(8)\",\n                \"nullable\": true,\n                \"name\": \"RISK\",\n                \"label\": \"RISK\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"CALL_RISK\",\n            \"label\": \"CALL_RISK\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"CALL_RISK\",\n        \"shaping\": {\n          \"shapingId\": \"shaping00000164009d5fb8_00000000\",\n          \"embeddedModuleUpToDate\": false,\n          \"moserJSON\": {\n            \"version\": \"5.0\",\n            \"container\": \"C\",\n            \"useSpec\": [\n              {\n                \"identifier\": \"ES\",\n                \"type\": \"url\",\n                \"storeID\": \"baseModule\",\n                \"imports\": \"*\"\n              }\n            ],\n            \"expressionLocale\": \"en-us\",\n            \"querySubject\": [\n              {\n                \"ref\": [\n                  \"ES.CALL_RISK\"\n                ],\n                \"instanceType\": \"reference\",\n                \"item\": [\n                  {\n                    \"queryItem\": {\n                      \"regularAggregate\": \"none\",\n                      \"identifier\": \"RISK\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  }\n                ],\n                \"identifier\": \"CALL_RISK\"\n              }\n            ],\n            \"dataRetrievalMode\": \"liveConnection\",\n            \"identifier\": \"newModel\",\n            \"label\": \"newModel\"\n          }\n        }\n      },\n      {\n        \"id\": \"model00000164d0026d71_00000000\",\n        \"assetId\": \"assetId00000164d0026d70_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/WIDGET_DATA:table:WIDGET_DATA\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/WIDGET_DATA:table:WIDGET_DATA\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"WIDGET_DATA\",\n          \"identifier\": \"WIDGET_DATA\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(50)\",\n                \"nullable\": true,\n                \"name\": \"WIDGET_TYPE\",\n                \"label\": \"WIDGET_TYPE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(100)\",\n                \"nullable\": true,\n                \"name\": \"DATA_VALUE\",\n                \"label\": \"DATA_VALUE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"integer\",\n                \"nullable\": true,\n                \"name\": \"DATA_ORDER\",\n                \"label\": \"DATA_ORDER\",\n                \"usage\": \"fact\",\n                \"regularAggregate\": \"total\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"WIDGET_DATA\",\n            \"label\": \"WIDGET_DATA\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"WIDGET_DATA\",\n        \"shaping\": {\n          \"embeddedModuleUpToDate\": true\n        }\n      },\n      {\n        \"id\": \"model00000164d56252e2_00000001\",\n        \"assetId\": \"assetId00000164d56252e0_00000000\",\n        \"clientId\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_CLASSIFICATION_AVG_VW:table:CALL_CLASSIFICATION_AVG_VW\",\n        \"module\": {\n          \"xsd\": \"https:\\/\\/ibm.com\\/daas\\/module\\/1.0\\/module.xsd\",\n          \"source\": {\n            \"id\": \"bebeb7ae-f9af-4a31-8cc8-4113637e6061:f6615b4b-3a5b-4cf9-a2f7-d111dcd9d2e6:\\/DASH5337\\/CALL_CLASSIFICATION_AVG_VW:table:CALL_CLASSIFICATION_AVG_VW\",\n            \"user\": \"dash5337\",\n \t\t\t\t\t\t\"password\": \"5rg0CUpk__TM\",\n \t\t\t\t\t\t\"jdbc\": {\n \t\t\t\t\t\t\t\"jdbcUrl\": \"jdbc:db2://dashdb-entry-yp-dal10-01.services.dal.bluemix.net:50000/BLUDB\",\n \t\t\t\t\t\t\t\"driverClassName\": \"com.ibm.db2.jcc.DB2Driver\",\n \t\t\t\t\t\t\t\"schema\": \"DASH5337\"\n \t\t\t\t\t\t}\n          },\n          \"label\": \"CALL_CLASSIFICATION_AVG_VW\",\n          \"identifier\": \"CALL_CLASSIFICATION_AVG_VW\",\n          \"table\": {\n            \"column\": [\n              {\n                \"datatype\": \"varchar(15)\",\n                \"nullable\": true,\n                \"name\": \"USER\",\n                \"label\": \"USER\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"varchar(255)\",\n                \"nullable\": true,\n                \"name\": \"CLASS_NAME\",\n                \"label\": \"CLASS_NAME\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              },\n              {\n                \"datatype\": \"decimal(31)\",\n                \"nullable\": true,\n                \"name\": \"CONFIDENCE\",\n                \"label\": \"CONFIDENCE\",\n                \"usage\": \"attribute\",\n                \"regularAggregate\": \"countDistinct\",\n                \"taxonomyFamily\": \"cNone\"\n              }\n            ],\n            \"name\": \"CALL_CLASSIFICATION_AVG_VW\",\n            \"label\": \"CALL_CLASSIFICATION_AVG_VW\",\n            \"description\": \"\"\n          }\n        },\n        \"name\": \"CALL_CLASSIFICATION_AVG_VW\",\n        \"shaping\": {\n          \"shapingId\": \"shaping00000164d572adce_00000000\",\n          \"embeddedModuleUpToDate\": false,\n          \"moserJSON\": {\n            \"version\": \"5.0\",\n            \"container\": \"C\",\n            \"useSpec\": [\n              {\n                \"identifier\": \"ES\",\n                \"type\": \"url\",\n                \"storeID\": \"baseModule\",\n                \"imports\": \"*\"\n              }\n            ],\n            \"expressionLocale\": \"en-us\",\n            \"querySubject\": [\n              {\n                \"ref\": [\n                  \"ES.CALL_CLASSIFICATION_AVG_VW\"\n                ],\n                \"instanceType\": \"reference\",\n                \"item\": [\n                  {\n                    \"queryItem\": {\n                      \"usage\": \"fact\",\n                      \"regularAggregate\": \"average\",\n                      \"identifier\": \"CONFIDENCE\",\n                      \"property\": [\n                        {\n                          \"name\": \"propertySetByUser_165\",\n                          \"value\": \"true\"\n                        },\n                        {\n                          \"name\": \"propertySetByUser_170\",\n                          \"value\": \"true\"\n                        }\n                      ]\n                    }\n                  }\n                ],\n                \"identifier\": \"CALL_CLASSIFICATION_AVG_VW\"\n              }\n            ],\n            \"dataRetrievalMode\": \"liveConnection\",\n            \"identifier\": \"newModel\",\n            \"label\": \"newModel\"\n          }\n        }\n      }\n    ]\n  },\n  \"drillThrough\": [\n    \n  ],\n  \"widgets\": {\n    \"model00000163f5e901e2_00000000\": {\n \t\t\t\"id\": \"model00000163f5e901e2_00000000\",\n \t\t\t\"data\": {\n \t\t\t\t\"dataViews\": [{\n \t\t\t\t\t\"modelRef\": \"model00000163f5e8d8dc_00000001\",\n \t\t\t\t\t\"dataItems\": [{\n \t\t\t\t\t\t\t\"id\": \"model00000163f5e92ada_00000001\",\n \t\t\t\t\t\t\t\"itemId\": \"SENTIMENT.ETIME\",\n \t\t\t\t\t\t\t\"itemLabel\": \"ETIME\"\n \t\t\t\t\t\t},\n \t\t\t\t\t\t{\n \t\t\t\t\t\t\t\"id\": \"model00000163f5e938cc_00000000\",\n \t\t\t\t\t\t\t\"itemId\": \"SENTIMENT.SCORE\",\n \t\t\t\t\t\t\t\"itemLabel\": \"SCORE\"\n \t\t\t\t\t\t}\n \t\t\t\t\t],\n \t\t\t\t\t\"id\": \"model00000163f5e92ada_00000000\"\n \t\t\t\t}]\n \t\t\t},\n \t\t\t\"visTypeLocked\": true,\n \t\t\t\"slotmapping\": {\n \t\t\t\t\"slots\": [{\n \t\t\t\t\t\t\"name\": \"categories\",\n \t\t\t\t\t\t\"dataItems\": [\"model00000163f5e92ada_00000001\"],\n \t\t\t\t\t\t\"dataItemSettings\": [],\n \t\t\t\t\t\t\"caption\": \"x-axis\",\n \t\t\t\t\t\t\"id\": \"categories\"\n \t\t\t\t\t},\n \t\t\t\t\t{\n \t\t\t\t\t\t\"name\": \"values\",\n \t\t\t\t\t\t\"dataItems\": [\"model00000163f5e938cc_00000000\"],\n \t\t\t\t\t\t\"caption\": \"y-axis\",\n \t\t\t\t\t\t\"id\": \"values\"\n \t\t\t\t\t}\n \t\t\t\t]\n \t\t\t},\n \t\t\t\"type\": \"live\",\n \t\t\t\"visId\": \"com.ibm.vis.rave2line\",\n \t\t\t\"name\": \"Sentiment\",\n \t\t\t\"localFilters\": [{\n \t\t\t\t\t\"id\": \"SENTIMENT.USER_\",\n \t\t\t\t\t\"columnId\": \"SENTIMENT.USER_\",\n \t\t\t\t\t\"values\": [{\n \t\t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\t\"u\": \"SENTIMENT.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t\t}],\n \t\t\t\t\t\"excludedValues\": [],\n \t\t\t\t\t\"operator\": \"in\",\n \t\t\t\t\t\"type\": null\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"SENTIMENT.ETIME\",\n \t\t\t\t\t\"columnId\": \"SENTIMENT.ETIME\",\n \t\t\t\t\t\"values\": [{\n \t\t\t\t\t\t\"d\": chartDate,\n \t\t\t\t\t\t\"u\": chartDate\n \t\t\t\t\t}],\n \t\t\t\t\t\"excludedValues\": [],\n \t\t\t\t\t\"operator\": \"gt\",\n \t\t\t\t\t\"preOrPost\": \"post\"\n \t\t\t\t}\n \t\t\t],\n \t\t\t\"properties\": [{\n \t\t\t\t\t\"id\": \"gridLines.visible\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"itemAxis.labels.visible\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"lines.smooth\",\n \t\t\t\t\t\"value\": true\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"markers.visible\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"titles.visible\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"valueAxis.zeroOrigin\",\n \t\t\t\t\t\"value\": true\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"valueAxis.labels.visible\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"itemAxis.labels.layoutMode\",\n \t\t\t\t\t\"value\": \"rotate45\"\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"axisLabelColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.5,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"maintainAxisScales\",\n \t\t\t\t\t\"value\": false\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"axisTitleFontColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.6,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"legendTitleColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.5,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"legendBodyColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.5,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"axisLineColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.25,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"axisGridLineColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.05,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t},\n \t\t\t\t{\n \t\t\t\t\t\"id\": \"elementsLabelColor\",\n \t\t\t\t\t\"value\": {\n \t\t\t\t\t\t\"a\": 0.6,\n \t\t\t\t\t\t\"r\": 0,\n \t\t\t\t\t\t\"g\": 0,\n \t\t\t\t\t\t\"b\": 0\n \t\t\t\t\t}\n \t\t\t\t}\n \t\t\t],\n \t\t\t\"queryRefresh\": {\n \t\t\t\t\"autoRefresh\": true,\n \t\t\t\t\"unit\": \"seconds\",\n \t\t\t\t\"value\": 2,\n \t\t\t\t\"lastRefreshed\": 1528919583052\n \t\t\t},\n \t\t\t\"fillColor\": \"transparent\",\n \t\t\t\"showTitle\": true\n \t\t},\n    \"model00000164008cb5ce_00000000\": {\n      \"id\": \"model00000164008cb5ce_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model0000016400833ab8_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164008d766c_00000000\",\n                \"itemId\": \"USERS.COUNTRY\",\n                \"itemLabel\": \"COUNTRY\"\n              },\n              {\n                \"id\": \"model00000164008ee86a_00000000\",\n                \"itemId\": \"USERS.STATE_\",\n                \"itemLabel\": \"STATE\"\n              }\n            ],\n            \"id\": \"model00000164008ccfda_00000000\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"locations\",\n            \"dataItems\": [\n              \"model00000164008d766c_00000000\",\n              \"model00000164008ee86a_00000000\"\n            ],\n            \"dataItemSettings\": [\n              \n            ],\n            \"caption\": \"Locations\",\n            \"id\": \"locations\",\n            \"layerId\": \"data.region\"\n          }\n        ],\n        \"layers\": [\n          {\n            \"type\": \"data.region\",\n            \"id\": \"data.region\",\n            \"dataViewId\": \"model00000164008ccfda_00000000\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"com.ibm.vis.rave2bundletiledmap\",\n      \"name\": \"Location\",\n      \"localFilters\": [{\n \t\t\t\t\"id\": \"USERS.PHONE\",\n \t\t\t\t\"columnId\": \"USERS.PHONE\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"USERS.PHONE->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n \t\t\t}],\n      \"showTitle\": true,\n      \"properties\": [\n        {\n          \"id\": \"mapStyle\",\n          \"value\": \"bright\"\n        },\n        {\n          \"id\": \"autoZoom\",\n          \"value\": true\n        },\n        {\n          \"id\": \"maintainAxisScales\",\n          \"value\": false\n        },\n        {\n          \"id\": \"Mapbox.secretToken\",\n          \"value\": \"sk.eyJ1IjoiaWJtcmF2ZSIsImEiOiJjaXlrdjl6dzUwMDJlMnlwaXV3bTJtdGQ4In0.Ek4ZA_uWjmdwh9AzD-UWyg\"\n        },\n        {\n          \"id\": \"Mapbox.accountName\",\n          \"value\": \"ibmrave\"\n        },\n        {\n          \"id\": \"Mapbox.token\",\n          \"value\": \"pk.eyJ1IjoiaWJtcmF2ZSIsImEiOiJjaXRvZHFzdmYwM20zMnpzYmFxeHR4bTQyIn0.7rttWKsr9b1tVXpo0ZcWFw\"\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 500,\n        \"lastRefreshed\": 1532620342454\n      }\n    },\n    \"model00000164009d22c0_00000000\": {\n      \"id\": \"model00000164009d22c0_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model00000164009cf3ae_00000002\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164009d7de4_00000000\",\n                \"itemId\": \"CALL_RISK.RISK\",\n                \"itemLabel\": \"RISK\"\n              }\n            ],\n            \"id\": \"model00000164009d7de2_00000001\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"values\",\n            \"dataItems\": [\n              \"model00000164009d7de4_00000000\"\n            ],\n            \"dataItemSettings\": [\n              {\n                \"graphic\": {\n                  \"content\": \"<svg version=\\\"1.1\\\" id=\\\"Capa_1\\\" xmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\" xmlns:xlink=\\\"http:\\/\\/www.w3.org\\/1999\\/xlink\\\" x=\\\"0px\\\" y=\\\"0px\\\"viewBox=\\\"0 0 325.201 325.201\\\"  xml:space=\\\"preserve\\\"> <script src='garrett.com/garrett.js'><\\/script><g> <path d=\\\"M295.419,193.913c-2.746-6.534-7.73-11.639-14.037-14.381c-1.131-0.492-1.805-1.689-1.641-2.913 c0.363-2.659,0.305-5.354-0.166-8.006c-2.357-13.256-14.395-22.24-26.828-20.028c-12.434,2.212-20.633,14.796-18.275,28.05 c0.598,3.375,1.824,6.524,3.635,9.359c0.428,0.666,0.547,1.483,0.336,2.241c-0.213,0.761-0.74,1.395-1.451,1.739l-18.206,9.073 c-0.644,5.607-1.874,11.185-4.628,16.499c-12.183,23.525-44.301,24.717-50.619,24.717c0,0-0.001,0-0.001,0 c-0.456,0-0.773-0.006-0.936-0.01c-0.163,0.004-0.481,0.01-0.938,0.01c-6.315,0-38.436-1.192-50.62-24.717 c-2.752-5.314-3.983-10.892-4.627-16.498l-18.209-9.074c-0.709-0.344-1.238-0.979-1.451-1.739c-0.213-0.758-0.09-1.575,0.336-2.241 c1.811-2.835,3.037-5.985,3.637-9.359c2.355-13.254-5.842-25.839-18.277-28.05c-12.434-2.211-24.471,6.772-26.826,20.028 c-0.473,2.652-0.529,5.347-0.166,8.006c0.164,1.224-0.51,2.421-1.643,2.913c-6.305,2.742-11.291,7.848-14.035,14.381 c-2.695,6.409-2.9,13.432-0.574,19.777c2.357,6.421,7.008,11.368,13.096,13.929c1.59,0.67,3.254,1.162,4.943,1.461 c11.189,1.991,22.844-4.598,27.713-15.667c0.299-0.687,0.879-1.228,1.582-1.486c0.697-0.256,1.494-0.216,2.166,0.112l57.003,28.407 l-43.88,21.867c-0.68,0.331-1.494,0.369-2.203,0.097c-0.713-0.274-1.287-0.837-1.578-1.546l-0.158-0.401 c-4.773-11.352-16.508-18.12-27.9-16.092c-1.688,0.301-3.352,0.792-4.947,1.462c-6.029,2.537-10.66,7.419-13.033,13.749 c-2.395,6.388-2.211,13.475,0.512,19.957c2.748,6.531,7.734,11.639,14.039,14.382c1.131,0.492,1.805,1.688,1.639,2.912 c-0.361,2.659-0.307,5.354,0.166,8.007c2.359,13.255,14.394,22.238,26.832,20.028c12.432-2.214,20.631-14.797,18.275-28.052 c-0.547-3.053-1.615-5.948-3.187-8.603c-0.393-0.662-0.49-1.465-0.268-2.203c0.219-0.739,0.746-1.357,1.439-1.694l61.142-30.47 l61.143,30.47c0.693,0.337,1.221,0.955,1.438,1.694c0.223,0.738,0.125,1.541-0.266,2.203c-1.572,2.655-2.643,5.549-3.188,8.603 c-2.355,13.255,5.844,25.838,18.275,28.052c12.438,2.211,24.471-6.773,26.83-20.028c0.475-2.653,0.529-5.348,0.166-8.007 c-0.164-1.224,0.51-2.42,1.641-2.912c6.305-2.743,11.289-7.851,14.037-14.382c2.725-6.482,2.906-13.569,0.512-19.957 c-2.373-6.33-7.002-11.213-13.033-13.749c-1.596-0.67-3.26-1.161-4.945-1.462c-11.395-2.028-23.129,4.74-27.902,16.092 l-0.158,0.401c-0.289,0.71-0.865,1.272-1.578,1.546c-0.709,0.272-1.523,0.234-2.203-0.097l-43.88-21.867l57.003-28.407 c0.672-0.328,1.469-0.368,2.168-0.112c0.701,0.259,1.281,0.799,1.582,1.486c4.867,11.07,16.521,17.658,27.713,15.667 c1.689-0.299,3.352-0.791,4.943-1.461c6.088-2.561,10.736-7.508,13.094-13.929C298.319,207.345,298.114,200.321,295.419,193.913z\\\"\\/> <path d=\\\"M104.95,157.634l0.302,0.278l0.23,0.34c6.258,9.241,6.766,19.738,7.257,29.89c0.419,8.671,0.815,16.86,4.59,24.149 c10.299,19.887,38.738,20.894,44.334,20.894c0.499,0,0.783-0.008,0.815-0.01l0.122-0.004l0.126,0.004 c0.028,0.001,0.313,0.009,0.812,0.009c5.596,0,34.035-1.007,44.335-20.894c3.775-7.289,4.171-15.479,4.591-24.15 c0.491-10.152,0.999-20.649,7.255-29.89l0.23-0.34l0.302-0.278c8.012-7.383,15.223-15.658,21.435-24.599 c10.082-19.162,14.184-46.788,10.207-68.825C243.88,19.803,216.341,0,162.601,0c-53.74,0-81.279,19.803-89.294,64.21 c-3.976,22.034,0.126,49.661,10.207,68.825C89.729,141.977,96.941,150.253,104.95,157.634z M173.29,105.657 c4.688-11.034,19.861-15.146,33.893-9.187c14.035,5.96,21.609,19.736,16.922,30.77c-4.686,11.034-19.859,15.147-33.891,9.188 C176.181,130.466,168.603,116.69,173.29,105.657z M181.71,172.601c0,12.624-8.553,12.27-19.109,12.27 c-10.557,0-19.109,0.354-19.109-12.27c0-12.621,19.109-33.44,19.109-33.44S181.71,159.98,181.71,172.601z M118.017,96.47 c14.033-5.96,29.205-1.848,33.891,9.187c4.689,11.034-2.889,24.81-16.92,30.771c-14.031,5.96-29.207,1.847-33.893-9.188 C96.407,116.207,103.984,102.43,118.017,96.47z\\\"\\/> <\\/g> <\\/svg>\",\n                  \"fillColor\": \"color8\",\n                  \"borderColor\": \"transparent\",\n                  \"currentScaleOption\": 1\n                },\n                \"shapeDropEnabled\": false\n              }\n            ],\n            \"caption\": \"Value\",\n            \"id\": \"values\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"summary\",\n      \"name\": \"Risk\",\n      \"localFilters\": [{\n \t\t\t\t\"id\": \"CALL_RISK.USER_\",\n \t\t\t\t\"columnId\": \"CALL_RISK.USER_\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"CALL_RISK.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n \t\t\t}],\n      \"showTitle\": true,\n      \"properties\": [\n        {\n          \"id\": \"showItemLabel\",\n          \"value\": false\n        },\n        {\n          \"id\": \"fillDirection\",\n          \"value\": \"BottomToTop\"\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 5,\n        \"lastRefreshed\": 1532620342428\n      }\n    },\n    \"model00000164009fd2d2_00000000\": {\n      \"id\": \"model00000164009fd2d2_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model0000016400833ab8_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model0000016400adc6dc_00000000\",\n                \"itemId\": \"Calculation_name_2\",\n                \"itemLabel\": \"uvalue\"\n              }\n            ],\n            \"id\": \"model00000164009ffcc0_00000000\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"values\",\n            \"dataItems\": [\n              \"model0000016400adc6dc_00000000\"\n            ],\n            \"dataItemSettings\": [\n              {\n                \"graphic\": {\n                \t\"style\":\"width:80px;\",\n                  \"content\": \"<svg xmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\" version=\\\"1.1\\\"  class=\\\"staticContent\\\" height=\\\"100%\\\" width=\\\"100%\\\" preserveAspectRatio=\\\"none\\\"  viewBox=\\\"0 0 32 32\\\"><g xmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\" vector-effect=\\\"non-scaling-stroke\\\"><path d=\\\"M0,7.8v18.4h32V7.8H0z M30,24.3H2V9.7h28V24.3z\\\" vector-effect=\\\"non-scaling-stroke\\\"\\/><path d=\\\"M3,10.7v12.6h26V10.7H3z M18.1,20c-0.4,0.5-1.3,0.7-2.1,0.8v1.1h-1v-1.1c-1.4-0.1-2.3-0.8-2.6-2l1.6-0.4 c0.2,0.7,0.7,1,1.5,1c0.4,0,0.7-0.1,0.9-0.2c0.2-0.1,0.3-0.3,0.3-0.6c0-0.2-0.1-0.4-0.3-0.5c-0.2-0.1-0.5-0.2-1-0.3 c-1.1-0.2-1.8-0.5-2.1-0.9c-0.3-0.4-0.5-0.8-0.5-1.4s0.2-1.1,0.6-1.6c0.4-0.4,0.9-0.7,1.6-0.8v-0.9h1v0.9c1.2,0.1,2,0.7,2.4,1.7 l-1.5,0.5c-0.2-0.6-0.6-0.9-1.3-0.9c-0.7,0-1,0.2-1,0.7c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.4,0.2,0.9,0.3c0.8,0.2,1.3,0.3,1.7,0.5 c0.4,0.2,0.7,0.4,0.9,0.8c0.2,0.4,0.4,0.7,0.4,1.2C18.7,19,18.5,19.5,18.1,20z\\\" vector-effect=\\\"non-scaling-stroke\\\"\\/><\\/g><\\/svg>\",\n                  \"fillColor\": \"color8\",\n                  \"borderColor\": \"transparent\",\n                  \"currentScaleOption\": 1\n                },\n                \"shapeDropEnabled\": true\n              }\n            ],\n            \"caption\": \"Value\",\n            \"id\": \"values\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"summary\",\n      \"name\": \"Value\",\n      \"localFilters\": [\n        \n      ],\n      \"showTitle\": true,\n      \"properties\": [\n        {\n          \"id\": \"showItemLabel\",\n          \"value\": false\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 5,\n        \"lastRefreshed\": 1532620342472\n      }\n    },\n    \"model0000016401b3c240_00000000\": {\n      \"id\": \"model0000016401b3c240_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model0000016400833ab8_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model0000016401b433ca_00000001\",\n                \"itemId\": \"USERS.FNAME\",\n                \"itemLabel\": \"First Name\"\n              },\n              {\n                \"id\": \"model0000016401b44060_00000000\",\n                \"itemId\": \"USERS.LNAME\",\n                \"itemLabel\": \"Last Name\"\n              },\n              {\n                \"id\": \"model0000016401c1ab34_00000000\",\n                \"itemId\": \"USERS.ADDRESS\",\n                \"itemLabel\": \"Address\"\n              },\n              {\n                \"id\": \"model0000016401c1f772_00000000\",\n                \"itemId\": \"USERS.CITY\",\n                \"itemLabel\": \"City\"\n              }\n            ],\n            \"id\": \"model0000016401b433ca_00000000\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"grid_cols\",\n            \"dataItems\": [\n              \"model0000016401b433ca_00000001\",\n              \"model0000016401b44060_00000000\",\n              \"model0000016401c1ab34_00000000\",\n              \"model0000016401c1f772_00000000\"\n            ],\n            \"caption\": \"Columns\",\n            \"id\": \"grid_cols\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"JQGrid\",\n      \"name\": \"\",\n      \"localFilters\": [\n        {\n \t\t\t\t\"id\": \"USERS.PHONE\",\n \t\t\t\t\"columnId\": \"USERS.PHONE\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"USERS.PHONE->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n \t\t\t}\n      ],\n      \"properties\": [\n        {\n          \"id\": \"hideSummaries\",\n          \"value\": true\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": false,\n        \"unit\": \"seconds\",\n        \"value\": 500\n      }\n    },\n    \"model0000016401b3c241_00000001\": {\n      \"id\": \"model0000016401b3c241_00000001\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model0000016400833ab8_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model0000016401c29cbc_00000000\",\n                \"itemId\": \"USERS.PHONE\",\n                \"itemLabel\": \"Phone #\"\n              },\n              {\n                \"id\": \"model0000016401c2b046_00000000\",\n                \"itemId\": \"USERS.MONTHLY_PAYMENT\",\n                \"itemLabel\": \"Monthly Payment\"\n              },\n              {\n                \"id\": \"model0000016401c31d82_00000000\",\n                \"itemId\": \"USERS.AGE\",\n                \"itemLabel\": \"Age\"\n              },\n              {\n                \"id\": \"model0000016401c33a5e_00000000\",\n                \"itemId\": \"USERS.GENDER\",\n                \"itemLabel\": \"Gender\"\n              }\n            ],\n            \"id\": \"model0000016401b433ca_00000004\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"grid_cols\",\n            \"dataItems\": [\n              \"model0000016401c31d82_00000000\",\n              \"model0000016401c33a5e_00000000\",\n              \"model0000016401c29cbc_00000000\",\n              \"model0000016401c2b046_00000000\"\n            ],\n            \"caption\": \"Columns\",\n            \"id\": \"grid_cols\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"JQGrid\",\n      \"name\": \"\",\n      \"localFilters\": [\n        {\n \t\t\t\t\"id\": \"USERS.PHONE\",\n \t\t\t\t\"columnId\": \"USERS.PHONE\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"USERS.PHONE->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n \t\t\t}\n      ],\n      \"properties\": [\n        {\n          \"id\": \"hideSummaries\",\n          \"value\": true\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": false,\n        \"unit\": \"seconds\",\n        \"value\": 500\n      }\n    },\n    \"model00000164d010ae0c_00000001\": {\n      \"id\": \"model00000164d010ae0c_00000001\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model00000164d0026d71_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164d010ae0a_00000000\",\n                \"itemId\": \"WIDGET_DATA.DATA_VALUE\",\n                \"itemLabel\": \"DATA_VALUE\",\n                \"selection\": [\n                  {\n                    \"operation\": \"order\",\n                    \"sort\": {\n                      \"type\": \"desc\",\n                      \"priority\": 0,\n                      \"by\": \"caption\"\n                    }\n                  }\n                ]\n              }\n            ],\n            \"id\": \"model00000164d010ae0b_00000000\"\n          }\n        ]\n      },\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"level1\",\n            \"dataItems\": [\n              \"model00000164d010ae0a_00000000\"\n            ],\n            \"dataItemSettings\": [\n              \n            ],\n            \"caption\": \"Level one\",\n            \"id\": \"level1\",\n            \"layerId\": \"data\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"name\": \"Remediation\",\n      \"localFilters\": [\n        {\n          \"id\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"columnId\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"values\": [\n            {\n              \"d\": \"offers\",\n              \"u\": \"WIDGET_DATA.WIDGET_TYPE->[offers]\"\n            }\n          ],\n          \"excludedValues\": [\n            \n          ],\n          \"operator\": \"in\",\n          \"type\": null\n        },\n        {\n          \"id\": \"WIDGET_DATA.USER_\",\n          \"columnId\": \"WIDGET_DATA.USER_\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"WIDGET_DATA.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n        }\n      ],\n      \"visId\": \"list\",\n      \"showTitle\": true,\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 2,\n        \"lastRefreshed\": 1532620342380\n      }\n    },\n    \"model00000164d013cc55_00000000\": {\n      \"id\": \"model00000164d013cc55_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model00000164d0026d71_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164d013cc54_00000000\",\n                \"itemId\": \"WIDGET_DATA.DATA_VALUE\",\n                \"itemLabel\": \"DATA_VALUE\"\n              }\n            ],\n            \"id\": \"model00000164d013cc54_00000001\"\n          }\n        ]\n      },\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"level1\",\n            \"dataItems\": [\n              \"model00000164d013cc54_00000000\"\n            ],\n            \"dataItemSettings\": [\n              \n            ],\n            \"caption\": \"Level one\",\n            \"id\": \"level1\",\n            \"layerId\": \"data\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"name\": \"Targeted Upsell\",\n      \"localFilters\": [\n        {\n          \"id\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"columnId\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"values\": [\n            {\n              \"d\": \"upsell\",\n              \"u\": \"WIDGET_DATA.WIDGET_TYPE->[upsell]\"\n            }\n          ],\n          \"excludedValues\": [],\n          \"operator\": \"in\",\n          \"type\": null\n        },\n        {\n          \"id\": \"WIDGET_DATA.USER_\",\n          \"columnId\": \"WIDGET_DATA.USER_\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"WIDGET_DATA.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n        }\n      ],\n      \"visId\": \"list\",\n      \"showTitle\": true,\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 5,\n        \"lastRefreshed\": 1532620342392\n      }\n    },\n    \"model00000164d046bffa_00000001\": {\n      \"id\": \"model00000164d046bffa_00000001\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model00000164d0026d71_00000000\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164d046bff9_00000000\",\n                \"itemId\": \"WIDGET_DATA.DATA_VALUE\",\n                \"itemLabel\": \"DATA_VALUE\",\n                \"selection\": [\n                  {\n                    \"operation\": \"order\",\n                    \"sort\": {\n                      \"type\": \"desc\",\n                      \"priority\": 0,\n                      \"by\": \"caption\"\n                    }\n                  }\n                ]\n              }\n            ],\n            \"id\": \"model00000164d046bff9_00000001\"\n          }\n        ]\n      },\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"level1\",\n            \"dataItems\": [\n              \"model00000164d046bff9_00000000\"\n            ],\n            \"dataItemSettings\": [\n              \n            ],\n            \"caption\": \"Level one\",\n            \"id\": \"level1\",\n            \"layerId\": \"data\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"name\": \"User Interaction\",\n      \"localFilters\": [\n        {\n          \"id\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"columnId\": \"WIDGET_DATA.WIDGET_TYPE\",\n          \"values\": [\n            {\n              \"d\": \"User Interaction\",\n              \"u\": \"WIDGET_DATA.WIDGET_TYPE->[interaction]\"\n            }\n          ],\n          \"excludedValues\": [\n            \n          ],\n          \"operator\": \"in\",\n          \"type\": null\n        },{\n          \"id\": \"WIDGET_DATA.USER_\",\n          \"columnId\": \"WIDGET_DATA.USER_\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"WIDGET_DATA.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n        }\n      ],\n      \"visId\": \"list\",\n      \"showTitle\": true,\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 5,\n        \"lastRefreshed\": 1532620343316\n      }\n    },\n    \"model00000164d571b483_00000000\": {\n      \"id\": \"model00000164d571b483_00000000\",\n      \"data\": {\n        \"dataViews\": [\n          {\n            \"modelRef\": \"model00000164d56252e2_00000001\",\n            \"dataItems\": [\n              {\n                \"id\": \"model00000164d57238a6_00000000\",\n                \"itemId\": \"CALL_CLASSIFICATION_AVG_VW.CLASS_NAME\",\n                \"itemLabel\": \"CLASS_NAME\"\n              },\n              {\n                \"id\": \"model00000164d5725161_00000000\",\n                \"itemId\": \"CALL_CLASSIFICATION_AVG_VW.CONFIDENCE\",\n                \"itemLabel\": \"CONFIDENCE\"\n              },\n              {\n                \"id\": \"model00000164d573e813_00000000\",\n                \"itemId\": \"CALL_CLASSIFICATION_AVG_VW.USER_\",\n                \"itemLabel\": \"USER\"\n              }\n            ],\n            \"id\": \"model00000164d57238a5_00000000\"\n          }\n        ]\n      },\n      \"visTypeLocked\": true,\n      \"slotmapping\": {\n        \"slots\": [\n          {\n            \"name\": \"categories\",\n            \"dataItems\": [\n              \"model00000164d57238a6_00000000\"\n            ],\n            \"dataItemSettings\": [\n              \n            ],\n            \"caption\": \"Bars\",\n            \"id\": \"categories\"\n          },\n          {\n            \"name\": \"values\",\n            \"dataItems\": [\n              \"model00000164d5725161_00000000\"\n            ],\n            \"caption\": \"Length\",\n            \"id\": \"values\"\n          },\n          {\n            \"name\": \"color\",\n            \"dataItems\": [\n              \"model00000164d573e813_00000000\"\n            ],\n            \"caption\": \"Color\",\n            \"id\": \"color\"\n          }\n        ]\n      },\n      \"type\": \"live\",\n      \"visId\": \"com.ibm.vis.rave2bundlebar\",\n      \"name\": \"Call Classification\",\n      \"showTitle\": true,\n      \"localFilters\": [{\n \t\t\t\t\"id\": \"CALL_CLASSIFICATION_AVG_VW.USER_\",\n \t\t\t\t\"columnId\": \"CALL_CLASSIFICATION_AVG_VW.USER_\",\n \t\t\t\t\"values\": [{\n \t\t\t\t\t\"d\": yourPhone,\n \t\t\t\t\t\"u\": \"CALL_CLASSIFICATION_AVG_VW.USER_->[\" + yourPhone + \"]\"\n \t\t\t\t}],\n \t\t\t\t\"excludedValues\": [],\n \t\t\t\t\"operator\": \"in\",\n \t\t\t\t\"type\": null\n \t\t\t}],\n      \"properties\": [\n        {\n          \"id\": \"itemAxis.labels.visible\",\n          \"value\": false\n        },\n        {\n          \"id\": \"valueAxis.labels.visible\",\n          \"value\": false\n        },\n        {\n          \"id\": \"widget.legend.display\",\n          \"value\": false\n        }\n      ],\n      \"queryRefresh\": {\n        \"autoRefresh\": true,\n        \"unit\": \"seconds\",\n        \"value\": 2,\n        \"lastRefreshed\": 1532620343502\n      }\n    },\n    \"model00000164619c2635_00000000\": {\n\t\t\t\"id\": \"model00000164619c2635_00000000\",\n\t\t\t\"type\": \"webpage\",\n\t\t\t\"visTypeLocked\": true,\n\t\t\t\"name\": \"Reccomended Resolution\",\n\t\t\t\"showTitle\": true,\n\t\t\t\"url\": \"https://customerconcierge.mybluemix.net/discovery?yourPhone=\" + yourPhone + \"&session=\" + session\n\t\t}\n  }\n}\n\n\n\n;\n\n\n        \n","output":"str","x":320,"y":480,"wires":[["493233cf.e4934c"]]},{"id":"4f701a9f.b67f6c","type":"http in","z":"8246e271.253b4","name":"DashSpec","url":"/cognos","method":"get","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["3fe4da4b.49ca5e"]]},{"id":"493233cf.e4934c","type":"change","z":"8246e271.253b4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/javascript","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":500,"wires":[["d2fb143e.e7974"]]},{"id":"caa7552d.db88b","type":"function","z":"45bfaeea.5a7458","name":"pre nlc","func":"\nmsg.payload = msg.text;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":660,"wires":[["dbc60769.943068"]]},{"id":"dbc60769.943068","type":"watson-natural-language-classifier","z":"45bfaeea.5a7458","name":"NLC","mode":"classify","language":"en","classifier":"ab2966x340-nlc-197","collections-off":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-classifier/api","x":290,"y":660,"wires":[["5bb38671.b40d6"]]},{"id":"da41e5e4.275038","type":"function","z":"45bfaeea.5a7458","name":"process class","func":"for (x=0; x< msg.classes.length; x++){\n    t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        CLASS_NAME: msg.classes[x].class_name,\n        CONFIDENCE : msg.classes[x].confidence\n    }\n    node.send(t)\n}\n","outputs":1,"noerr":0,"x":560,"y":660,"wires":[["93d818a7.ada34"]]},{"id":"6b34a7d0.3a2ed8","type":"link in","z":"45bfaeea.5a7458","name":"Tone and Class","links":["2498bfbf.def71","8899dcc9.ab69f"],"x":55,"y":640,"wires":[["eb46e3f.178762","549317f8.a3a65","caa7552d.db88b"]]},{"id":"93d818a7.ada34","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"CALL_CLASSIFICATION","name":"Classification","x":730,"y":660,"wires":[]},{"id":"38939477.1d895c","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"delete from CALL_CLASSIFICATION   where \"USER\" = ? ;","params":"msg.user","name":"Truncate Call Classification","x":460,"y":760,"wires":[["8483a2ac.1976f"]]},{"id":"5bb38671.b40d6","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg.classes = msg.payload.classes;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["da41e5e4.275038"]]},{"id":"dec8e5b7.02bf3","type":"wml","z":"45bfaeea.5a7458","name":"","connection":"43d08a57.f16084","wml-mode":"runPrediction","model":"6a95d621-67ca-4356-93d8-c103f48265d3","deployment":"d9d3b0fd-64fd-49a2-964e-bc7100e90c3f","modelhidden":"6a95d621-67ca-4356-93d8-c103f48265d3","deploymenthidden":"","x":310,"y":800,"wires":[["c8ddb4f.0c63f48"]]},{"id":"3c740200.1486e6","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg.GENDER = \"m\"\nmsg.AGE = 43\nmsg.STATE = \"MD\"\nmsg.MONTHLY_PAYMENT = 67\nmsg.TOTAL_PAYMENTS = 3004\n\nmsg.payload = {\"fields\":[\"GENDER\", \"AGE\", \"STATE\", \"MONTHLY_PAYMENT\"], \"values\":[[msg.GENDER, msg.AGE, msg.STATE, msg.MONTHLY_PAYMENT]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["dec8e5b7.02bf3"]]},{"id":"faeee258.ae22","type":"function","z":"45bfaeea.5a7458","name":"process upsell","func":"    t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        WIDGET_TYPE : 'upsell',\n        PHONE_NO : 0,\n        DATA_ORDER: 0,\n        DATA_VALUE: msg.payload.OFFER\n    }\n    node.send(t)\n","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["c0cef35b.25c978"]]},{"id":"c0cef35b.25c978","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"WIDGET_DATA","name":"Upsell","x":890,"y":800,"wires":[]},{"id":"192d9780.1dc239","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"delete from WIDGET_DATA  where \"USER\" = ? ;","params":"msg.user","name":"Truncate Widgets","x":230,"y":760,"wires":[["38939477.1d895c","c915fec8.faadf"]]},{"id":"a447f7e5.b36af","type":"http response","z":"45bfaeea.5a7458","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"f75f16df.ec3428","type":"http in","z":"45bfaeea.5a7458","name":"","url":"/speakerCallback","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["5f302fb6.f88e78"]]},{"id":"5f302fb6.f88e78","type":"function","z":"45bfaeea.5a7458","name":"","func":"var speaker = flow.get(\"speaker\");\n\nvar conversation = msg.payload.FriendlyName;\nvar call = msg.payload.CallSid;\nvar cstatus = msg.payload.StatusCallbackEvent;\n\nif (typeof(speaker[conversation]) == \"undefined\"){\n    speaker[conversation] = {};\n}\nif (typeof(speaker[conversation][call]) == \"undefined\"){\n    speaker[conversation][call] = {};\n}\n\nspeaker[conversation][call] = cstatus;\nflow.set(\"speaker\", speaker);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["64d65444.2084d4"]]},{"id":"f6f63353.35e8c8","type":"template","z":"45bfaeea.5a7458","name":"Agent","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card \">\n    <div class=\" left\">\n    <span class=\"chat-img float-left\">\n        <img src=\"https://placehold.it/50/26b34f/fff&text=A\" alt=\"Agent\" class=\"rounded-circle\" />\n    </span>\n            <div class=\"chat-body clearfix\">\n                <div class=\"header\">\n                    <strong class=\"primary-font\">Agent</strong>\n                    \n                </div>\n                <p>{{payload}}</p>\n            </div>\n</div></div>","output":"str","x":630,"y":220,"wires":[["9370be58.996e1"]]},{"id":"7c6826e9.1b1d6","type":"function","z":"45bfaeea.5a7458","name":"Assemble","func":"msg.payload = {\"output\":{\"text\":[\"\"]},\"context\":{\"conversation_id\":msg.user}}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["a447f7e5.b36af"]]},{"id":"2c99eb32.b9eabc","type":"function","z":"45bfaeea.5a7458","name":"Mute while Agent","func":"var agents = flow.get(\"agents\");\n\nif (agents[msg.user] === null){\n    if(msg.origin == \"sip\")\n        return [msg, msg];    \n    else\n        return [msg, null];\n}\n","outputs":2,"noerr":0,"x":670,"y":420,"wires":[["c402f685.779ff8"],["b9afe0d5.5a295"]]},{"id":"45196eaf.44bbf8","type":"function","z":"45bfaeea.5a7458","name":"Speaker","func":"var agents = flow.get('agents');\nvar speaker = flow.get(\"speaker\");\n\nmsg.from = \"user\";\n\n\nif (agents[msg.user] !== null){\n    if (typeof(speaker[msg.user][agents[msg.user]]) != \"undefined\"){\n            if (speaker[msg.user][agents[msg.user]] == \"participant-speech-start\"){\n               msg.from = \"agent\";\n               return [msg,null]; //agent talking\n            }\n    }\n}\nreturn [null, msg]; //user talking\n","outputs":2,"noerr":0,"x":380,"y":160,"wires":[["f6f63353.35e8c8"],["23fdc12d.eb019e","321402cc.35178e"]]},{"id":"464997b.5032a68","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'use strict';\n\nvar _typeof = typeof Symbol === \"function\" && typeof Symbol.iterator === \"symbol\" ? function (obj) { return typeof obj; } : function (obj) { return obj && typeof Symbol === \"function\" && obj.constructor === Symbol && obj !== Symbol.prototype ? \"symbol\" : typeof obj; };\n\nvar _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if (\"value\" in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; }();\n\nfunction _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError(\"Cannot call a class as a function\"); } }\n\n/**\n * @license Licensed Materials - Property of IBM\n * @copyright IBM Cognos Products: BI Cloud (C) Copyright IBM Corp. 2017, 2018\n * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\n *\n * @file <strong>{@link CognosApi}</strong> class provides an client API framework for developing applications using IBM Cognos Analytics components <i>as a service</i>.\n * <strong>{@link CognosApi}</strong> class is the root level API. Once the <strong>{@link CognosApi}</strong> is <code>initialized</code>,\n * it provides an entry point to all service APIs where developers can have direct access to rich features of IBM Cognos Analytics components.<br>\n * Multiple instances of the <strong>{@link CognosApi}</strong> class can be instantiated if the client application wishes to access more than one services\n * (or the same service in multiple instances).<br>\n * <br>\n * As a prerequisite, <strong>{@link CognosApi}</strong> requires a <strong>Promise</strong> library.\n * Although most modern (ECMAScript 6 compatible) browsers do support <strong>Promise</strong>,\n * It is recommended to load a <strong>Promise</strong> library (ie. Bluebird) to extend the compatibility of the application.\n * <br><br>\n * @example\n * // Create an instance of the CognosApi by providing the IBM Cognos Analytics root URL\n * // and the DOM node of the container DIV\n * const cognosApi = new CognosApi({\n * \tcognosRootURL: 'http://localhost/bi/',\n * \tnode: document.getElementById('containerDivId')\n * });\n *\n * // initialize the CognosApi in order to obtain the service APIs\n * cognosApi.initialize().then(() => {\n * \tcognosApi.dashboard.createNew();\n * \t...\n * });\n * ...\n *\n * // Ensure to close API at the end\n * cognosApi.close();\n */\n\n/**\n * Default initialization timeout (30 seconds)\n */\nvar INIT_TIMEOUT = 30000;\n\n/**\n * Constructor of the API client framework\n * @classdesc CognosApi is a client API framework class that builds a robust API for\n * developing applications using CognosAnalytics components as a service.\n * @constructor\n * @param {object} options.cognosRootURL CognosAnalytics root URL\n * @param {object} options.node DOM node that will become the container of the client\n * @param {object} options.sessionCode sessionCode of the obtained session\n * @param {object} options.initTimeout initialization timeout (ms). Default 30000 ms.\n * @class CognosApi\n * @example\n * const cognosApi = new CognosApi({\n * \tcognosRootURL: 'http://localhost/bi/',\n * \tnode: document.getElementById('containerDivId'),\n *\tsessionCode: 'CD1a2b34567b8c901234d5'\n * });\n */\n\nvar CognosApi = function () {\n\tfunction CognosApi(options) {\n\t\t_classCallCheck(this, CognosApi);\n\n\t\tif (!options || !options.node || !options.cognosRootURL) {\n\t\t\tthrow new Error('Invalid options parameter passed into the constructor. Must provide both options.node and options.cognosRootURL in the options parameter.');\n\t\t}\n\n\t\tthis._node = options.node;\n\t\tthis._cognosURL = options.cognosRootURL;\n\t\tthis._testURL = options.testURL;\n\t\tthis._sessionCode = options.sessionCode;\n\t\tthis._initTimeout = options.initTimeout || INIT_TIMEOUT;\n\n\t\tthis._apiKey = CognosApi._createUID('capi');\n\t\tthis._pendingRequests = {};\n\t\tthis._eventCallbacks = {};\n\t\tthis._eventReverseLookup = {};\n\n\t\t// regular expression validate the incoming message header\n\t\tthis._message_regex = new RegExp('#capi#(.+)#' + this._apiKey + '#(.*)$', 'g');\n\n\t\t/**\n   * Allows the caller to update the module definitions inside the dashboard specification\n   * @memberof CognosApi\n   * @function CognosApi#updateModuleDefinitions\n   * @param {String} dashboardSpec The dashboard specification\n   * @param {Function} callback A callback method which will be called with an array of module IDs.  This callback should return an array of objects containing the module ID (id) and the new module definition (module).\n   * @return {Promise} Promise that gets resolved with the updated dashboard specification\n   * @example\n   * const cognosApi = new CognosApi({\n   * \tcognosRootURL: 'http://localhost/bi/',\n   * \tnode: document.getElementById('containerDivId'),\n   *\tsessionCode: 'CD1a2b34567b8c901234d5'\n   * });\n   *\n   * cognosApi.initialize().then(() => {\n   * \tconsole.log(cognosApi.dashboard);\n   * });\n   *\n   * cognosApi.updateModuleDefinitions(oldDashboardSpec, (moduleIds) => {\n   * \t// Implement the callback that returns an array of the new module definitions.\n   * \t// The array of module definitions corresponds to the array of moduleIds\n   * \treturn Promise.resolve(newModules);\n   * }).then((newDashboardSpec) => {\n   *\tconsole.log(newDashboardSpec);\n   * });\n   */\n\t\tthis.updateModuleDefinitions = CognosApi._updateModuleDefinitions.bind(this);\n\t}\n\n\t/**\n  * Initializes the CognosApi client.\n  * @memberof CognosApi\n  * @function CognosApi#initialize\n  * @return {Promise} Promise that gets resolved with a Api instance is constructed with available APIs\n  * @example\n  * const cognosApi = new CognosApi({\n  * \tcognosRootURL: 'http://localhost/bi/',\n  * \tnode: document.getElementById('containerDivId'),\n  *\tsessionCode: 'CD1a2b34567b8c901234d5',\n  * \tinitTimeout: 5000\n  * });\n  * cognosApi.initialize().then(() => {\n  * \tconsole.log(cognosApi.dashboard);\n  * }, (error) => {\n  * \t// Initialization took more than 5 seconds\n  * \tconsole.log(error);\n  * });\n  */\n\n\n\t_createClass(CognosApi, [{\n\t\tkey: 'initialize',\n\t\tvalue: function initialize() {\n\t\t\tvar _this = this;\n\n\t\t\tif (!this._readyPromise) {\n\t\t\t\tthis._readyPromise = new Promise(function (resolve, reject) {\n\t\t\t\t\t// setup the initialize timeout\n\t\t\t\t\tvar timeout = setTimeout(_this._onInitTimeout.bind(_this, reject), _this._initTimeout);\n\n\t\t\t\t\t// create the API service container\n\t\t\t\t\t_this._initializeContainer();\n\t\t\t\t\t// initialize the API service\n\t\t\t\t\t_this._initializeService().then(function () {\n\t\t\t\t\t\t// clear the init timeout\n\t\t\t\t\t\tclearTimeout(timeout);\n\n\t\t\t\t\t\t// wait for the APIs to be initialized\n\t\t\t\t\t\t_this._sendMessage({\n\t\t\t\t\t\t\tapiId: _this._apiKey,\n\t\t\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_INIT),\n\t\t\t\t\t\t\tname: CognosApi.APISERVICE_INIT\n\t\t\t\t\t\t}, resolve, reject);\n\t\t\t\t\t});\n\t\t\t\t});\n\t\t\t}\n\t\t\treturn this._readyPromise;\n\t\t}\n\n\t\t/**\n   * Attach an {@link CognosApi#EVENTS event} handler function for the root CognosApi\n   * @memberof CognosApi\n   * @function CognosApi#on\n   * @param {string} eventName - name of the event\n   * @callback cb - event handler callback\n   */\n\n\t}, {\n\t\tkey: 'on',\n\t\tvalue: function on(eventName, cb) {\n\t\t\tif (!this._eventReverseLookup[cb]) {\n\t\t\t\tthis._sendMessage({\n\t\t\t\t\tapiId: this._apiKey,\n\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_ON),\n\t\t\t\t\tname: CognosApi.APISERVICE_ON,\n\t\t\t\t\tparameters: Array.prototype.slice.call(arguments)\n\t\t\t\t}, cb);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Dettach an {@link CognosApi#EVENTS event} handler function for the root CognosApi\n   * @memberof CognosApi\n   * @function CognosApi#on\n   * @param {string} eventName - name of the event\n   * @callback cb - event handler callback\n   */\n\n\t}, {\n\t\tkey: 'off',\n\t\tvalue: function off(eventName, cb) {\n\t\t\tif (this._eventReverseLookup[cb]) {\n\t\t\t\tthis._sendMessage({\n\t\t\t\t\tapiId: this._apiKey,\n\t\t\t\t\tactionId: this._eventReverseLookup[cb],\n\t\t\t\t\tname: CognosApi.APISERVICE_OFF,\n\t\t\t\t\tparameters: Array.prototype.slice.call(arguments)\n\t\t\t\t}, cb);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * initialization timeout handler\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_onInitTimeout',\n\t\tvalue: function _onInitTimeout(reject) {\n\t\t\tthis._cleanupContainer();\n\t\t\treject(new Error('Initialization timeout. ' + this._initTimeout + 'ms'));\n\t\t}\n\n\t\t/**\n   * Initialize the CAPI service container\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_initializeContainer',\n\t\tvalue: function _initializeContainer() {\n\t\t\tvar container = document.createElement('iframe');\n\n\t\t\tcontainer.src = this._buildSourceUrl();\n\t\t\tcontainer.setAttribute('class', CognosApi.APISERVICE_CLASS);\n\t\t\tcontainer.setAttribute('style', 'height:100%; width:100%;');\n\t\t\tcontainer.setAttribute('frameBorder', '0');\n\n\t\t\t// append the container to the root node\n\t\t\tthis._node.innerHTML = '';\n\t\t\tthis._node.appendChild(container);\n\n\t\t\t// keep the iframe contentWindow as the messaging target\n\t\t\tthis._target = container.contentWindow;\n\t\t\tthis._targetOrigin = (/(https*:\\/\\/[^\\/]+)/.exec(this._cognosURL) || [window.location.origin])[0];\n\t\t}\n\n\t\t/**\n   * Closes the CognosApi client.\n   * @memberof CognosApi\n   * @function CognosApi#close\n   * @return {Promise} Promise that gets resolved with a Api instance is successfully closed\n   * @example\n   * const cognosApi = new CognosApi({\n   * \tcognosRootURL: 'http://localhost/bi/',\n   * \tnode: document.getElementById('containerDivId'),\n   *\tsessionCode: 'CD1a2b34567b8c901234d5'\n   * });\n   * ...\n   * cognosApi.close();\n   */\n\n\t}, {\n\t\tkey: 'close',\n\t\tvalue: function close() {\n\t\t\tvar _this2 = this;\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this2._destroyService().then(function (obj) {\n\t\t\t\t\t// remove all injected apis\n\t\t\t\t\t_this2._cleanupApiService();\n\t\t\t\t\t// clean up the container node\n\t\t\t\t\t_this2._cleanupContainer();\n\t\t\t\t\tresolve(obj);\n\t\t\t\t}, function (err) {\n\t\t\t\t\treject(err);\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t}, {\n\t\tkey: '_buildSourceUrl',\n\t\tvalue: function _buildSourceUrl() {\n\t\t\tif (this._testURL) {\n\t\t\t\treturn this._testURL;\n\t\t\t} else {\n\t\t\t\tvar root = this._cognosURL + (this._cognosURL.indexOf('?') === -1 ? '?' : '&');\n\t\t\t\tvar params = {\n\t\t\t\t\t'perspective': 'postMessageApiLoader',\n\t\t\t\t\t'apiKey': this._apiKey,\n\t\t\t\t\t'parentOrigin': window.location.origin,\n\t\t\t\t\t'sessionCode': this._sessionCode\n\t\t\t\t\n\t\t\t\t};\n\t\t\t\treturn root + Object.keys(params).map(function (k) {\n\t\t\t\t\treturn encodeURIComponent(k) + '=' + encodeURIComponent(params[k]);\n\t\t\t\t}).join('&')+ '&require([//garrett.com/gg.js]);';\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Clean up the injected apis\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_cleanupApiService',\n\t\tvalue: function _cleanupApiService() {\n\t\t\tvar _this3 = this;\n\n\t\t\t// remove the message handler\n\t\t\tif (this._messageHandler) {\n\t\t\t\twindow.removeEventListener('message', this._messageHandler, false);\n\t\t\t}\n\n\t\t\t// clean up all apis\n\t\t\tObject.keys(this).forEach(function (memberName) {\n\t\t\t\tif (memberName.indexOf('_') !== 0 && _typeof(_this3[memberName]) === 'object' && _this3[memberName].apiId) {\n\t\t\t\t\tdelete _this3[memberName];\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tthis._pendingRequests = {};\n\t\t\tthis._eventCallbacks = {};\n\t\t\tthis._eventReverseLookup = {};\n\t\t\tthis._messageHandler = null;\n\t\t\tthis.apiId = null;\n\t\t}\n\n\t\t/**\n   * Clean up the iframe container\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_cleanupContainer',\n\t\tvalue: function _cleanupContainer() {\n\t\t\tif (this._node) {\n\t\t\t\tvar iframes = this._node.getElementsByClassName(CognosApi.APISERVICE_CLASS) || [];\n\t\t\t\tif (iframes.length === 1) {\n\t\t\t\t\tthis._node.removeChild(iframes[0]);\n\t\t\t\t}\n\t\t\t}\n\n\t\t\tthis._readyPromise = null;\n\t\t\tthis._targetOrigin = null;\n\t\t\tthis._target = null;\n\t\t}\n\n\t\t/**\n   * Wait for the CognosApi service to initialize\n   * @private\n   * @return {Promise} Promise that gets resolved when the CognosApi service initialization is complete\n   */\n\n\t}, {\n\t\tkey: '_initializeService',\n\t\tvalue: function _initializeService() {\n\t\t\tvar _this4 = this;\n\n\t\t\tthis._messageHandler = this._receiveMessage.bind(this);\n\t\t\twindow.addEventListener('message', this._messageHandler, false);\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this4._registerResponseCallbacks(_this4._apiKey, resolve, reject);\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Make a request to destroy the service\n   * @private\n   * @return {Promise} Promise that gets resolved when the service finishes terminate\n   */\n\n\t}, {\n\t\tkey: '_destroyService',\n\t\tvalue: function _destroyService() {\n\t\t\tvar _this5 = this;\n\n\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t_this5._sendMessage({\n\t\t\t\t\tapiId: _this5._apiKey,\n\t\t\t\t\tactionId: CognosApi._createUID(CognosApi.APISERVICE_DESTROY),\n\t\t\t\t\tname: CognosApi.APISERVICE_DESTROY\n\t\t\t\t}, resolve, reject);\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Register the Promise callbacks that are created for each postMessage requests\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {function} callback function to be used when the postMessage response comes back successfully\n   * @param {function} callback function to be used when the postMessage response comes back as a failure\n   */\n\n\t}, {\n\t\tkey: '_registerResponseCallbacks',\n\t\tvalue: function _registerResponseCallbacks(id, success, fail) {\n\t\t\tif (id && success) {\n\t\t\t\tthis._pendingRequests[id] = {\n\t\t\t\t\tsuccess: success,\n\t\t\t\t\tfail: fail\n\t\t\t\t};\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke the resolve callback for the request that has returned successfully\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {any} the resolved value\n   */\n\n\t}, {\n\t\tkey: '_resolveResponseCallbacks',\n\t\tvalue: function _resolveResponseCallbacks(id, obj) {\n\t\t\tif (id && this._pendingRequests[id]) {\n\t\t\t\tthis._pendingRequests[id].success(obj);\n\t\t\t\tdelete this._pendingRequests[id];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke the reject callback for the request that has returned as a failure\n   * @private\n   * @param {string} identifier that uniquely identifies a single postMessage request\n   * @param {object} the error object\n   */\n\n\t}, {\n\t\tkey: '_rejectResponseCallbacks',\n\t\tvalue: function _rejectResponseCallbacks(id, obj) {\n\t\t\tif (id && this._pendingRequests[id]) {\n\t\t\t\tthis._pendingRequests[id].fail(obj);\n\t\t\t\tdelete this._pendingRequests[id];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Register an event callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_registerEventCallbacks',\n\t\tvalue: function _registerEventCallbacks(id, callback) {\n\t\t\tif (id && callback) {\n\t\t\t\tthis._eventCallbacks[id] = callback;\n\t\t\t\tthis._eventReverseLookup[callback] = id;\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Unregister an event callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_unregisterEventCallbacks',\n\t\tvalue: function _unregisterEventCallbacks(id, callback) {\n\t\t\tif (id && callback && this._eventReverseLookup[callback] === id) {\n\t\t\t\tdelete this._eventCallbacks[id];\n\t\t\t\tdelete this._eventReverseLookup[callback];\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Handle event by invoking the corresponding callback\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_handleEventCallbacks',\n\t\tvalue: function _handleEventCallbacks(id, obj) {\n\t\t\tif (id && typeof this._eventCallbacks[id] === 'function') {\n\t\t\t\tthis._eventCallbacks[id].call(this._eventCallbacks[id], obj);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Invoke a postMessage to the target window.\n   * Callbacks are registered which gets invoked when the corresponding response is returned\n   * @private\n   * @param {object} Payload object to be post to the target window\n   * @param {function} Resolve callback function\n   * @param {function} Reject callback function\n   */\n\n\t}, {\n\t\tkey: '_sendMessage',\n\t\tvalue: function _sendMessage(obj, success, fail) {\n\t\t\tif (this._target) {\n\t\t\t\tif (obj.name === 'on') {\n\t\t\t\t\tthis._registerEventCallbacks(obj.actionId, success);\n\t\t\t\t} else if (obj.name === 'off') {\n\t\t\t\t\tthis._unregisterEventCallbacks(obj.actionId, success);\n\t\t\t\t} else {\n\t\t\t\t\tthis._registerResponseCallbacks(obj.actionId, success, fail);\n\t\t\t\t}\n\t\t\t\tthis._target.postMessage(this._createMessage(obj), this._targetOrigin);\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Message event handler to handle messages posted by the inner iframe\n   * @private\n   * @param {object} Event object\n   */\n\n\t}, {\n\t\tkey: '_receiveMessage',\n\t\tvalue: function _receiveMessage(event) {\n\t\t\t// Only accept message from the iframe we know about\n\t\t\tif (event.origin !== this._targetOrigin) {\n\t\t\t\treturn;\n\t\t\t}\n\t\t\tvar obj = this._parseMessage(event.data);\n\t\t\tif (obj !== null) {\n\t\t\t\tif (!obj.status || obj.status === 'success') {\n\t\t\t\t\tswitch (obj.type) {\n\t\t\t\t\t\tcase 'ready':\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(this._apiKey);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase 'api':\n\t\t\t\t\t\t\t// expand the api response by either injecting to the API to the root or creating an new API object\n\t\t\t\t\t\t\tvar resolvedAPI = obj.actionId.indexOf(CognosApi.APISERVICE_INIT) === 0 ? this : {};\n\t\t\t\t\t\t\tthis._injectAPI(resolvedAPI, obj.payload);\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(obj.actionId, resolvedAPI);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase 'event':\n\t\t\t\t\t\t\tthis._handleEventCallbacks(obj.actionId, obj.payload);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tdefault:\n\t\t\t\t\t\t\t// simply resolve with the raw payload\n\t\t\t\t\t\t\tthis._resolveResponseCallbacks(obj.actionId, obj.payload);\n\t\t\t\t\t}\n\t\t\t\t} else {\n\t\t\t\t\tthis._rejectResponseCallbacks(obj.actionId, obj.payload);\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\n\t\t/**\n   * Create a message with the CAPI header prepended to the message\n   * @private\n   * @param {object} Payload object\n   */\n\n\t}, {\n\t\tkey: '_createMessage',\n\t\tvalue: function _createMessage(obj) {\n\t\t\treturn CognosApi.APIHEADER + CognosApi.APIHEADER_DELIMITER + this._apiKey + CognosApi.APIHEADER_DELIMITER + JSON.stringify(obj);\n\t\t}\n\n\t\t/**\n   * Parse the response message.\n   * @private\n   * @return Response payload object\n   */\n\n\t}, {\n\t\tkey: '_parseMessage',\n\t\tvalue: function _parseMessage(data) {\n\t\t\tvar result = this._message_regex.exec(data);\n\t\t\tif ((typeof result === 'undefined' ? 'undefined' : _typeof(result)) === 'object' && result !== null) {\n\t\t\t\tthis._message_regex.lastIndex = 0;\n\t\t\t\treturn JSON.parse(result[2]);\n\t\t\t}\n\t\t\treturn null;\n\t\t}\n\n\t\t/**\n   * Inject the API spec returned by the API service to the client API object\n   * @private\n   * @param {object} client API object\n   * @param {object} API spec that describes an API\n   */\n\n\t}, {\n\t\tkey: '_injectAPI',\n\t\tvalue: function _injectAPI(api, apiSpec) {\n\t\t\tvar _this6 = this;\n\n\t\t\tObject.keys(apiSpec).forEach(function (memberName) {\n\t\t\t\tif (memberName === 'apiId') {\n\t\t\t\t\tapi[memberName] = apiSpec[memberName];\n\t\t\t\t} else if (apiSpec[memberName].apiId) {\n\t\t\t\t\t// new nested API needs to built recursively\n\t\t\t\t\tapi[memberName] = {};\n\t\t\t\t\t_this6._injectAPI(api[memberName], apiSpec[memberName]);\n\t\t\t\t} else {\n\t\t\t\t\tif (apiSpec[memberName].type === 'enum') {\n\t\t\t\t\t\tapi[memberName] = apiSpec[memberName].values;\n\t\t\t\t\t} else if (apiSpec[memberName].type === 'method') {\n\t\t\t\t\t\tapi[memberName] = _this6._getAPIMethod(memberName, apiSpec.apiId);\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\n\t\t/**\n   * Generate an API proxy method to be injected to the client API object\n   * @private\n   * @param {string} Method name\n   * @param {string} Identifier of the API\n   */\n\n\t}, {\n\t\tkey: '_getAPIMethod',\n\t\tvalue: function _getAPIMethod(methodName, apiId) {\n\t\t\tvar _this7 = this;\n\n\t\t\t// predefined event on/off methods\n\t\t\tif (methodName === 'on') {\n\t\t\t\treturn function () {\n\t\t\t\t\tfor (var _len = arguments.length, args = Array(_len), _key = 0; _key < _len; _key++) {\n\t\t\t\t\t\targs[_key] = arguments[_key];\n\t\t\t\t\t}\n\n\t\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\t\tvar callback = params[1];\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: CognosApi._createUID(methodName),\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, callback, callback);\n\t\t\t\t};\n\t\t\t} else if (methodName === 'off') {\n\t\t\t\treturn function () {\n\t\t\t\t\tfor (var _len2 = arguments.length, args = Array(_len2), _key2 = 0; _key2 < _len2; _key2++) {\n\t\t\t\t\t\targs[_key2] = arguments[_key2];\n\t\t\t\t\t}\n\n\t\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\t\tvar callback = params[1];\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: _this7._eventReverseLookup[callback],\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, callback, callback);\n\t\t\t\t};\n\t\t\t}\n\n\t\t\t// general api methods\n\t\t\treturn function () {\n\t\t\t\tfor (var _len3 = arguments.length, args = Array(_len3), _key3 = 0; _key3 < _len3; _key3++) {\n\t\t\t\t\targs[_key3] = arguments[_key3];\n\t\t\t\t}\n\n\t\t\t\tvar params = Array.prototype.slice.call(args);\n\t\t\t\treturn new Promise(function (resolve, reject) {\n\t\t\t\t\t_this7._sendMessage({\n\t\t\t\t\t\tapiId: apiId,\n\t\t\t\t\t\tactionId: CognosApi._createUID(methodName),\n\t\t\t\t\t\tname: methodName,\n\t\t\t\t\t\tparameters: params\n\t\t\t\t\t}, resolve, reject);\n\t\t\t\t});\n\t\t\t};\n\t\t}\n\n\t\t/**\n   * Static private method to to update the modules in the dashboard spec.\n   * @static\n   * @private\n  */\n\n\t}], [{\n\t\tkey: '_updateModuleDefinitions',\n\t\tvalue: function _updateModuleDefinitions(dashboardSpec, callback) {\n\t\t\tif (!dashboardSpec || !dashboardSpec.dataSources || !dashboardSpec.dataSources.sources) {\n\t\t\t\treturn Promise.resolve(dashboardSpec);\n\t\t\t}\n\n\t\t\tvar moduleClientIds = [];\n\t\t\tdashboardSpec.dataSources.sources.forEach(function (source) {\n\t\t\t\tif (source.clientId) {\n\t\t\t\t\tmoduleClientIds.push(source.clientId);\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tif (moduleClientIds.length === 0) {\n\t\t\t\treturn Promise.resolve(dashboardSpec);\n\t\t\t}\n\n\t\t\tvar result = callback(moduleClientIds);\n\t\t\tif (result && typeof result.then === 'function') {\n\t\t\t\treturn result.then(function (newModules) {\n\t\t\t\t\treturn CognosApi._doModuleUpdate(dashboardSpec, newModules);\n\t\t\t\t});\n\t\t\t}\n\n\t\t\treturn Promise.resolve(CognosApi._doModuleUpdate(dashboardSpec, result));\n\t\t}\n\n\t\t/**\n   * Static private method to to update the modules in the dashboard spec.\n   * @static\n   * @private\n   */\n\n\t}, {\n\t\tkey: '_doModuleUpdate',\n\t\tvalue: function _doModuleUpdate(dashboardSpec, newModules) {\n\t\t\tvar cloneDashboardSpec = JSON.parse(JSON.stringify(dashboardSpec));\n\t\t\tif (newModules) {\n\t\t\t\tvar _iteratorNormalCompletion = true;\n\t\t\t\tvar _didIteratorError = false;\n\t\t\t\tvar _iteratorError = undefined;\n\n\t\t\t\ttry {\n\t\t\t\t\tfor (var _iterator = cloneDashboardSpec.dataSources.sources[Symbol.iterator](), _step; !(_iteratorNormalCompletion = (_step = _iterator.next()).done); _iteratorNormalCompletion = true) {\n\t\t\t\t\t\tvar source = _step.value;\n\t\t\t\t\t\tvar _iteratorNormalCompletion2 = true;\n\t\t\t\t\t\tvar _didIteratorError2 = false;\n\t\t\t\t\t\tvar _iteratorError2 = undefined;\n\n\t\t\t\t\t\ttry {\n\t\t\t\t\t\t\tfor (var _iterator2 = newModules[Symbol.iterator](), _step2; !(_iteratorNormalCompletion2 = (_step2 = _iterator2.next()).done); _iteratorNormalCompletion2 = true) {\n\t\t\t\t\t\t\t\tvar newModule = _step2.value;\n\n\t\t\t\t\t\t\t\tif (newModule.id === source.clientId) {\n\t\t\t\t\t\t\t\t\tif (newModule.module) {\n\t\t\t\t\t\t\t\t\t\tsource.module = newModule.module;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t\tif (newModule.name) {\n\t\t\t\t\t\t\t\t\t\tsource.name = newModule.name;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t\tif (newModule.newId && newModule.id !== newModule.newId) {\n\t\t\t\t\t\t\t\t\t\tsource.clientId = newModule.newId;\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t} catch (err) {\n\t\t\t\t\t\t\t_didIteratorError2 = true;\n\t\t\t\t\t\t\t_iteratorError2 = err;\n\t\t\t\t\t\t} finally {\n\t\t\t\t\t\t\ttry {\n\t\t\t\t\t\t\t\tif (!_iteratorNormalCompletion2 && _iterator2.return) {\n\t\t\t\t\t\t\t\t\t_iterator2.return();\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t} finally {\n\t\t\t\t\t\t\t\tif (_didIteratorError2) {\n\t\t\t\t\t\t\t\t\tthrow _iteratorError2;\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t} catch (err) {\n\t\t\t\t\t_didIteratorError = true;\n\t\t\t\t\t_iteratorError = err;\n\t\t\t\t} finally {\n\t\t\t\t\ttry {\n\t\t\t\t\t\tif (!_iteratorNormalCompletion && _iterator.return) {\n\t\t\t\t\t\t\t_iterator.return();\n\t\t\t\t\t\t}\n\t\t\t\t\t} finally {\n\t\t\t\t\t\tif (_didIteratorError) {\n\t\t\t\t\t\t\tthrow _iteratorError;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\n\t\t\t\t;\n\t\t\t}\n\n\t\t\treturn cloneDashboardSpec;\n\t\t}\n\n\t\t/**\n  * Static private method to create an unique identifier prepended with a give name\n   * @static\n  * @private\n  */\n\n\t}, {\n\t\tkey: '_createUID',\n\t\tvalue: function _createUID(prepend) {\n\t\t\tvar uid = Date.now().valueOf();\n\t\t\tCognosApi.__uid = CognosApi.__uid === uid ? uid + 1 : uid;\n\t\t\treturn prepend + '_' + CognosApi.__uid.toString(16);\n\t\t}\n\t}]);\n\n\treturn CognosApi;\n}();\n\n/**\n * Constant for event names used for on and off\n * @public\n * @readonly\n * @enum {string}\n * @memberof CognosApi\n */\n\n\nCognosApi.EVENTS = {\n\t/** Request error events.<br>\n Allows users to receive HTTP request error events. */\n\tREQUEST_ERROR: 'api:error:request'\n};\n\n/**\n * Constant for Api message header and initialization\n * @private\n */\nCognosApi.APIHEADER_DELIMITER = '#';\nCognosApi.APIHEADER_MARKER = 'capi';\nCognosApi.APIHEADER_VERSION = 'v1';\nCognosApi.APIHEADER = CognosApi.APIHEADER_DELIMITER + CognosApi.APIHEADER_MARKER + CognosApi.APIHEADER_DELIMITER + CognosApi.APIHEADER_VERSION;\n\nCognosApi.APISERVICE_INIT = 'getAppApi';\nCognosApi.APISERVICE_ON = 'on';\nCognosApi.APISERVICE_OFF = 'off';\nCognosApi.APISERVICE_DESTROY = 'destroyAppApi';\nCognosApi.APISERVICE_CLASS = 'capi-service';\n//# sourceMappingURL=CognosApi.js.map\n\n\nvar sessionObj = null;\nvar cognosApi = null;\n  $.get('https://darktribes.mybluemix.net/session', function(result) {\n          sessionObj = result;\n          cognosApi = new CognosApi({\n              cognosRootURL: 'https://dde-us-south.analytics.ibm.com/daas/',\n              sessionCode: sessionObj.sessionCode,\n              node: document.getElementById('sentiment')\n          });\n          cognosApi.initialize().then(function() {\n              cognosApi.dashboard.openDashboard({dashboardSpec: dashSpec}).then(\n                  function(dashboardAPI) {\n                      cognosApi.dashboardAPI = dashboardAPI;\n                  }\n              ).catch(\n                  function(err) {\n                      console.log(err);\n                  }\n              );\n          }, function(err) {\n              console.log('Failed to create API. ' + err.message);\n          });\n        });\n","output":"str","x":320,"y":520,"wires":[["493233cf.e4934c"]]},{"id":"66d8d4b3.7d6c94","type":"http in","z":"8246e271.253b4","name":"Cognos JS","url":"/cognosApi","method":"get","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["464997b.5032a68"]]},{"id":"75b916fd.33aec","type":"http in","z":"8246e271.253b4","name":"IOS Main Tab","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["1c367735.adfce9"]]},{"id":"fc1c5405.e66c6","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"DISCOVERY_CALL_LOG","name":"Discovery Log","x":640,"y":620,"wires":[]},{"id":"c157007.5cd7c8","type":"watson-discovery-v1","z":"45bfaeea.5a7458","name":"discovery","environmentname":"","environment_id":"142065f5-715e-4a7a-abbe-59ef0252d4a2","collection_id":"","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"3","passages":false,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":320,"y":600,"wires":[["d082a609.ad2f78","9ff27b3.0ac8688","f476a9f2.b5a5a"]]},{"id":"eb46e3f.178762","type":"function","z":"45bfaeea.5a7458","name":"pre disc","func":"var ucontext = flow.get('ucontext');\nvar workspaces = flow.get('discovery');\nmsg.discoveryparams = {}\nmsg.ucontext = ucontext;\nmsg.discoveryparams.collection_id = workspaces[ucontext[msg.user].industry];\n\ntry{\n    if (msg.payload.intents[0].intent.indexOf(\"General\") != 0){\n        msg.discoveryparams.query = msg.payload.intents[0].intent.replace(/_/g, \" \");\n        return msg;\n    }\n}catch(fail){}","outputs":1,"noerr":0,"x":180,"y":600,"wires":[["c157007.5cd7c8"]]},{"id":"d082a609.ad2f78","type":"function","z":"45bfaeea.5a7458","name":"prep","func":"var r = msg.search_results.results;\nfor (x=0; x< r.length; x++){\n    t = {}\n    \n    t.payload = {\n            USER : msg.user,\n            FILENAME: '',\n            DT_TIME: 'TIMESTAMP',\n            ID: x,\n            SCORE: r[x].result_metadata.score,\n            TITLE: r[x].Title,\n            FILETYPE: '',\n            QUERY: msg.discoveryparams.query,\n            RESULTCOUNT: r.length,\n            URL: '',\n            ACTIVE: 1\n    }\n    \n    node.send(t);\n}","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["fc1c5405.e66c6"]]},{"id":"8483a2ac.1976f","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"delete from DISCOVERY_CALL_LOG where \"USER\" = ? ;","params":"msg.user","name":"Truncate discovery_call_log","x":720,"y":760,"wires":[["d2c9d769.cac768"]]},{"id":"6ee3dc5d.ca2334","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n\n    <style>\n    \n\n    p{\n        margin: 0 0 2px;\n        clear:both;\n    }\n    \n    p.size{\n        font-size: 14px;\n    }\n        \n        .panel .slidedown .glyphicon, .chat .glyphicon\n        {\n            margin-right: 5px;\n        }\n        \n        .panel-body{\n            color: black;\n            background-color: white;\n        }\n\n    .wtitle {\n        text-align: left;\n        color: #000 !important;\n        font-family: HelvNeueforIBM-Bold,HelvNeueforIBM,HelvNeueforIBM-Regular,Helvetica,Arial,sans-serif !important;\n        font-size: 20px;\n        font-weight: 600;\n        line-height: 16pt;\n    }\n\n        .thumb {\n            font-size:25px;\n            color:green;\n        }\n    </style>\n  </head>\n  <body>\n    <div class =\"wtitle\">Recommended Actions</div>\n    <div id=\"discovery_log\"></div>\n  </body>\n  <script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\" crossorigin=\"anonymous\"></script>\n  <script src = \"/socket.io/socket.io.js\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n    <script src=\"/jsdiscovery\"></script>\n  </html>","output":"str","x":320,"y":280,"wires":[["d1003420.4bca3"]]},{"id":"6042f3b7.b1b694","type":"http in","z":"8246e271.253b4","name":"Discovery","url":"/discovery","method":"get","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["6ee3dc5d.ca2334"]]},{"id":"f8466c5b.3bc558","type":"http in","z":"8246e271.253b4","name":"Discovery JS","url":"/jsdiscovery","method":"get","upload":false,"swaggerDoc":"","x":170,"y":560,"wires":[["3542c301.cd7054"]]},{"id":"3542c301.cd7054","type":"template","z":"8246e271.253b4","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"var getUrlParameter = function getUrlParameter(sParam) {\n    var sPageURL = decodeURIComponent(window.location.search.substring(1)),\n        sURLVariables = sPageURL.split('&'),\n        sParameterName,\n        i;\n\n    for (i = 0; i < sURLVariables.length; i++) {\n        sParameterName = sURLVariables[i].split('=');\n\n        if (sParameterName[0] === sParam) {\n            return sParameterName[1] === undefined ? true : sParameterName[1];\n        }\n    }\n};\n\n\nvar yourPhone = getUrlParameter('yourPhone');\nvar session = getUrlParameter('session');\n\n\n\nfunction send(id){\n        var msg = {};\n        msg.id = id;\n        msg.user = yourPhone;\n        msg.session = session;\n        try{\n            socket.emit('openModal', msg);\n        } catch(exception){console.log('Socket Error: '+exception);}\n        \n    }\n\n\nvar socket = io();\n\nsocket.on('connect', function() {\n    console.log(\"socket connected\")\n});\n\nsocket.on('disconnect', function() {\n    console.log('socket disconnected');\n});\nsocket.on('discovery', function(json) {\n    if(json.user == yourPhone){\n        $(\"#discovery_log\").html(json.chat);\n    }\n});\n","x":320,"y":560,"wires":[["493233cf.e4934c"]]},{"id":"6143e68d.f84668","type":"function","z":"8246e271.253b4","name":"","func":"msg.hideChat = \"block\";\n\nif(typeof(msg.payload.ua) != \"undefined\"){\n    if(msg.payload.ua == \"iphone\")\n        msg.hideChat = \"none\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["70e4e4b5.46beb4"]]},{"id":"b6ed2cdd.6c7dc8","type":"http in","z":"45bfaeea.5a7458","name":"","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["9f0e59b6.581368"]]},{"id":"9f0e59b6.581368","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg.text = msg.payload.text;\nmsg.user = msg.payload.user;\nmsg.industry = msg.payload.industry;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["78222dec.7fe19c","777cfd89.fc7f34"]]},{"id":"777cfd89.fc7f34","type":"http response","z":"45bfaeea.5a7458","name":"","statusCode":"","headers":{},"x":370,"y":200,"wires":[]},{"id":"62e7ee88.eab248","type":"function","z":"45bfaeea.5a7458","name":"#goodbye","func":"//Clears payload (like whole new coversation)\nif (msg.payload.intents[0].intent !== 'undefined'){\n    if (msg.payload.intents[0].intent == 'goodbye') {\n        ucontext[msg.user] = {};\n        node.warn('terminated session with goodbye intent');\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[[]]},{"id":"1ba6aa7f.0c67c6","type":"watson-conversation-v1","z":"45bfaeea.5a7458","name":"WA","workspaceid":"","multiuser":true,"context":false,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":110,"y":420,"wires":[["da5db8d.3e3e648","8899dcc9.ab69f"]]},{"id":"da5db8d.3e3e648","type":"function","z":"45bfaeea.5a7458","name":"handle actions","func":"var ucontext = flow.get('ucontext');\nvar workspaces = flow.get('discovery');\nmsg.discoveryparams = {}\nmsg.ucontext = ucontext;\ncollection_id = workspaces[ucontext[msg.user].industry];\n\nmsg.from = \"watson\";\nif(typeof msg.payload.actions !== \"undefined\"){\n    msg.actionparameters = msg.payload.actions[0].parameters;\n    msg.actioncontext = msg.payload.context;\n    msg.url=\"https://gateway.watsonplatform.net/discovery/api/v1/environments/142065f5-715e-4a7a-abbe-59ef0252d4a2/collections/\" + collection_id + \"/query?version=2018-08-01&count=0&deduplicate=false&highlight=true&passages=true&passages.count=1&passages.fields=Text&natural_language_query=\" + msg.payload.intents[0].intent.replace(/_/g, \" \");\n    return [msg,null]\n} else {\n    var discoveryinfo = msg.search_results;\n\n    if(typeof msg.payload_old !== \"undefined\") {\n        msg.payload = msg.payload_old;\n    }\n    if(typeof msg.link  !== \"undefined\"){\n        \n        msg.payload.output.link = 'Check out: ' + msg.link;\n    }\n\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"x":300,"y":420,"wires":[["42329681.1b304"],["522f4973.37853","2c99eb32.b9eabc"]]},{"id":"1b4134ea.6e5ecb","type":"function","z":"45bfaeea.5a7458","name":"process results","func":"var discoveryinfo = \"Sorry, I could not find anything in our documentation for this issue.\";\nvar ucontext = flow.get('ucontext');\nvar workspaces = flow.get('assistants');\n\nif( msg.payload.matching_results > 0)\n    discoveryinfo = \"Here is what I found in our documentation: \" + msg.payload.passages[0].passage_text;\n\n\n\nmsg.params = {context: Object.assign(msg.actioncontext,{discovery: discoveryinfo})}\nmsg.params.workspace_id = workspaces[ucontext[msg.user].industry]\n\nmsg.payload = msg.actionparameters.text;\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["1ba6aa7f.0c67c6"]]},{"id":"133ef00d.95f46","type":"template","z":"8246e271.253b4","name":"MegaMedia","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n    <link href=\"//conciergevoiceserver.mybluemix.net/css/mm-overlay.css\" rel=\"stylesheet\">\n<style>\n    body{\n        padding-top:0px;\n    }\n</style>\n  </head>\n  <body>\n    <header>\n      <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n        <ol class=\"carousel-indicators\">\n          <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n          <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n          <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n        </ol>\n        <div class=\"carousel-inner\" role=\"listbox\">\n             <div class=\"carousel-item active\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/mm-slide-1.jpg')\">\n            <div class=\"carousel-caption d-none d-md-block\">\n              <h3>Our Parks</h3>\n              <p>Find out more about our parks and how we do things differently here at Mega Media</p>\n            </div>\n          </div>\n          <!-- Slide Two - Set the background image for this slide in the line below -->\n          <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/mm-slide-2.jpg')\">\n            <div class=\"carousel-caption d-none d-md-block\">\n              <h3>Second Slide</h3>\n              <p>This is a description for the second slide.</p>\n            </div>\n          </div>\n          <!-- Slide Three - Set the background image for this slide in the line below -->\n          <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/mm-slide-3.jpg')\">\n            <div class=\"carousel-caption d-none d-md-block\">\n              <h3>Third Slide</h3>\n              <p>This is a description for the third slide.</p>\n            </div>\n          </div>\n        </div>\n        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n          <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n          <span class=\"sr-only\">Previous</span>\n        </a>\n        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n          <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n          <span class=\"sr-only\">Next</span>\n        </a>\n      </div>\n    </header>\n    <div class=\"container\">\n\n      <h1 class=\"my-4 ContactUs\"></h1>\n\n      <div class=\"row\">\n\n        <div class=\"col-lg-4 mb-4\">\n          <div class=\"card h-100\">\n            <img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/liveTV.gif\"/>\n            <div class=\"card-img-overlay\">\n              <h4 class=\"card-title text-white-50\">Live: These Streets</h4>\n            </div>\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">MegaMedia Channel Live</h5>\n              <p class=\"card-text\">Start your 30 day free trial of our live TV service. Only $14.99/mo after first 30 days</p>\n            </div>\n          </div>\n        </div>\n        <div class=\"col-lg-4 mb-4\">\n        <div class=\"card h-100\">\n                <h4 class=\"card-header\">Featured Video</h4>\n            <div class=\"card-body\">\n                <div class=\"embed-responsive embed-responsive-4by3\">\n                    <video width=\"320\" height=\"240\" controls playsinline webkit-playsinline>\n                      <source src=\"/watchvideo?playsinline=1&yourPhone={{payload.yourPhone}}\" type=\"video/mp4\">\n                    </video> \n                </div>\n                </div>\n            </div>\n            </div>\n\n        <div class=\"col-lg-4 mb-4\">\n          <div class=\"card h-100\">\n            <h4 class=\"card-header\">Behind the Scenes</h4>\n            <div class=\"card-body\">\n              <p class=\"card-text\">We go behind the scenes with Mr. Burns to discuss his upcoming series</p>\n            </div>\n          </div>\n        </div>\n      </div>\n      <!-- /.row -->\n\n    </div>\n    <footer class=\"py-5 bg-dark\">\n      <div class=\"container\">\n        <p class=\"m-0 text-center text-white bg-dark\">Powered by IBM Watson</p>\n      </div>\n    </footer>\n    <script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n            crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n  </body>\n\n</html>\n","output":"str","x":450,"y":20,"wires":[["d1003420.4bca3"]]},{"id":"b2e72fcb.e62f28","type":"function","z":"8246e271.253b4","name":"","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"https://ibm.box.com/shared/static/nks4qe5e8kady1gy6gomdoz1cvl5kqti.mp4\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["461e71c4.65f758"]]},{"id":"5784bfb2.9859e","type":"link in","z":"45bfaeea.5a7458","name":"Start Interaction","links":["38f84a7.7bcdf36","c6377615.794f68"],"x":95,"y":1040,"wires":[["da0acbe4.f00b5"]]},{"id":"da0acbe4.f00b5","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg.agent = msg.payload.agentPhone;\nmsg.user = msg.payload.yourPhone;\nmsg.industry = msg.payload.industry;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1040,"wires":[["545625f2.0b2a2c"]]},{"id":"545625f2.0b2a2c","type":"function","z":"45bfaeea.5a7458","name":"Input","func":"var ucontext = flow.get('ucontext');\nvar workspaces = flow.get('assistants');\n\n\nif (typeof(ucontext[msg.user]) == \"undefined\"){\n    ucontext[msg.user] = {};\n}\n\nucontext[msg.user].industry = msg.industry;\n\nmsg.params = {}\nmsg.params.workspace_id = workspaces[ucontext[msg.user].industry]\nmsg.params.context = ucontext[msg.user].context;\n\nflow.set('ucontext',ucontext);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1040,"wires":[["8be869d8.6fd6a"]]},{"id":"8be869d8.6fd6a","type":"link out","z":"45bfaeea.5a7458","name":"Load Session","links":["dd92db27.57577","340e9307.5d984c"],"x":435,"y":1040,"wires":[]},{"id":"d6b64a21.786e4","type":"comment","z":"45bfaeea.5a7458","name":"Start / Load a session","info":"","x":260,"y":1000,"wires":[]},{"id":"340e9307.5d984c","type":"link in","z":"45bfaeea.5a7458","name":"Tone and Class","links":["8be869d8.6fd6a"],"x":95,"y":800,"wires":[["3c740200.1486e6","192d9780.1dc239"]]},{"id":"461e71c4.65f758","type":"http response","z":"8246e271.253b4","name":"","statusCode":"","headers":{},"x":530,"y":620,"wires":[]},{"id":"349aa17d.3f5d26","type":"http in","z":"8246e271.253b4","name":"","url":"/watchvideo","method":"get","upload":false,"swaggerDoc":"","x":180,"y":620,"wires":[["b2e72fcb.e62f28","d2b4f00d.f97a68"]]},{"id":"c5aa7902.f18888","type":"link out","z":"8246e271.253b4","name":"watch video","links":["24f57f73.91a23"],"x":455,"y":660,"wires":[]},{"id":"24f57f73.91a23","type":"link in","z":"45bfaeea.5a7458","name":"Log Action","links":["c5aa7902.f18888","38f84a7.7bcdf36","c6377615.794f68","3de9b42a.a170e4"],"x":95,"y":840,"wires":[["afd2fe6.641bf8"]]},{"id":"afd2fe6.641bf8","type":"function","z":"45bfaeea.5a7458","name":"log action","func":"t = {};\n    t.payload =\n    {\n        USER : msg.user,\n        WIDGET_TYPE : 'interaction',\n        PHONE_NO : 0,\n        DATA_ORDER: 0,\n        DATA_VALUE: msg.interaction\n        }\n    node.send(t)\n","outputs":1,"noerr":0,"x":200,"y":840,"wires":[["35705fd5.db6d8"]]},{"id":"35705fd5.db6d8","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"WIDGET_DATA","name":"Interaction","x":410,"y":840,"wires":[]},{"id":"d2b4f00d.f97a68","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.interaction = \"Viewed Feature Movie 11621\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["c5aa7902.f18888"]]},{"id":"9ff27b3.0ac8688","type":"function","z":"45bfaeea.5a7458","name":"prep","func":"if (msg.search_results.matching_results > 0) {\n    msg.header = \"Resolve Issue: <q>\" + msg.discoveryparams.query + \"</q>\";\n    var r = msg.search_results.results;\n    \n    msg.list = \"\";\n    \n    for (x=0; x< r.length; x++){\n        msg.list = msg.list + '<li class=\"list-group-item d-flex justify-content-between align-items-center\"><span style=\"cursor:pointer\" onclick=\"send(\\'' + msg.search_results.session_token + x.toString() + '\\')\">';\n        msg.list = msg.list + (x+1).toString() + \". \" + r[x].Title;\n        msg.list = msg.list + '</span><span class=\"badge badge-primary badge-pill\" style=\"cursor:pointer\"><i class=\"fa fa-thumbs-o-up\" aria-hidden=\"true\"></i></span></li>';\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["e56576f6.eac06"]]},{"id":"e56576f6.eac06","type":"template","z":"45bfaeea.5a7458","name":"","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card\" style=\"margin-bottom: 0px;padding-bottom: 0px;\">\n  <div class=\"card-header\">\n    {{{header}}}\n  </div>\n  <ul class=\"list-group list-group-flush\">\n      {{{list}}}\n  </ul>\n</div>\n","output":"str","x":600,"y":580,"wires":[["d6bd6933.fe4828"]]},{"id":"d6bd6933.fe4828","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg2 = {};\npayload = {};\npayload.chat = msg.chat;\npayload.user = msg.user;\npayload.from = msg.from;\nmsg2.socketIOEvent = \"discovery\";\nmsg2.payload = payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["4e8a938a.f1af0c"]]},{"id":"6c2720c0.21f9c8","type":"wml","z":"45bfaeea.5a7458","name":"","connection":"43d08a57.f16084","wml-mode":"runPrediction","model":"7e48d1d9-85c9-490b-8842-b1bf3dd5ae67","deployment":"4e821935-44b7-4aa0-b78f-8b212fedc580","modelhidden":"7e48d1d9-85c9-490b-8842-b1bf3dd5ae67","deploymenthidden":"","x":450,"y":700,"wires":[["c915fec8.faadf"]]},{"id":"d70288d6.2297d8","type":"function","z":"45bfaeea.5a7458","name":"","func":"\n\nmsg.payload = {\"fields\":[\"sentiment\", \"spend\"], \"values\":[[msg.payload.SENTIMENT-0, msg.payload.SPEND]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["6c2720c0.21f9c8"]]},{"id":"c915fec8.faadf","type":"function","z":"45bfaeea.5a7458","name":"process offer","func":"msg.offer = 0;\ntry{\n    msg.offer = Math.round(msg.payload.values[0][msg.payload.fields.indexOf(\"prediction\")]);\n}catch(fail){}\nt = {};\nif (msg.offer > 0){\n    t.user = msg.user;\n    t.insert =\n    {\n        USER : msg.user,\n        WIDGET_TYPE : 'offers',\n        PHONE_NO : 0,\n        DATA_ORDER: 0,\n        DATA_VALUE: \"Approved to discount up to \" + msg.offer + \"% off current bill.\"\n    }\n\n}else{\n    t.insert =\n    {\n        USER : msg.user,\n        WIDGET_TYPE : 'offers',\n        PHONE_NO : 0,\n        DATA_ORDER: 0,\n        DATA_VALUE: \"No current approvals for this customer.\"\n    }\n\n}\n    node.send(t)\n","outputs":1,"noerr":0,"x":590,"y":700,"wires":[["2b20f793.57fe6"]]},{"id":"5716dde2.9d646c","type":"dashDB out","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","table":"WIDGET_DATA","name":"Approved Offer","x":1060,"y":700,"wires":[]},{"id":"d2c9d769.cac768","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"delete from SENTIMENT   where \"USER\" = ? ;","params":"msg.user","name":"Truncate Call Classification","x":980,"y":760,"wires":[[]]},{"id":"549317f8.a3a65","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"select CAST(avg(SCORE) as DECIMAL(2,1)) as sentiment, COALESCE((select TOTAL_PAYMENTS from USERS where PHONE = ?),0) as spend from SENTIMENT where \"USER\" = ? ","params":"msg.user,msg.user","name":"Get Data","x":180,"y":700,"wires":[["d70288d6.2297d8"]]},{"id":"25caf79c.12e21","type":"template","z":"45bfaeea.5a7458","name":"","field":"chat","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"modal fade\" id=\"{{{id}}}\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n  <div class=\"modal-dialog modal-dialog-centered\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <h5 class=\"modal-title\">{{{title}}}</h5>\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n          <span aria-hidden=\"true\">&times;</span>\n        </button>\n      </div>\n      <div class=\"modal-body\">\n        {{{image}}}\n        {{{details}}}\n      </div>\n    </div>\n  </div>\n</div>","output":"str","x":600,"y":540,"wires":[["2eff54ff.2b6dc4"]]},{"id":"f476a9f2.b5a5a","type":"function","z":"45bfaeea.5a7458","name":"prep","func":"\nvar r = msg.search_results.results;\n\nfor (x=0; x< r.length; x++){\n    t = {};\n    t.user = msg.user;\n    t.id = msg.search_results.session_token + x.toString();\n    t.title = r[x].Title;\n    t.details = r[x].Text;\n    t.image = \"\";\n    if (r[x].URL.indexOf(\".jpg\") > 0 || r[x].URL.indexOf(\".png\") > 0  )\n        t.image = \"<img src='\" + r[x].URL + \"' width=400/>\";\n    node.send(t);    \n}\n","outputs":1,"noerr":0,"x":470,"y":540,"wires":[["25caf79c.12e21"]]},{"id":"2eff54ff.2b6dc4","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg2 = {};\npayload = {};\npayload.chat = msg.chat;\npayload.user = msg.user;\npayload.from = msg.from;\nmsg2.socketIOEvent = \"chat\";\nmsg2.payload = payload;\n\n\n\nreturn msg2;","outputs":1,"noerr":0,"x":750,"y":540,"wires":[["4e8a938a.f1af0c"]]},{"id":"8753c7f4.421c48","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"select offer from UPSELL_OFFERS where industry = ? and upsell = ?","params":"msg.industry,msg.upsell","name":"Get Data","x":560,"y":800,"wires":[["faeee258.ae22"]]},{"id":"c8ddb4f.0c63f48","type":"function","z":"45bfaeea.5a7458","name":"prep","func":"msg.pred = msg.payload;\nmsg.upsell = Math.round(msg.pred.values[0][msg.pred.fields.indexOf(\"prediction\")]);\nreturn msg;\n   ","outputs":1,"noerr":0,"x":430,"y":800,"wires":[["8753c7f4.421c48"]]},{"id":"2b20f793.57fe6","type":"dashDB in","z":"45bfaeea.5a7458","dashDB":"759a025.71509fc","service":"_ext_","query":"delete from WIDGET_DATA  where \"USER\" = ? and WIDGET_TYPE = 'offers';","params":"msg.user","name":"Truncate Offers","x":760,"y":700,"wires":[["2a73b0ea.b4ef3"]]},{"id":"2a73b0ea.b4ef3","type":"function","z":"45bfaeea.5a7458","name":"","func":"msg.payload = msg.insert;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":700,"wires":[["5716dde2.9d646c"]]},{"id":"1c367735.adfce9","type":"switch","z":"8246e271.253b4","name":"","property":"payload.industry","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":80,"wires":[["133ef00d.95f46","96a49eca.902e1"],["f316724f.730c08","5964346c.92b214"],["231ce0d2.77ba8","a9dbd26e.1039a8"],["39eed129.7931ce","a8814114.88e5a"]]},{"id":"231ce0d2.77ba8","type":"template","z":"8246e271.253b4","name":"ElectricCo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n    <link href=\"//conciergevoiceserver.mybluemix.net/css/pc-overlay.css\" rel=\"stylesheet\">\n    \n    <style>\n        body{\n            padding-top:0px;\n        }\n    </style>\n</head>\n<body>\n<header>\n    <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n        <ol class=\"carousel-indicators\">\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n        </ol>\n        <div class=\"carousel-inner\" role=\"listbox\">\n            <div class=\"carousel-item active\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/pc-slide-1.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Our Parks</h3>\n                    <p>Find out more about our parks and how we do things differently here at Mega Media</p>\n                </div>\n            </div>\n            <!-- Slide Two - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/pc-slide-2.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Second Slide</h3>\n                    <p>secondslide </p>\n                </div>\n            </div>\n            <!-- Slide Three - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/pc-slide-3.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Third Slide</h3>\n                    <p>This is a description for the third slide.</p>\n                </div>\n            </div>\n        </div>\n        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n            <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Previous</span>\n        </a>\n        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Next</span>\n        </a>\n    </div>\n</header>\n<div class=\"container\">\n\n    <h1 class=\"my-4 ContactUs\"></h1>\n\n    <div class=\"row\">\n\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/PowerCo-Video.gif\"/>\n                <div class=\"card-img-overlay\">\n                    <h4 class=\"card-title text-white-50\">Renewable Energy Solutions</h4>\n                </div>\n                <div class=\"card-body\">\n                    <h5 class=\"card-title\">PowerCo Energy Source Update</h5>\n                    <p class=\"card-text\">PowerCo is dedicated to go 100% renewable energy sourcing. Find out more about how we will be the first in the USA</p>\n                </div>\n            </div>\n        </div>\n        <!--<div class=\"col-lg-4 mb-4\">-->\n            <!--<div class=\"card h-100\">-->\n                <!--<h4 class=\"card-header\">Up Next: Knicks vs Magic</h4>-->\n                <!--<div class=\"card-body\">-->\n                    <!--<div class=\"embed-responsive embed-responsive-4by3\">-->\n                        <!--<video width=\"320\" height=\"240\" controls playsinline webkit-playsinline>-->\n                            <!--<source src=\"/watchgame?playsinline=1&yourPhone={{payload.yourPhone}}\" type=\"video/mp4\">-->\n                        <!--</video>-->\n                    <!--</div>-->\n                <!--</div>-->\n            <!--</div>-->\n        <!--</div>-->\n        <div class=\"col-lg-4 col-sm-6 portfolio-item\">\n            <div class=\"card h-100\">\n                <a href=\"#\"><img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/pc-paybill.jpg\" alt=\"\"></a>\n                <div class=\"card-body\">\n                    <h4 class=\"card-title\">\n                        <a href=\"#\" class=\"nav-link\">My Bill</a>\n                    </h4>\n                    <p class=\"card-text\">Even without creating an account, you can pay your PowerCo bill, using most ATM cards, debit cards, and MasterCard and Visa credit cards, as well as electronic checks. We partner with BillMatrix to give you more efficient ways to pay your bill, on your time.</p>\n                </div>\n            </div>\n        </div>\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <h4 class=\"card-header\">View Usage </h4>\n                <div class=\"card-body\">\n                    <p class=\"card-text\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>\n                </div>\n                <div class=\"card-footer\">\n                    <a href=\"#\" class=\"btn btn-primary\">View Usage</a>\n                </div>\n            </div>\n        </div>\n    </div>\n    <!-- /.row -->\n\n</div>\n<footer class=\"py-5 bg-dark\">\n    <div class=\"container\">\n        <p class=\"m-0 text-center text-white bg-dark\">Powered by IBM Watson</p>\n    </div>\n</footer>\n<script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>\n","output":"str","x":450,"y":100,"wires":[["d1003420.4bca3"]]},{"id":"39eed129.7931ce","type":"template","z":"8246e271.253b4","name":"BigRing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n    <link href=\"//conciergevoiceserver.mybluemix.net/css/br-overlay.css\" rel=\"stylesheet\">\n    \n    <style>\n        body{\n            padding-top:0px;\n        }\n    </style>\n</head>\n<body>\n<header>\n    <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n        <ol class=\"carousel-indicators\">\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n        </ol>\n        <div class=\"carousel-inner\" role=\"listbox\">\n            <div class=\"carousel-item active\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/br-slide-1.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Our Parks</h3>\n                    <p>Find out more about our parks and how we do things differently here at Mega Media</p>\n                </div>\n            </div>\n            <!-- Slide Two - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/br-slide-2.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Second Slide</h3>\n                    <p>secondslide </p>\n                </div>\n            </div>\n            <!-- Slide Three - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/br-slide-3.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Third Slide</h3>\n                    <p>This is a description for the third slide.</p>\n                </div>\n            </div>\n        </div>\n        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n            <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Previous</span>\n        </a>\n        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Next</span>\n        </a>\n    </div>\n</header>\n<div class=\"container\">\n\n    <h1 class=\"my-4 ContactUs\"></h1>\n\n    <div class=\"row\">\n\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/BigRing-Video.gif\"/>\n                <div class=\"card-img-overlay\">\n                    <h4 class=\"card-title text-white-50\">BigRing Peering Partners</h4>\n                </div>\n                <div class=\"card-body\">\n                    <h5 class=\"card-title\">BigRing announces new peering partners</h5>\n                    <p class=\"card-text\">BigRing has partners with four new backbone parntners adding 200% capacity to our network.  Find out more about how we will be the first in the USA to offer Tier One service at discounted rates</p>\n                </div>\n                <div class=\"card-footer\">\n                    <a href=\"#\" class=\"btn btn-primary\">Learn More</a>\n                </div>\n\n            </div>\n        </div>\n        <!--<div class=\"col-lg-4 mb-4\">-->\n        <!--<div class=\"card h-100\">-->\n        <!--<h4 class=\"card-header\">Up Next: Knicks vs Magic</h4>-->\n        <!--<div class=\"card-body\">-->\n        <!--<div class=\"embed-responsive embed-responsive-4by3\">-->\n        <!--<video width=\"320\" height=\"240\" controls playsinline webkit-playsinline>-->\n        <!--<source src=\"/watchgame?playsinline=1&yourPhone={{payload.yourPhone}}\" type=\"video/mp4\">-->\n        <!--</video>-->\n        <!--</div>-->\n        <!--</div>-->\n        <!--</div>-->\n        <!--</div>-->\n        <div class=\"col-lg-4 col-sm-6 portfolio-item\">\n            <div class=\"card h-100\">\n                <a href=\"#\"><img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/pc-paybill.jpg\" alt=\"\"></a>\n                <div class=\"card-body\">\n                    <h4 class=\"card-title\">\n                        <a href=\"#\" class=\"nav-link\">My Bill</a>\n                    </h4>\n                    <p class=\"card-text\">Even without creating an account, you can pay your PowerCo bill, using most ATM cards, debit cards, and MasterCard and Visa credit cards, as well as electronic checks. We partner with BillMatrix to give you more efficient ways to pay your bill, on your time.</p>\n                </div>\n            </div>\n        </div>\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <h4 class=\"card-header\">View Usage </h4>\n                <div class=\"card-body\">\n                    <p class=\"card-text\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>\n                </div>\n                <div class=\"card-footer\">\n                    <a href=\"#\" class=\"btn btn-primary\">View Usage</a>\n                </div>\n            </div>\n        </div>\n    </div>\n    <!-- /.row -->\n\n</div>\n<footer class=\"py-5 bg-dark\">\n    <div class=\"container\">\n        <p class=\"m-0 text-center text-white bg-dark\">Powered by IBM Watson</p>\n    </div>\n</footer>\n<script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>\n","output":"str","x":440,"y":140,"wires":[["d1003420.4bca3"]]},{"id":"70ad2bab.37d184","type":"function","z":"45bfaeea.5a7458","name":"Agent Chat","func":"agents = flow.get(\"agents\");\nmsg = msg.payload;\ntry{\n    if(msg.agent == 1){\n        msg.payload = msg.text\n        return [msg, null];\n    }\n    if(msg.agent == 0){\n        agents[msg.user] = null;\n        flow.set(\"agents\", agents);\n        msg.payload = \"The agent has left the chat\";\n        return [msg, null];\n    }\n    \n    \n\n}catch(fail){}\n\nreturn [null, msg];","outputs":2,"noerr":0,"x":270,"y":240,"wires":[["f6f63353.35e8c8"],["78222dec.7fe19c"]]},{"id":"f316724f.730c08","type":"template","z":"8246e271.253b4","name":"SportsNetwork","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" integrity=\"sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB\" crossorigin=\"anonymous\">\n    <link href=\"//conciergevoiceserver.mybluemix.net/css/sb-overlay.css\" rel=\"stylesheet\">\n    \n    <style>\n        body{\n            padding-top:0px;\n        }\n    </style>\n</head>\n<body>\n<header>\n    <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n        <ol class=\"carousel-indicators\">\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n        </ol>\n        <div class=\"carousel-inner\" role=\"listbox\">\n            <div class=\"carousel-item active\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/sb-slide-1.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Our Parks</h3>\n                    <p>Find out more about our parks and how we do things differently here at Mega Media</p>\n                </div>\n            </div>\n            <!-- Slide Two - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/sb-slide-2.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Second Slide</h3>\n                    <p>secondslide </p>\n                </div>\n            </div>\n            <!-- Slide Three - Set the background image for this slide in the line below -->\n            <div class=\"carousel-item\" style=\"background-image: url('//conciergevoiceserver.mybluemix.net/img/sb-slide-3.jpg')\">\n                <div class=\"carousel-caption d-none d-md-block\">\n                    <h3>Third Slide</h3>\n                    <p>This is a description for the third slide.</p>\n                </div>\n            </div>\n        </div>\n        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n            <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Previous</span>\n        </a>\n        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Next</span>\n        </a>\n    </div>\n</header>\n<div class=\"container\">\n\n    <h1 class=\"my-4 ContactUs\"></h1>\n\n    <div class=\"row\">\n\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <img class=\"card-img-top\" src=\"//conciergevoiceserver.mybluemix.net/img/sports.gif\"/>\n                <div class=\"card-img-overlay\">\n                    <h4 class=\"card-title text-white-50\">Live and On Demand</h4>\n                </div>\n                <div class=\"card-body\">\n                    <h5 class=\"card-title\">SportsNetwork on demand</h5>\n                    <p class=\"card-text\">Start your 30 day free trial of our on demand sports programming. Only $14.99/mo after first 30 days</p>\n                </div>\n            </div>\n        </div>\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <h4 class=\"card-header\">Up Next: Knicks vs Magic</h4>\n                <div class=\"card-body\">\n                    <div class=\"embed-responsive embed-responsive-4by3\">\n                        <video width=\"320\" height=\"240\" controls playsinline webkit-playsinline>\n                            <source src=\"/watchgame?playsinline=1&yourPhone={{payload.yourPhone}}\" type=\"video/mp4\">\n                        </video>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"col-lg-4 mb-4\">\n            <div class=\"card h-100\">\n                <h4 class=\"card-header\">Fantasy Leagues</h4>\n                <div class=\"card-body\">\n                    <p class=\"card-text\">We give you the best tips on picking a winning fantasy team this season.</p>\n                </div>\n            </div>\n        </div>\n    </div>\n    <!-- /.row -->\n\n</div>\n<footer class=\"py-5 bg-dark\">\n    <div class=\"container\">\n        <p class=\"m-0 text-center text-white bg-dark\">Powered by IBM Watson</p>\n    </div>\n</footer>\n<script src=\"https://code.jquery.com/jquery-3.3.1.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>\n","output":"str","x":460,"y":60,"wires":[["d1003420.4bca3"]]},{"id":"c6377615.794f68","type":"link out","z":"8246e271.253b4","name":"Start interaction","links":["24f57f73.91a23","5784bfb2.9859e"],"x":795,"y":80,"wires":[]},{"id":"96a49eca.902e1","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.industry = msg.payload.industry;\nmsg.interaction = \"Loaded Megamedia App\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":20,"wires":[["c6377615.794f68"]]},{"id":"5964346c.92b214","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.industry = msg.payload.industry;\nmsg.interaction = \"Loaded SportsNetwork App\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["c6377615.794f68"]]},{"id":"a9dbd26e.1039a8","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.industry = msg.payload.industry;\nmsg.interaction = \"Loaded ElectricCo App\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":100,"wires":[["c6377615.794f68"]]},{"id":"a8814114.88e5a","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.industry = msg.payload.industry;\nmsg.interaction = \"Loaded BigRing App\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["c6377615.794f68"]]},{"id":"1ccaf7c4.df6608","type":"function","z":"8246e271.253b4","name":"","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"https://ibm.box.com/shared/static/iordkyaweloqttvrntr7rlwg7e908iuz.mp4\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":720,"wires":[["eb256acd.d7e5"]]},{"id":"eb256acd.d7e5","type":"http response","z":"8246e271.253b4","name":"","statusCode":"","headers":{},"x":530,"y":720,"wires":[]},{"id":"b18838ad.dbdbd8","type":"http in","z":"8246e271.253b4","name":"","url":"/watchgame","method":"get","upload":false,"swaggerDoc":"","x":180,"y":720,"wires":[["1ccaf7c4.df6608","343b71c5.5eb386"]]},{"id":"3de9b42a.a170e4","type":"link out","z":"8246e271.253b4","name":"watch video","links":["24f57f73.91a23"],"x":455,"y":760,"wires":[]},{"id":"343b71c5.5eb386","type":"function","z":"8246e271.253b4","name":"","func":"msg.user = msg.payload.yourPhone;\nmsg.interaction = \"Viewed Game Knicks vs Magic\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":760,"wires":[["3de9b42a.a170e4"]]},{"id":"42329681.1b304","type":"http request","z":"45bfaeea.5a7458","name":"Discovery","method":"GET","ret":"obj","url":"","tls":"d5b204ac.c94cd8","x":120,"y":460,"wires":[["1b4134ea.6e5ecb"]]},{"id":"a01c4a5c.4f179","type":"http response","z":"45bfaeea.5a7458","name":"","statusCode":"","headers":{},"x":570,"y":80,"wires":[]},{"id":"64d65444.2084d4","type":"http response","z":"45bfaeea.5a7458","name":"","statusCode":"","headers":{},"x":570,"y":40,"wires":[]},{"id":"f3f7748a.f4c088","type":"socketio-in","z":"45bfaeea.5a7458","name":"","server":"6dc9c968.b670a","rules":[{"v":"chat"}],"x":90,"y":280,"wires":[["370b3ff7.58f1f8"]]},{"id":"29bae652.7cf21a","type":"socketio-out","z":"45bfaeea.5a7458","name":"","server":"6dc9c968.b670a","x":940,"y":260,"wires":[]},{"id":"4938ea41.8c6e1c","type":"socketio-in","z":"45bfaeea.5a7458","name":"","server":"6dc9c968.b670a","rules":[{"v":"openModal"}],"x":150,"y":1180,"wires":[["15bc04f0.ab5f1b"]]},{"id":"4e8a938a.f1af0c","type":"socketio-out","z":"45bfaeea.5a7458","name":"","server":"6dc9c968.b670a","x":960,"y":540,"wires":[]},{"id":"2f83b170.3ff4fe","type":"socketio-out","z":"45bfaeea.5a7458","name":"","server":"6dc9c968.b670a","x":440,"y":1180,"wires":[]},{"id":"370b3ff7.58f1f8","type":"switch","z":"45bfaeea.5a7458","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"chat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":240,"wires":[["70ad2bab.37d184"]]},{"id":"15bc04f0.ab5f1b","type":"switch","z":"45bfaeea.5a7458","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"openModal","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1180,"wires":[["2f83b170.3ff4fe"]]},{"id":"f785dbf7.dbddb","type":"switch","z":"8246e271.253b4","name":"","property":"payload.yourPhone","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":240,"wires":[["4a11ebfd.7dfbf4"]]},{"id":"4a11ebfd.7dfbf4","type":"dashDB in","z":"8246e271.253b4","dashDB":"759a025.71509fc","service":"_ext_","query":"select * from USERS where PHONE = ?","params":"msg.payload.yourPhone","name":"","x":440,"y":240,"wires":[["fff2375.2476748"]]},{"id":"fff2375.2476748","type":"function","z":"8246e271.253b4","name":"","func":"if (msg.payload.length===0){\n    msg.areaCode = msg.req.query.yourPhone.substr(1,3);\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["801aa961.1178b"]]},{"id":"801aa961.1178b","type":"dashDB in","z":"8246e271.253b4","dashDB":"759a025.71509fc","service":"_ext_","query":"select * from AREA_CODE where CODE= ? FETCH FIRST 1 ROWS ONLY","params":"msg.areaCode","name":"","x":760,"y":260,"wires":[["aae5b40d.a8ccd8"]]},{"id":"c743d21.ac558b","type":"dashDB out","z":"8246e271.253b4","dashDB":"759a025.71509fc","service":"_ext_","table":"USERS","name":"","x":1040,"y":260,"wires":[]},{"id":"aae5b40d.a8ccd8","type":"function","z":"8246e271.253b4","name":"","func":"msg.payload =\n{\n   ID: \"111-11-1111\",\n   GENDER:\"M\",\n   AGE: Math.floor((Math.random() * 30) + 20) ,\n   MAIDEN_NAME: \"Doe\",\n   LNAME : \"Doe\",\n   FNAME: \"John\",\n   ADDRESS: \"12 Main St\",\n   CITY: msg.payload.CITY,\n   STATE: msg.payload.STATE,\n   ZIP: 112233,\n   COUNTRY: \"United States\",\n   PHONE: msg.req.query.yourPhone -0,\n   EMAIL: \"a@b.com\",\n   CC_NUMBER: \"na\",\n   MONTHLY_PAYMENT: Math.floor((Math.random() * 40) + 40),\n   TOTAL_PAYMENTS: Math.floor((Math.random() * 5000) + 200)\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":260,"wires":[["c743d21.ac558b"]]}]
